.hidden-cls {
    display: none;
}
.under-border {
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 16px auto 0;
}
i.flag-english {
    
    display: block;
    height: 14px;
    width: 18px; 
    margin-right: 5px;
    background: url(../images/flags.jpg) no-repeat;
    background-position: -33px 0;
}
.head-top-menu{
    font-size: 12px;

}

.info_menu ul li.hotline__top
{
position: relative;
}
.info_menu ul li.hotline__top .list__hotsline 
{background: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 372px;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    border-radius: 10px;
    display: none;
}
.list__hotsline .hotline_item{
display: flex;
 

justify-content: space-between;
}
.list__hotsline .hotline_item span{padding: 8px 20px;font-size:16px}
.list__hotsline .hotline_item span.name{border: 2px solid #ddd;width:65%;
    border-bottom: none;}
.list__hotsline .hotline_item:last-child  span.name{border-bottom: 2px solid #ddd;}
.list__hotsline .hotline_item span.phone{width:35%;border: 2px solid #FF9966 ; border-bottom: none; color:#FF9966;border-left: none; font-weight:bold }
.list__hotsline .hotline_item:last-child span.phone{border-bottom: 2px solid #FF9966;}
   
.sticky .head-top-menu {
display:none;
}
.subpage .head-top-menu
{
    position: relative;
    top: initial;
    left: initial;
    width: 100%;
}
.subpage  .wap-header{
position: relative;
    top: initial;
    left: initial;
    width: 100%;
    margin-top: 0px;
}
.sticky .wap-header{
margin-top:0px;
box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.sticky .wap-header .img_home img{
max-width:45px;}
.sticky .wap-header .img_home span{color:#000;}
div#vnt-content\ one_news  .mod-content{
    padding :30px 0;
}

.wap-header{
}
.header_menu_bottom.active{
}
.img_home{display: inline-flex;
    align-items: center;}
.img_home img{    max-width: 80px;
    margin-right: 10px;
    min-width: 80px;
}
.img_home h1{    margin: 0;
    display: block;
    font-size: 37px;
    line-height: 37px;
    font-weight: 700;
    color: #800912;margin-bottom: 10px;}
.img_home p{
color: #800912;
    font-style: italic;
    font-size: 25px;
}
.subpage .img_home span{color:#000;}
.wap_slider.vnt-banner{
    max-height: 600px;
    height: 600px;
}

.subpage  .wap-header .vnt-menutop > ul > li > a
{

}
.slick-list,.slick-track,.wap_slider.vnt-banner .item,.wap_slider.vnt-banner .item .img,.wap_slider.vnt-banner .item .img img{
max-height:100%;
height:100%;
}
.wap_slider .item{position: relative;}
.wap_slider .item::before, .wap_slider .item::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.15);
content:"";
}
.wap_slider.vnt-banner .item .img{
position: relative;
}
.item__box{
    position: absolute;
    top: 50%;
    left: 50%;
transform: translate(-50%,-50%);
width:100%;
z-index:99;
}
.item__box h2{
font-size: 46px;
    line-height: 50px ;
font-weight:bold;
color:#fff;
}
.item__box{  color: #ffffff !important;}
.item__box p{
font-size: 14px ;
    line-height: 21px ;
}
.buttonCustomPrimary {
   
    line-height: normal;
    background-color: #ff891e;
    text-transform: uppercase;
    color: #ffffff !important;
    font-size: 15px;
    padding: 0;
    margin-bottom: 5px;
    width: 131px;
    height: 34px;
    line-height: 34px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

}

 
.hometour{
margin-bottom:30px;}
.hometour .title
{
text-align:center;
margin-bottom:20px;
color:#85393a;
}
 .hometour  .slick-slide{
padding:0 10px;}.hometour .item .img{height:200px;}.hometour .item .img img{width:100%;height:100%;}
.hometour .item .content {
padding:0 10px;
}
.hometour .item article
{
box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
position: relative;
margin-bottom:15px;
    padding-bottom: 8px;
}
.hometour .item .content h3 a
{
  color: #85393a;
    width: 100%;
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    /* height: 44px; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.hometour .item .content h3 a:hover{color: #ff9903; }
 .hometour .item .content .details
{display: flex;
    justify-content: end;
 }
  .hometour .item .content .details .buttonCustomPrimary{border-radius:0;}
.hometour .item article .date  {
    position: absolute;
    padding: 5px;
    top: 35px;
    right: 0px;
    background: #ff891e;
    color: #fff;
    width: 110px;
}
.promotion {
    background-image: url(https://www.saigontouristvietnam.com/uploads/articles/IB%202022/Spectrum-of-the-sea-02.jpg);
    background-attachment: fixed;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
.promotion .promotion-box{
    height: auto;
    margin: 93px 40px;
    background: #fec4b8;
padding: 25px 15px 15px 50px;
}
.promotion .promotion-box .top-box-header {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #85393a;
margin-bottom:15px;
}
.promotion .promotion-box .content-box-title {  
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
margin-bottom:15px;
}
.promotion .promotion-box .bottom-box-description
{
display:left;
    width: 100%;
    display: flex;
}
 .promotion .promotion-box .bottom-box-description .text-description {
    font-size: 13px;
    line-height: 20px;
}
.btn-promotion {
    height: 26px;
    text-transform: none;
    background-color: #ff891e;
    color: #ffffff !important;
    font-size: 13px;
    border-radius: 0;
    line-height: 23px;
    text-align: center;
    padding: 0 10px;
}
.destinations
{
padding: 40px 0 0 0;
margin-bottom:30px;
}
.destinations__title {
text-align:center;
margin-bottom:20px;
}
 .destinations__title h2{
      text-align: center;
    margin-bottom: 20px;
    color: #85393a;
}
.destinations .destinations__list .destination__item{padding :0 10px;}
 .destinations .destinations__list .destination__item  article 
{
box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
position: relative;
}
.destinations .destinations__list .destination__item  .destination__item-content .detail-name-text {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 44px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
}
 .destinations .destinations__list .destination__item  article  .destination__item-img
{
position: relative;
}

.destinations .destinations__list .destination__item  article  .destination__item-img .destination__item-cat
{
position: absolute;

    bottom: 0;
    width: 100%;
color:#fff;
}
.destinations .destinations__list .destination__item  article  .destination__item-img .destination__item-cat .text {
    text-align: left;
    padding-left: 15px;
    color: #fff;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
}
.destinations .destinations__list .destination__item  article  .destination__item-img .destination__item-cat .cat {
    text-align: left;
    padding-left: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    background: #0a0a0aa1;
}
.destinations .destinations__list .destination__item  article .destination__item-content{
    padding: 10px 10px;
}
 .detail-title-text {
    line-height: 20px;
    font-size: 13px;
    color: #555;
    border-bottom: 1px solid #555;
}
.subscribed_wrap{background: #85393a !important;
    color: #fff;
    position: relative;}
.info-promotion {
    padding: 25px 25px 25px 200px;

}
.title-info-promotion {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 15px;
    
}
.background-image-email-promotion {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 180px;
    background: url(https://www.saigontouristvietnam.com/images/email.png);
    background-repeat: no-repeat;
    background-position: -30px 3px;
}
.sp-form {display: block;
    background: #85393a;
    padding: 15px;
    width: 450px;
    max-width: 100%;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;}
.sp-form .sp-field {
    padding: 8px;
    position: relative;
    text-align: left;
}
 .sp-form .sp-field.sp-button{text-align: right;}
.sp-form .sp-field.sp-button button {
    border-radius: 4px;
    background-color: #FF9966;
    color: #ffffff;
    width: auto;
    font-weight: 700;
    font-style: normal;
    font-family: Arial, sans-serif;
    box-shadow: inset 0 -2px 0 0 #c29500;
  
}
.whiteSection
{
padding: 40px 0 0 0;
}
.whiteSection .commitment-box {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.whiteSection .commitment-box .commitment-image {
    width: 75px;
    display: flex;
    align-items: center;
}
.whiteSection .commitment-box .commitment-image .icon-commitment {
    width: 80%;
    height: auto;
}
.whiteSection  .commitment-box .commitment-content .commitment-taitle {
    font-size: 13px;
    text-align: left;
    text-transform: uppercase;
    line-height: 24px;
    float: left;
    width: 100%;
    padding: 6px 0;
    font-weight: 600;
    color:#85393a;	
}
.whiteSection  .commitment-box .commitment-content .commitment-description {
    font-size: 13px;
    line-height: 20px;display: inline-block;
}
.garely
{
margin-bottom:30px;
}
.title-garely
{
  text-align: center;
}
.icon-hot {
    width: 18px;
    height: 18px;
    margin-left: 3px;
    background-repeat: no-repeat;
    background: url(https://www.saigontouristvietnam.com/images/icon_tour.png);
    display: inline-block;
    background-size: 100%;
}
.i-slder{
    height: 500px;
    position: relative;

}
.i-slder::before
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,.25);
}
 
 .i-slder .banner_box{
    position: absolute;
    width: 100%;
    bottom: 0;
 
    z-index: 100;
}
.i-slder .banner_box .bnBox_wrap
{   background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 25px;
    max-height: 260px;
}
.i-slder .banner_box .tour-banner-title {
    text-align: left;
    color: #ffffff;
    font-size: 32px;
    width: 100%;
    margin: 15px 0px;
}
.i-slder img{
width:100%;   
 object-fit: cover;
height:100%;
}
.i-slder .banner_box  h3{
margin:0;text-transform: uppercase;
color: #fff;
}
.i-slder.newpost .banner_box
{
	bottom:50%;
text-align: center;

}
.i-slder.newpost .banner_box .bnBox_wrap{
    background: transparent;
}
.list_blogsss .sub_news .bannerImg
{
    margin-bottom: 18px;
position: relative;
}
.list_blogsss .sub_news .bannerImg img {
    max-height: 300px;
    width: 100%;
}
.list_blogsss .sub_news .bannerImg .nameCate {
    position: absolute;
    left: 19px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.35);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 20px;
    text-transform: uppercase;
}
.new_items
{
    background-color: whitesmoke;
    border-radius: 4px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
}
.new_items .news_sub img
{ max-height:170px;
}
.new_items img{
height: 170px;
width:100%;
    object-fit: cover;
}
.new_items.c2 img{

width:100%;
} 
.new_items .media-body
{
    margin-bottom: 15px;
    display: block;
    width: 100%;
    padding:0 10px;
    overflow: hidden;
    text-align: justify;
}
.new_items .media-body h5 a{
color: #333;
    text-transform: uppercase;
    font-weight: bold;
}
#form_search {
    background: #e5e5e5;
    position: relative;
    z-index: 102;
padding:10px 0;
}
.input-search,.dateF {
    background: #fff;
    border: 1px solid #ccc;
border-color: #dedede;
    
    height: 45px;
    border: none;
    border-bottom: 1px solid rgba(222, 222, 222, 0.3);
    padding: 0;
    border-radius: 0;
}
 #form_search input {
    color: #000 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 44px;
    line-height: 44px;
    background: transparent;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: none !important;
    display: table-cell;
}
#form_search .buttonCustomPrimary{
 height: 44px;
border-radius: 0px;
}
.imageTour{
height: 480px;
    margin-top: 0 !important;
    background-position: center;
    background-size: cover;
    width: 100%;
position: relative;
}
.imageTour .box__tour{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.imageTour .box__tour .box__tour-wrap{
background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 25px;
}
.imageTour .box__tour .box__tour-wrap .tour-banner-title {
    text-align: left;
    color: #ffffff;
    font-size: 32px;
    width: 100%;
    margin: 15px 0px;
}
.tabs__single-product li.active a {    color: #ff891e;
    font-weight: 600;}
.contentForm .tour-form .input-search-tour,.contentForm .tour-form input[type="date"]{margin-bottom:20px;}
.contentForm .tour-form input[type="date"]:last-child{
margin-bottom:0;}
.contentForm .tour-form .input-search-tour .search_header
{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: transparent;
}
.single__detail {
display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.single__detail .single__item{width:50%;}
.detail1{
    margin-bottom: 70px;
}
 @media screen  and (max-width:991.99999999px){
        .wap_slider.vnt-banner {
    max-height: initial;
    height: initial;
}
.item__box h2 {
    font-size: 20px;
    line-height: initial;

}
}
