.grid-tour-01 .item.featured {
    background: #fffcd7;
}
.banner_2
{
    margin-bottom: 10px;
}

.gird-new_home.noborder{margin-bottom:0}

.gird-new_home .item{position:relative;min-height:1px;padding-right:15px;padding-left:15px}

.gird-new_home .item .wap-item {

    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.13);
    margin-bottom: 15px;
}
.gird-new_home .item .i-desc
{
    padding: 0px 15px 10px;
}
.gird-new_home .item .i-desc .mota
{
    font-style: italic;
}
.gird-new_home .item .i-desc .mota i {
    vertical-align: middle;
    font-size: 12px;
    margin-right: 3px;
    margin-top: -3px;
    display: inline-block;
    color: #3F51B5;
}
.gird-new_home .item .i-desc .mota p
{
  display: contents;
  font-weight: 400;
}
.vnt-selling .pf-title h2{margin-bottom:0}

.col-1{max-width:100%;-ms-flex-preferred-size:100%;flex-basis:100%}

.col-2{max-width:50%;-ms-flex-preferred-size:50%;flex-basis:50%}

.col-3{max-width:33.33333%;-ms-flex-preferred-size:33.33333%;flex-basis:33.33333%}

.col-4{max-width:25%;-ms-flex-preferred-size:25%;flex-basis:25%}

.col-5{max-width:20%;-ms-flex-preferred-size:20%;flex-basis:20%}

.col-6{max-width:16.66667%;-ms-flex-preferred-size:16.66667%;flex-basis:16.66667%}

.col-7{max-width:14.28571%;-ms-flex-preferred-size:14.28571%;flex-basis:14.28571%}

.col-8{max-width:12.5%;-ms-flex-preferred-size:12.5%;flex-basis:12.5%}

.col-10{max-width:10%;-ms-flex-preferred-size:10%;flex-basis:10%}

.viewallcat{float:right;overflow:hidden}

.viewallcat a {
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #E0163B;
    padding: 14px 10px;
}

.viewallcat a i{padding-left:10px}

.gallery_wrap{height:300px;}
.gallery_wrap .item{padding: 0 5px;}
.gallery_wrap .item .img{    position: relative;    height: 100%;}
.gallery_wrap .item .img img {
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
@media screen and (max-width: 1024px) {


.vnt-product .grid-prod .item.col-5{max-width:100%;-ms-flex-preferred-size:100%;flex-basis:100%}


.vnt-selling.showmenu .slick-arrow{z-index:0}

.vnt-product .pf-title h2{margin-top:5px;font-size:15px}

.vnt-selling{margin-top:0;margin-bottom:0}

.bg-news .gird-new_home .item .i-image{max-height:100%}

#slider-function .item .i-images img{min-height:auto}



section header.show-nav .h1{font-size:16px}

.vnt-function{margin-top:0}

.vnt-function .pf-title h2{font-size:16px}

section header.show-nav{display:block}

#slider-function{height:105px;overflow-x:overlay;overflow-x:auto;transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;margin-bottom:0}

#slider-function .item{display:inline-block;float:none;padding:0;max-width:23.5%}

}

@media screen and (max-width: 768px) {



}

@media screen and (max-width: 767px) {



}

@media screen and (max-width: 479px) {



}

@media screen and (max-width: 360px) {



}

@media screen and (max-width: 320px) {

.card-categories-li{max-width:33.33333%;-ms-flex-preferred-size:33.33333%;flex-basis:33.33333%}

.vnt-product .pf-title h2{font-size:12px}

}