

.wap_in{background: #fff;overflow: hidden;padding-top: 20px;}
.er_toc{font-size:10pt;max-width:100%;padding:5px 10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#dbedf9;border:1px solid #c7e4f4}
.er_toc ul,.er_toc ol{margin:0;padding:0}
.er_toc li{padding-top:5px;list-style:none;font-size:15px}
.er_toc li a{color:#167ac6}
.er_toc li ul li a{color:#167ac6}
.er_toc ul ul,.er_toc ol ol{margin-left:20px}
.er_toc .er_toc_title{display:block;font-weight:700;border-bottom:1px solid #167ac6;margin-bottom:5px;font-size:18px;line-height:28px;padding:5px}
.er_toc .er_toc_title_close{color:#167ac6}
.er_toc .er_toc_title span{display:inline-block;border:0 solid #fff;width:0;overflow:hidden;height:0;margin:0 0 0 3px}
.er_toc .er_toc_title_open span{border-width:0 5px 6px;border-color:#333 #f1f1f100}
.er_toc .er_toc_title_close span{border-width:5px 5px 0;border-color:#333 #f1f1f100}
a.er_toc_top{display:none;border:0 solid #fff;width:0;overflow:hidden;height:0;margin:0 0 0 5px;border-width:0 6px 12px;border-color:#999 #fff}
a.er_toc_top:hover{border-color:#1982D1 #fff}
.er_toc_disc ul,.er_toc_disc ol{margin-left:20px}
.er_toc_disc li{list-style:disc}
.box{margin:2rem 0 0}
.i-rate{text-align:center}
.mota{text-align:center}
.post_news_detail{font-size:17px;line-height:30px; background: #fff;text-align: justify;}
.post_news_detail h2{font-size:25px;line-height:37px}
.post_news_detail h3{font-size:22px;font-weight:600}
.post_news_detail h4{font-size:20px;font-weight:600}
.post_news_detail h5,h6{font-size:18px;font-weight:600}
.comment{margin-top:1px; background: #fff;}
.comment .title-cat{text-align:left}
.dembl{position:relative;top:-8px; }
.box figure figcaption{bottom:6px}
ul.article-info-more{padding-left:0;text-align:center}
ul.article-info-more li i{margin-right:0}
ul.article-info-more li{opacity:.85;display:inline-block;font-size:13px;font-weight:600}
ul.article-info-more li a{color:#333}
.breadcrumb ul{padding:10px 15px}
.i-desc{padding-bottom:0}
@media screen and (max-width: 1024px) {
.er_toc{padding:15px}
.post_news_detail h2{font-size:25px;line-height:35px}
.post_news_detail img{width:100%;height:auto!important}
.comment{margin-top:0}
.title-cat{margin-top:0}
ul.article-info-more{margin-bottom:0}
.dembl{top:0}
ul.article-info-more li{font-size:12px}
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 320px) {
ul.article-info-more li{font-size:10px}
}