



.support-right-lq{border:1px solid #4db848;padding:0 10px 10px;overflow:hidden;

    margin-bottom: 25px;}

.support-right-lq h3{font-size:21px;line-height:28px;text-align:center;color:#4db848;font-weight:700}

.support-right-lq h3 a

{

	font-size:21px;line-height:28px;text-align:center;color:#4db848;font-weight:700;

	text-transform: uppercase;

}

.support-right-lq hr{margin-top:10px;margin-bottom:10px}

.news{padding:0;list-style-type:none}

.news .news-releas{width:100%;display:flex;padding-bottom:5px;border-bottom:1px solid #EEE;margin-top:5px}

.news .image{width:23%}

.news .content{width:77%;position:relative}

.news .content p{font-weight: bold;font-size:14px;padding-left:10px;color:#303030;padding-bottom:15px;text-transform:capitalize}

.news .date{font-size:12px;position:absolute;bottom:0;left:10px;color:#C4C4C4}

.breadcrumb_left ul{text-align:center}

.nav-tabs{border-bottom:none; margin-bottom: 20px;}

.list_item_news figure h3 a{text-decoration:none;color:#000;font-size:15px;line-height:25px}

.project-tab{padding:5px 15px 15px;overflow:hidden}

.list_item_news figure h3{height:50px; margin: 0; overflow: hidden;}

.tab-content{background:#fff}

.box{margin:2rem 0 11rem}

.box_blog{margin:2rem 0}

.list_item_news{margin-bottom:20px;line-height:26px}

.list_item_news .i-img{position:relative;overflow:hidden;height:210px}

.list_item_news figure

{

	border: 1px solid #EEE;

    box-shadow: 0 3px 4px #0000001c;

    padding: 0px 10px 12px;

}
.list_item_news figure  figcaption
{
    padding: 7px 12px 0px;
}
.list_item_news img{max-height:100%;max-width:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}

.box .list_item_news{margin-bottom:100px}

.title-cat{text-align:left}

.title-cat h3:before{background:inherit}

.box figure{-webkit-transition:1s all;transition:1s all;position:relative;height:295px}

.box figure img{-o-object-fit:cover;object-fit:cover;-webkit-transition:.3s all;transition:.3s all;-webkit-backface-visibility:hidden;backface-visibility:hidden}

.box figure figcaption{position:absolute;bottom:-50px;left:8%;right:8%;background:#ffffffc9;color:#000;padding:20px 15px;-webkit-box-shadow:0 5px 10px #00000033;box-shadow:0 5px 10px #00000033;-webkit-transition:.5s all;transition:.5s all}

.box figure figcaption .i_desc{display:inline-block;font-size:15px;line-height:23px}

.box figure figcaption::after{left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);bottom:0;height:2px;background:#fc5546;content:'';width:0;position:absolute;-webkit-transition:.5s all;transition:.5s all}

.box figure figcaption h3{font-weight:600;font-size:16px;line-height:24px;display:-webkit-box;-webkit-line-clamp:2;overflow:hidden;-webkit-box-orient:vertical}

.box figure figcaption h3 a{color:#333}

.box figure:hover{-webkit-transform:translateY(5px);transform:translateY(5px);cursor:pointer}

.box figure:hover h5{color:#fc5546}

.box figure:hover img{-webkit-box-shadow:0 0 6px #0000004f,-10px -10px 1px #f97955;box-shadow:0 0 6px #0000004f,-10px -10px 1px #f97955}

.box2 figure:hover figcaption{-webkit-transform:translateY(-7px);transform:translateY(-7px);-webkit-box-shadow:0 10px 10px #0000004f;box-shadow:0 10px 10px #0000004f;cursor:pointer}

.box figure:hover figcaption::after{width:100%}

.news_noibat_mobile{display:none}

.news_noibat_mobile h3{font-size:18px;font-weight:600;padding:10px;line-height:28px;margin:0}

.all_cat_wrapper:hover .all_categories{display:block}

.sp-slides{padding-left:0}

.menu{padding-left:0;margin-bottom:0}

.menu li{list-style:none}

.menu li a{display:block;padding:3px 5px;color:#333;border-radius:2px}

.menu li a.actmenu{background:#fed701}

.vnt-viewed{padding:15px;border:1px solid #e3e5ec;background:#F2F4F3;margin-bottom: 30px;}

.vnt-viewed .div_title{font-size:20px;font-weight:600;margin-bottom:10px;padding-bottom:5px;border-bottom:1px solid #bfbfbf54}

.gird-viewed .item{padding:5px 0}

.gird-viewed .item ~ .item{}

.gird-viewed .item .i-image{width:65px;float:left;margin-top:2px}

.gird-viewed .item .i-title a{font-size:14px;line-height:26px;color:#000;font-weight:400}

.gird-viewed .item .i-title h4{margin:0}

.gird-viewed .item .i-title a:hover{color:#0067b1}

.i-rate ul li{list-style:none;display:inline-block;padding-right:5px}

.desc h1{font-size:30px;margin:0 0 10px;font-weight:700;text-align:center;padding:0 30px}

.pull-left .pull-left_bar{width:200px}

.fb_iframe_widget{top:2px}

.title-cat h3{margin:0;font-weight:700}

.i-rate{text-align:center;margin-bottom:10px}

.i-rate ul{padding-left:0;margin-bottom:0}

.i-rate ul li .mystar img{padding-right:10px}

.i-rate ul li a:hover{color:#288ad6}

.i-rate ul li .i-cmt{color:#288ad8;font-size:12px}

.i-rate ul li .fa-comment{color:#FF9800}

.comment{color:#333}

.comment .pagination{background:transparent;padding:0;margin-bottom:0}

.comment .pagination ul{text-align:left}

.comment .title{font-size:25px;line-height:33px;margin-bottom:10px;color:#333}

.div_answer{margin-top:20px;color:#333;padding:15px;position:relative;background:#f8f8f8;border:1px solid #dfdfdf}

.div_answer:before{position:absolute;content:'';left:24px;bottom:100%;border-bottom:11px solid #f8f8f8;border-left:11px solid transparent;border-right:11px solid transparent}

.qtv{background:#ed1e8c;border-radius:2px;padding:0 5px;line-height:normal;border:1px solid #ed1e8c;font-size:11px;color:#fff;font-weight:400;display:inline-block;margin-bottom:10px}

.div_answer .info_answer{font-weight:700;color:#000}

.grid-comment .node-commnet:last-child{border-bottom:none}

.formComment{margin-top:10px}

.formComment .form-control{height:38px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}

.formComment textarea.form-control{resize:vertical;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;height:100px}

.formComment .input-group-btn{padding-left:5px;vertical-align:top}

.formComment button.btn{height:auto;font-size:14px;line-height:24px;padding:7px 40px;margin-right:5px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}

.formComment button.btn span{color:#fff}

.formComment .w_content .content-info{padding:15px 0;background-color:#fff;position:relative}

.formComment .w_content .content-info .info-title{margin-bottom:10px;color:#333}

.formComment .w_content .content-info .form-control{float:none;margin-bottom:10px}

.grid-comment{margin-bottom:20px}

.grid-comment .node-commnet{padding:20px 0;border-bottom:1px solid #e5e5e5}

.grid-comment .node-commnet .avatar img{width:100%}

.grid-comment .node-commnet .info-comment{margin-left:60px;position:relative}

.grid-comment .node-commnet .info-comment .info-preson{color:#7c7c7c;margin-bottom:5px}

.grid-comment .node-commnet .avatar{float:left;position:relative;width:45px;height:45px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;background:#0bb2f0}

.grid-comment .node-commnet .avatar .yotpo-user-letter{background:transparent!important;position:absolute;top:10px;width:100%;min-width:100%;left:0;text-align:center;font-size:20px;color:#fff}

.grid-comment .node-commnet .info-comment .info-preson .email{}

.sttB{cursor:pointer;color:#333;font-size:13px}

.grid-comment .node-commnet .info-comment .info-preson .name{font-size:16px;font-weight:700}

.grid-comment .node-commnet .info-comment .linkanswer{margin-bottom:10px;text-align:right;font-size:12px;line-height:24px;font-weight:700;color:#263415}

.grid-comment .node-commnet .info-comment .linkanswer a{position:relative;display:inline-block;padding-right:12px;color:#263415}

.grid-comment .node-commnet .info-comment .linkanswer a:hover{text-decoration:underline}

.grid-comment .node-commnet .info-comment .linkanswer a:after{position:absolute;font-family:"fontawesome";content:"\f054";top:2px;right:0;color:#263415;font-size:7px}

.listanswer .nodeanswer{background-color:#ddd;margin-bottom:1px;padding:10px}

.box_mid .mid-title{text-align:center}

.desc-onenews{width:100%;margin:0 auto;color:#333;float:none}

.i-desc{color:#fff;max-width:800px;margin:0 auto;padding-bottom:15px;color:#333}

.the-content {color: #333;}

.the-content h3{margin:15px 0 0}

blockquote{border-left:0}

@media screen and (max-width: 1024px) {

	.list_item_news figure {

    padding: 15px 30px 0px;

}

.project-tab{padding:15px 5px;border:none}

.list_item_news figure h3{height:auto;margin-top: 10px; }

.the-content{max-width:100%}

.project-tab nav ul{white-space:nowrap;overflow-x:auto;transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;padding-bottom:0}

.project-tab nav ul li{display:inline-block;float:none}

.project-tab nav ul li.active{position:absolute;left:0;top:0}

.project-tab nav ul.active{padding-left:40%}

.list_item_news{height:auto}

.timer_comment{float:left;font-size:14px;color:#333}

.project-tab .nav-tabs>li>a{font-size:13px;font-weight:600;margin:0}

.nav-tabs>li>a{padding:10px 1px 5px 10px}

.project-tab .i_desc{margin-bottom:30px}

.heading{font-size:18px}

.box figure{height:auto}

.box .list_item_news{margin-bottom:30px}

.i-rate{text-align:left}

.grid-comment .node-commnet .info-comment .info-preson{margin-bottom:0}

.pull-left .pull-left_bar{width:120px}

.i-rate ul li .i-cmt .hidden_cmt{display:none}

iframe{width:100%}

.img-news{height:auto}

.desc h1{padding:0}

}

@media screen and (max-width: 767px) {

.box figure figcaption{position:inherit;bottom:inherit;left:inherit;right:0}

.box{margin:2rem 0 0}

}

@media screen and (max-width: 639px) {



}

@media screen and (max-width: 320px) {

.project-tab .nav-tabs>li>a{padding:10px 9px}

}