html.openmenu{}

html{-webkit-box-sizing:border-box;box-sizing:border-box;-ms-overflow-style:scrollbar}

::-webkit-scrollbar{-webkit-appearance:none}

::-webkit-scrollbar:vertical{width:12px}

::-webkit-scrollbar:horizontal{height:12px}

::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,0.5);border-radius:10px;border:2px solid #fff}

::-webkit-scrollbar-track{border-radius:10px;background-color:#fff}

img{max-width:100%;    object-fit: cover;}

body{font-size:14px;line-height:24px;    font-family: 'Montserrat', 'Open Sans', sans-serif;}
h1, h2, h3, h4 {
    font-family: 'Oswald', 'Open Sans', sans-serif;
    text-transform: uppercase;
}


.heading-1 {
    text-align: center;
    display: block;
    width: 100%;
}

#modal {
    max-width: 60%;
    padding: 10px;
    background-color: #fff;
    color: #333;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#modal .closez{
    float:right;
    color: #000;
}
#modal img{
   max-height: 400px;
}
/* BEGIN LOGIN */
.vnt-login .fa-user {
    color: #ef6a25;
    font-size: 16px;
    float: left;
    width: 38px;
    line-height: 35px;
    border: 1px solid #ef6a25;
    border-radius: 50px;
    margin-right: 10px;
}
.wap-login
{
    position: absolute;
    top: 40px;
    right: 40px;
}
.vnt-login .login{display:block; color: #000;}
.vnt-login .dropdown-menu{left:0px}
.wap-login .item_header{float:right;width:30%;margin-top:5px}
.wap-login .icon_header{float:left;margin-right:10px}
.wap-login .icon_header i{border:1px solid #fff;border-radius:50px;padding:12px;color:#fff}
.wap-login .item_header .txt_header_right{font-size:13px;color:#fff}
.bnt-login.focus,.bnt-login:focus,.bnt-login:hover{color:#fff;text-decoration:none}
.vnt-login button small{float:left}
.vnt-login button{color:#000 !important;padding:8px 15px;font-size:12px;border-radius:20px;background:none}
.vnt-login button .Userstyle{font-size:12px}
.vnt-login button img{width:20px;height:20px;display:inline-block;margin-right:5px}
.vnt-login button .name_login{display:inline-block}

/* END LOGIN */

.cart-title .count{position:absolute;top:-5px;right:-2px;text-align:center;font-size:11px;font-weight:700;overflow:hidden;background:red;color:#fff;width:16px;height:16px;border-radius:100%;line-height:16px;left:auto}

.cart_moblie {
    position: absolute;
    top: 48px;
    right: 10px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #ef6a25;
}
.cart_moblie .cart-title a small{padding-left:0}

.cart_moblie .cart-title i{color:#fff;font-size:14px;line-height:32px}


/* BEGIN SEARCH */
#search {
    background: #fd9803;
    padding: 10px 15px;
    border: 1px solid #fd9803;
    box-shadow: 1px 1px 1px #fd9803;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}
.heading-1 span {
    color: #ed187d;
    padding: 7px 50px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    display: block;
}
#search .btn {
    background-color: #85393a;
    border-color: #85393a;
}
#search label {
    color: #fff;
    font-weight: 700;
}
.form-search-tour
{
    position: relative;
}
.tabs-select-travel {
    position: absolute;
    top: calc(100% - 0px); 
    width: 65%;
    height: 372px;
    background: #fff;
    transition: all .35s;
    transform: translate(0,0px);
    /* opacity: 0; 
     visibility: hidden;  */
     z-index: 1; 
    display: none;
    box-shadow: 0 0 40px -20px #000;
}

.form-search-tour.active .tabs-select-travel {
   display: block;
}

.form-search-tour.active .tabs-select-travel.active {
    transform: translate(0,0px)
}

/* .form-search-tour:hover .tabs-select-travel{z-index: 9980;opacity: 1;transform: translate(0,0);visibility: visible;} */
.tabs-select-travel #menu-select-tab {
    width: 188px;
    float: left;
    height: 100%;
    max-height: 100%;
    display: block;
    border-bottom: 0;
    border-right: 1px solid #e9e9e9;
}

.tabs-select-travel #menu-select-tab li {
    display: table;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #e9e9e9;
    min-height: 46px;
}

.tabs-select-travel #menu-select-tab li a {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
    padding: 0 15px;
    position: relative;
    border: 0;
    border-radius: 0;
}

.tabs-select-travel #menu-select-tab li a:hover , .tabs-select-travel #menu-select-tab li a:focus , .tabs-select-travel #menu-select-tab li.active a {
    background: #ff7e00;
    color: #fff;
}

.tabs-select-travel #menu-select-tab li a:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    border: 8px solid transparent;
    border-color: transparent transparent transparent transparent;
    transform: translate(97%, -50%);
    transition: all .35s;
    z-index: 999;
}

.tabs-select-travel #menu-select-tab li.active a:before {
    border-color: transparent transparent transparent #ff7e00;
}

.tabs-select-travel #menu-select-tab li a span {
    line-height: 22px;
    display: block;
}

.tabs-select-travel #content-select-tab {
    width: 514px;
    float: left;
    height: 100%;
    overflow: auto;
    position: relative;
}

.tabs-select-travel #content-select-tab.tab-content > .tab-pane {
    padding: 17px 13px;
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
    visibility: hidden;
    transition: all .35s;
}

.tabs-select-travel #content-select-tab.tab-content > .tab-pane.active {
    z-index: 998;
    opacity: 1;
    visibility: visible;
}

.list-tour_v1 {
    display: block;
    margin: -6px;
    height: calc(100% + 12px);
    overflow: auto;
    max-height: calc(100% + 12px);
    transform: translate(20px,0);
    transition: all .35s ease-in-out;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.list-tour_v1 .item {
    padding: 6px;
    width: calc(100% / 4);
    height: calc(100% / 4);
    float: left;
}

.list-tour_v1 .item .avt {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.list-tour_v1 .item .avt img {
    width: 100%;
    height: 100%;
    transition: all .35s
}

.list-tour_v1 .item .avt .overlay-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.33);
    transition: all .35s;
}

.list-tour_v1 .item .avt span {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,0);
    color: #ffff;
    z-index: 999;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.list-tour_v1 .item:hover .avt img {
    transform: scale(1.1);
}

.list-tour_v1 .item:hover .avt .overlay-item {
    opacity: 0;
}

.tabs-select-travel #content-select-tab.tab-content > .tab-pane.active .list-tour_v1 {
    visibility: visible;
    z-index: 100;
    opacity: 1;
    transform: translate(0,0);
}

.list-tour_v1::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.list-tour_v1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(57, 52, 52);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.list-tour_v1::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #2196F3;
    -webkit-box-shadow: inset 0 0 6px #03A9F4;
}

/* END SEARCH */


.glyphicon-star{color:#fe8c23;font-size:13px;margin:0 2px}
.glyphicon-star-empty{margin:0 2px}
.glyphicon-star-empty{color:#dedddd;font-size:13px}
.rating{float:left;border:none;background-color:initial;font-size:0}
.rating-container .rating-stars{position:relative;cursor:pointer;vertical-align:middle;display:inline-block;overflow:hidden;white-space:nowrap}
.rating-container .rating-input{position:absolute;cursor:pointer;width:100%;height:1px;bottom:0;left:0;font-size:1px;border:none;background:0 0;padding:0;margin:0}
.rating-container .rating-input:focus{outline:0;outline-offset:0}
.rating-disabled .rating-input,.rating-disabled .rating-stars{cursor:not-allowed}
.rating-container .star{display:inline-block;text-align:center}
.rating-container .empty-stars{color:#aaa;font-size:13px}
.rating-container .filled-stars{position:absolute;left:0;top:0;margin:auto;color:#fde16d;white-space:nowrap;overflow:hidden}
.rating-rtl{float:right}
.rating-animate .filled-stars{transition:width .25s ease;-o-transition:width .25s ease;-moz-transition:width .25s ease;-webkit-transition:width .25s ease}
.rating-rtl .filled-stars{left:auto;right:0;-moz-transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0);-webkit-transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0);-o-transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0);transform:matrix(-1,0,0,1,0,0) translate3d(0,0,0)}
.rating-rtl.is-star .filled-stars{right:.06em}
.rating-rtl.is-heart .empty-stars{margin-right:.07em}
.rating-lg{display:inline-block}
.rating-md{display:inline-block;margin-left:-2px}
.rating-sm{display:inline-block}
.rating-xs{display:inline-block}
.rating-xl{display:inline-block}
.rating-container .clear-rating{color:#aaa;cursor:not-allowed;display:inline-block;vertical-align:middle;font-size:60%;padding-right:5px;display:none}
.clear-rating-active{cursor:pointer!important}
.clear-rating-active:hover{color:#843534}
.rating-container .caption{color:#999;display:inline-block;vertical-align:middle;font-size:60%;margin-top:-.6em;margin-left:5px;margin-right:0;display:none}
.rating-rtl .caption{margin-right:5px;margin-left:0}



/* BEGIN INFOR TONGDAI */
.info_menu ul{margin-bottom:0px; padding-left: 90px;}

.info_menu ul:after{display:block;content:'';clear:both}

.info_menu ul li{font-size:12px;line-height:20px;float:left;list-style:none}

.info_menu ul li a {
    display: block;
    line-height: 32px;
    color: #000;
    font-size: 14px;
    font-weight: 600;cursor: pointer;
}

.info_menu ul li a i{font-size:14px;line-height:20px;padding-right:5px;}

/* END INFOR TONGDAI */


/* BEGIN INFOR HOSONANGLUC */
.info_hs
{
    text-align: right;
}
.info_hs ul{margin-bottom:00px; padding-left: 0;}

.info_hs ul:after{display:block;content:'';clear:both}

.info_hs ul li {
    list-style: none;
    margin-right: 20px;
    display: inline-flex;
}
.info_hs ul li a {
    display: flex;
	align-items:center;
    font-size: 14px;
    color: #000;    font-weight: 600;
}
.info_hs ul li a i{font-size:12px;line-height:20px;padding-right:5px;color:#000}

/* END INFOR HOSONANGLUC */



/* BEGIN INFOR menu right */
.info_menu_right
{
    text-align: left;
}
.info_menu_right ul{    padding-left: 70px;}

.info_menu_right ul:after{display:block;content:'';clear:both}

.info_menu_right ul li {
    list-style: none;
    display: inline-flex;
}
.info_menu_right ul li a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px 20px 5px 20px;
    color: #fff !important;
    margin-right: 15px;
    line-height: 45px;
    padding: 0px 10px 0px;
    background: #ea4326;
}

/* END INFOR menu right */
/* BEGIN GIRD TOUR */
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.grid-tour-01 {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

.grid-tour-01 .item {
    margin-bottom: 30px;
    border-radius: 0 0 5px 5px;
    background: #fff;
    width: 100%
}

.grid-tour-01 .item.featured {
    background: #fffcd7
}

.grid-tour-01 .title-cate {
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    width: 100%;
    color: #fefe00;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    background: #0a0a0aa1;
}
.grid-tour-01 .item .item-top {
    position: relative;
}
.grid-tour-01 .item .item-top a {
    display: block;
    display: block;
    width: 100%;
    min-height: 180px;
    background: url('../images/blank.jpg') no-repeat #a9a9a9;
    background-size: 356px 249px;
}
.grid-tour-01 .item .item-bottom {
    padding: 6px;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.tooltip-inner {
    display: none
}

.grid-tour-01 .item .item-bottom .price .sale-price {
    color: #ff002d;
    font-weight: 700;
    font-size: 17px
}

.grid-tour-01 .item .item-bottom .province {
    background: #4db655;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 4px 8px;
    left: -12px
}
.grid-tour-01 .item .item-bottom .i-promotion
{
    display: inline-flex;
    font-size: 17px;
}
.grid-tour-01 .item .item-bottom .i-promotion span
{
    padding: 4px 10px;
    color: #ff002d;
    font-weight: 700;
}
.grid-tour-01 .item .item-bottom .i-promotion .i-price
{
    padding: 4px 10px;
    text-decoration: line-through;
}

.grid-tour-01 .item .item-bottom .province:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    left: 0;
    top: 25px;
    border-width: 0 6px 6px 0;
    border-color: transparent #000333 transparent transparent
}

.grid-tour-01 .item .item-bottom .title {
    font-size: 15px;
    margin: 5px 0;
    color: #10375e;
    margin-top: 10px
}

.grid-tour-01 .item .item-bottom .title a {
    color: #10375e;
    display: block;
    text-align: justify;
    line-height: 24px;
    font-weight: 600;
}
.grid-tour-01 .item .item-bottom .title a:hover {
    text-decoration: none;
    color: #ff9903
}

.grid-tour-01 .item .item-bottom .meta {
    list-style-type: none;
    padding: 0;
    font-size: 14px
}
.grid-tour-01 .item .item-bottom .meta li {
    margin: 10px 0;
    line-height: 15px;
}
.grid-tour-01 .item .item-bottom .meta i {
    color: #333;
    margin-right: 10px;
    float: left;
}

.grid-tour-01 .item .item-bottom .meta .schedule a {
    display: inline-block;
    background: #ff9903;
    color: #fff;
    padding: 1px 4px;
    font-size: 13px;
    margin-right: 3px;
    line-height: 20px;
    border-radius: 5px;
    margin-bottom: 6px;
    width: 45px;
    float: left;
}
.grid-tour-01 .item-bottom .xinfo, .grid-tour-01 .item-bottom .xinfo {
    margin-top: -3px
}

.grid-tour-01 .item-bottom .xinfo div, .grid-tour-01 .item-bottom .xinfo div {
    display: block;
    position: relative;
    float: left;
    width: 33.333333333333%
}

.grid-tour-01 .item-bottom .xinfo div * {
    display: block;
    position: relative
}

.grid-tour-01 .item-bottom .xinfo div {
    display: block;
    position: relative;
    float: left;
    width: 33.333333333333%
}

.grid-tour-01 .item-bottom .xinfo div > span {
    margin: 0 11px;
    padding: 9px 0;
    background-color: #F9F9F9;
    -moz-box-shadow: 0 0 1px #999;
    -ms-box-shadow: 0 0 1px #999;
    -o-box-shadow: 0 0 1px #999;
    -webkit-box-shadow: 0 0 1px #999;
    -khtml-box-shadow: 0 0 1px #999;
    box-shadow: 0 0 1px #999;
    text-align: center
}

.grid-tour-01 .item-bottom .xinfo div > span span {
    margin: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    font-size: smaller
}

.grid-tour-01 .item-bottom .xinfo div > span:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 3px;
    background-color: #57ae46
}

.grid-tour-01 .item-bottom .xinfo div > span i.fa {
    color: #8DC957;
    margin-bottom: 3px
}

/* END GIRD TOUR */


#vnt-wrapper{width:100%;}

#vnt-container{width:100%;max-width:1920px;margin:0 auto;position:relative;}

.wrapper{max-width:1200px;margin:0 auto;padding:0 15px;background:#fff}

.not_calendar{margin:0}

.menu_news li a{color:#e51873}

.menu_news li{display:block;float:none}

a:focus,a:hover{text-decoration:none}

.add-to-cart-success{cursor:default;position:absolute;background:#fff;box-shadow:1px 1px 15px #b3b3b3;right:200px;padding:15px 20px;z-index:9999;top:70px;border-radius:6px;left:auto}

.add-to-cart-success .close{opacity:.8;position:absolute;top:3px;right:5px;cursor:pointer;font-size:28px;line-height:1;color:#000;text-shadow:0 1px 0 #fff}

.add-to-cart-success p.text{font-size:14px;color:#333;margin:0 10px 10px}

.add-to-cart-success p.text i{color:#1db33f}

.add-to-cart-success .btn{padding:8px 16px;margin:0 10px;background:#5ad3c0;color:#fff;font-size:14px;font-weight:200;border-radius:4px;text-align:center;border:0;cursor:pointer}

.add-to-cart-success:after{content:"";position:absolute;width:11px;height:11px;top:-4px;right:15px;-webkit-transform:rotate(45deg);transform:rotate(45deg);background:#fff;box-shadow:-1px -1px 0 #dfdfdf;z-index:-1}


.wap-header.active,.subpage  .wap-header.active{position:fixed;background-color:#fff;width:100%;left:0;top:0;box-shadow:0 1px 6px #000;z-index:999;transition:all .3s}

.header-ads{max-width:1200px;margin:0 auto;display:block;text-align:center;height:auto;max-height:44px;position:relative}



.vnt-menutop > ul{margin-bottom:0;padding-left:0;display:flex;    align-items: center;    justify-content: space-around;}

.vnt-menutop > ul:after{display:block;content:'';clear:both}

.vnt-menutop > ul > li{margin:0 15px;position:relative;list-style:none;}
.vnt-menutop > ul > li.formContact{position:relative;   background: #85393a;
    padding: 0 15px;
    color: #fff; border-radius: 4px;
}
.vnt-menutop > ul > li.formContact a i{color:#fff}
.vnt-menutop > ul > li .contentForm {    position: absolute;
    z-index: 204;
    right: 0;
    top: 100%;
    max-width: 420px;
    min-width: 320px;
    background: #fff;
    padding: 15px;
    border-radius: 4px;
  
}
.vnt-menutop > ul > li:first-child{margin-left:0}

.vnt-menutop > ul > li:last-child{margin-right:0}

.vnt-menutop > ul > li > a{font-weight:700;display:block;font-size:17px;line-height:26px;padding:8px 0;position:relative;color:#fff;text-transform:uppercase}

.vnt-menutop > ul > li > a img{width:20px;height:20px}

.vnt-menutop > ul > li > a:after{position:absolute;display:block;left:0;bottom:0;right:100%;content:'';height:2px;background:#fff;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}

.vnt-menutop > ul > li.current > a:after,.vnt-menutop > ul > li:hover > a:after{right:0}

.vnt-menutop ul ul.sub_2{position:absolute;top:100%;left:0;background:#fff;-webkit-box-shadow:0 0 5px #000;-moz-box-shadow:0 0 5px rgba(0,0,0,0.25);box-shadow:0 0 5pxrgba(0,0,0,0.25);z-index:10;margin-top:20px;opacity:0;visibility:hidden;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;width:1015px;padding-left:0;padding-right:0}

.vnt-menutop ul li:hover > ul.sub_2{opacity:1;visibility:visible;margin-top:7px;}

.vnt-menutop ul ul.sub_2 li{border-top:1px solid #d9d9d9;position:static;list-style:none;width:19%;display:inline-block}

.vnt-menutop ul ul.sub_2 li > a{display:block;font-size:13px;line-height:20px;padding:10px 18px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;color:#333}
.vnt-menutop ul ul.tutuc ul.sub_3 li{position:relative;list-style:none;width:100%;display:block}
.vnt-menutop ul ul.tutuc li a:hover{
    color: #ff891e !important;
    background-color: #f5f5f5;
}

/* .vnt-menutop ul ul.sub_2 li:hover ul.sub_3{opacity:1;visibility:visible;margin-top:7px;z-index:11} */

.vnt-menutop ul ul ul.sub_3 li{position:relative;list-style:none;width:32.3%;display:inline-block}
.vnt-menutop ul ul ul.sub_3 li a:hover{color: #ff891e !important;background-color:#f5f5f5;}

.vnt-menutop ul ul.tutuc{position:absolute;top: calc(100%);left:60px;background:#fff;-webkit-box-shadow:0 0 5px #000;-moz-box-shadow:0 0 5px rgba(0,0,0,0.25);box-shadow:0 0 5pxrgba(0,0,0,0.25);z-index:103;margin-top:20px;opacity:0;visibility:hidden;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;transform:translate(-30%,0%);width:230px;padding-left:0;padding-right:0;}
.vnt-menutop ul ul.tutuc.tour{width:230px;}

.vnt-menutop ul li:hover > ul.tutuc{opacity:1;visibility:visible;margin-top:0px;}

.vnt-menutop ul ul.tutuc > li{position:relative;list-style:none;width:100%;display:block;    border-top: 1px solid #d9d9d9;}
.vnt-menutop ul ul.tutuc > li:first-child{border-top: none}

.vnt-menutop ul ul.tutuc  li > a{display:block;font-size:13px;line-height:20px;padding:10px 18px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;color:#333;text-transform: uppercase;}

.vnt-menutop ul li .tutuc  li .sub_3 {
      position: absolute;
    left: 100%;
    width: 100%;
    background: #fff;
    top: 00;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;    transition: all .5s;
    transform: translateX(30px);
}
.vnt-menutop ul li .tutuc li:hover .sub_3
{
  opacity: 1;
       visibility: visible;
    transform: translateX(0px);
}
.vnt-logo{text-align:left}
.vnt-logo h1 span{display:none}

.vnt-logo h1{margin:0;display:block}

.vnt-menutop ul ul.news{position:absolute;top:100%;left:80%;background:#fff;-webkit-box-shadow:0 0 5px #000;-moz-box-shadow:0 0 5px rgba(0,0,0,0.25);box-shadow:0 0 5pxrgba(0,0,0,0.25);z-index:10;margin-top:20px;opacity:0;visibility:hidden;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;transform:translate(-30%,0%);width:240px;padding-left:0;padding-right:0}

.vnt-menutop ul li:hover > ul.news{opacity:1;visibility:visible;margin-top:7px;z-index:11}

.vnt-menutop ul ul.news li{border-top:1px solid #d9d9d9;position:relative;list-style:none;width:100%;display:block}

.vnt-menutop ul ul.news li > a{display:block;font-size:13px;line-height:20px;padding:10px 18px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;color:#333}

.vnt-search .vs_title{width:44px;height:44px;color:#000;text-align:center;font-size:24px;line-height:30px;padding:6px 0;cursor:pointer;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}

.vnt-search .vs_title:hover{background-color:#0d2a8a}

.vnt-search .vs_title i{font-size:24px;line-height:30px}

.vnt-search .formSearch{position:absolute;top:5px;left:10px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;z-index:5;width:75%}

.vnt-search .formSearch:hover,.vnt-search .formSearch:focus{width:100%}

.vnt-search .formSearch .form-control{outline:none;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;box-shadow:none;font-size:14px;line-height:20px;height:33px;border-radius:20px}

.vnt-search .formSearch button.btn{width:40px;height:33px;line-height:0;border:none;outline:none;background:none;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;font-size:20px;color:#000}

#autocomplete .input-group-btn{position:absolute;top:0;right:40px}

#load_search{position:relative}

.wrap_search{position:absolute;z-index:9999;background:#fff;width:41%;padding:10px 15px 5px;border-left:1px solid #f7f7f7;border-right:1px solid #f7f7f7;border-bottom:1px solid #f7f7f7;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);-moz-box-shadow:0 1px 1px rgba(0,0,0,.05);-o-box-shadow:0 1px 1px rgba(0,0,0,.05);-ms-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05);left:25%;top:0;max-height:404px;overflow:auto}


.header_menu_bottom {
    width: 100%;
    display: block;
    padding: 15px 0;
        background: #800912;
   
}

.wap_slider .img img{width:100%}

.vnt-banner .item{display:none}

.vnt-banner .item:first-child{display:block;visibility:hidden}

.vnt-banner.slick-initialized .item{display:block;visibility:visible!important}

.gird-new_home{border-bottom:1px solid #1d1d1d;margin-bottom:30px}

.gird-new_home.noborder{border-bottom:0}

.gird-new_home .item{margin-bottom:20px;overflow:hidden}

.gird-new_home .item .i-image{text-align:center;overflow:hidden;position:relative;z-index:1;margin-bottom:5px}

.gird-new_home .item .i-image a{display:block;text-align:center}

.gird-new_home .item .i-image img{-webkit-transition:transform .8s cubic-bezier(0.44,0.185,0.575,0.86);-moz-transition:transform .8s cubic-bezier(0.44,0.185,0.575,0.86);-o-transition:transform .8s cubic-bezier(0.44,0.185,0.575,0.86);transition:transform .8s cubic-bezier(0.44,0.185,0.575,0.86);-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}

.gird-new_home .item .i-image:hover img{-webkit-transform:scale(1.06);-moz-transform:scale(1.06);-o-transform:scale(1.06);-ms-transform:scale(1.06);transform:scale(1.06)}

.gird-new_home .item .i-desc .i-title{margin-bottom:10px}

.gird-new_home .item .i-desc .i-title a{color:#000;font-size:17px;line-height:27px;font-weight:700}

.gird-new_home .item .i-desc .i-content{color:#999;height:66px;overflow:hidden}

.gird-new_home .item .i-image .i-date{position:absolute;top:20px;left:0;width:55px;height:55px;background:rgba(0,0,0,0.7);text-align:center;font-size:11px;line-height:16px;color:#fff;padding-top:3px;z-index:2000}

.gird-new_home .item .i-image .i-date span{display:block;font-size:25px;line-height:30px}

.gird-new_home .item .i-desc-pro{height:75px;overflow:hidden;color:#000}

.vnt-selling{margin-top:0}

.vnt-product .prod-title{position:relative}

.i-price_s{color:#000;line-height:19px;text-decoration:line-through}

.i-price-sale{color:#000;line-height:19px}

.product_banchay{padding-top:35px}

.product_tindung{padding-top:35px}

.vnt-product{background:#fff;padding-top:5px}

.vnt-product .i-saleoff{display:none;z-index:22;background-color:#ff424e;font-weight:500;color:#fff;position:absolute;right:0;bottom:0;padding:0 5px;border-radius:2px;color:#fff;font-size:12px}

.vnt-product label.discount{display:none;position:absolute;bottom:0;left:10px;font-size:11px;color:#fff;font-weight:600;background-image:linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);border-radius:10px;padding:0 7px;padding-left:0;z-index:22}

.vnt-product label.discount:before{content:' ';display:inline-block;background:url(../images/discount.png);background-size:50% 50%;width:20px;height:20px;background-repeat:no-repeat;background-position:center center;background-color:#f13500;border-radius:50%;vertical-align:middle;position:relative;top:-1px;margin-right:5px}

.vnt-product .slick-arrow{border-radius:50px;width:40px;height:40px;border:1px solid #e51873;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;background:#e51873;top:-5px;margin-right:10px;z-index:2;top:50%;position:absolute}

.vnt-product .slick-prev{left:-33px}

.vnt-product .slick-next{right:-33px}

.vnt-product .slick-arrow:after{position:absolute;font-family:fontawesome;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);font-size:24px;line-height:30px;color:#fff}

.vnt-product .slick-prev:after{content:'\f104'}

.vnt-product .slick-next:after{content:'\f105'}

.vnt-product .prod-title .pt-right{float:right}

.vnt-product .prod-title .pt-right a{display:block;font-size:13px;line-height:20px;color:#059ce1;padding:14px}

.vnt-product .prod-title .pt-right a:hover{color:#307abd}

.vnt-product .prod-title .pt-right a:after{font-family:fontawesome;content:'\f101';padding-left:8px}

.vnt-product .grid-prod:after{display:block;content:'';clear:both}

.vnt-product .grid-prod .item{margin-bottom:20px;background:#fff}

.vnt-product .grid-prod .item .wrap-item{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;overflow:hidden;border:1px solid #EEE;box-shadow:0 3px 4px #0000001c}

.vnt-product .grid-prod .item .wrap-item .i-top{position:relative}

.vnt-product .grid-prod .item .wrap-item .i-top .i-image{margin-bottom:10px;position:relative;overflow:hidden}

.vnt-product .grid-prod .item .wrap-item .i-top .i-image .hot{position:absolute;top:0;right:0}

.vnt-product .grid-prod .item .wrap-item .i-top .i-image img{max-width:100%;max-height:100%;transition:all .3s}

.vnt-product .grid-prod .item:hover .wrap-item .i-top .i-image img{transition:all .3s;transform:scale(1.1)}

.vnt-product .grid-prod .item .wrap-item .i-top .it-desc{float:right;width:25%;height:156px;overflow:hidden;margin-top:50px;font-size:14px;line-height:26px;color:#666}

.vnt-product .grid-prod .item .wrap-item .i-top .it-info{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(22,40,0,0.8);color:#fff;padding:30px 15px;opacity:0;visibility:hidden;-webkit-transition:all .8s ease .1s;-moz-transition:all .8s ease .1s;-o-transition:all .8s ease .1s;transition:all .8s ease .1s}

.vnt-product .grid-prod .item .wrap-item:hover .i-top .it-info{opacity:1;visibility:visible;-webkit-transition-delay:0;-moz-transition-delay:0;-o-transition-delay:0;transition-delay:0}

.vnt-product .grid-prod .item .wrap-item .i-top .it-info .wrap-info{max-height:156px;overflow:hidden;margin-bottom:20px;color:#fff;font-size:14px;line-height:26px;-webkit-transition:all .5s ease .3s;-moz-transition:all .5s ease .3s;-o-transition:all .5s ease .3s;transition:all .5s ease .3s;-webkit-transform:translate(-40px,0);-moz-transform:translate(-40px,0);-o-transform:translate(-40px,0);-ms-transform:translate(-40px,0);transform:translate(-40px,0);opacity:0}

.vnt-product .grid-prod .item .wrap-item:hover .i-top .it-info .wrap-info{-webkit-transition-delay:0;-moz-transition-delay:0;-o-transition-delay:0;transition-delay:0;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);opacity:1}

.vnt-product .grid-prod .item .wrap-item .i-top .it-info .i-link{-webkit-transition:all .5s ease 0;-moz-transition:all .5s ease 0;-o-transition:all .5s ease 0;transition:all .5s ease 0;-webkit-transform:translate(-40px,0);-moz-transform:translate(-40px,0);-o-transform:translate(-40px,0);-ms-transform:translate(-40px,0);transform:translate(-40px,0);opacity:0}

.vnt-product .grid-prod .item .wrap-item:hover .i-top .it-info .i-link{-webkit-transition-delay:.3s;-moz-transition-delay:.3s;-o-transition-delay:.3s;transition-delay:.3s;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);opacity:1}

.vnt-product .grid-prod .item .wrap-item .i-top .it-info .i-link a{display:inline-block;font-size:14px;line-height:20px;padding:7px 23px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;border-radius:4px;background:#fff;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}

.vnt-product .grid-prod .item .wrap-item .i-top .it-info .i-link a:hover{color:#fff;background:#d9231d}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-promotion .i-saleoff{position:absolute;bottom:0;right:0;font-size:16px;color:red}

.vnt-product .grid-prod .item .wrap-item .i-top .i-saleoff:before{font-family:fontawesome;content:'\f0d7';font-size:18px;line-height:20px;padding-right:6px}

.vnt-product .grid-prod .item .wrap-item .i-desc .desc-left{float:left;width:100%;padding:5px 15px 10px}

.vnt-product .grid-prod .item .wrap-item .i-desc .desc-left .call_me{color:#015af2}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-title{font-size:16px;line-height:24px}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-title h3{margin:0 0 5px}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-title h3 a{overflow:hidden;height:50px;margin:0;font-size:14px;line-height:24px;display:block;color:#333}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-title a h4{font-weight:700;height:65px;overflow:hidden;margin:0 0 5px;font-size:14px;line-height:24px;display:block;color:#4cae22}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-price{line-height:24px;text-decoration:line-through;display:inline-block;font-size:13px;color:#656565;font-weight:400;padding-left:10px}

.vnt-product .grid-prod .item .wrap-item .i-desc .desc-left .i-rating{font-size:11px;display:none}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-promotion{height:45px;font-weight:700;padding-bottom:0;word-break:break-all;font-size:24px;color:red;vertical-align:middle;position:relative;float:left;line-height:34px}

.form_tour{float:right;margin-bottom:0}

.vnt-product .product-promo{position:absolute;z-index:0;bottom:5px;left:10px;display:inline-block;background:red;padding:1px 10px;border-radius:5px;font-weight:700;color:#fff;font-size:12px}

.vnt-product .pf-title h2{margin-bottom:10px;text-transform:uppercase;margin-top:10px;position:relative;text-align:left;padding-bottom:25px;float:left;font-size:21px;line-height:31px;font-weight:700}

.vnt-product .grid-prod .item .wrap-item .i-desc .desc-right{width:110px;float:right;padding-right:10px}

.vnt-product .grid-prod .item .wrap-item .i-desc .buy-now{font-size:13px;line-height:20px;text-align:center;padding:7px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;border-radius:4px;color:#fff;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;text-transform:uppercase;background:#e51873;border:1px solid #e51873}

.vnt-product .grid-prod .item .wrap-item:hover .i-desc .buy-now{background:#e51873;color:#fff}

.vnt-product .grid-prod .item .wrap-item .i-desc .buy-now :hover{border-color:#db110a;background:#db110a;color:#fff}

.choose-quantity{float:left;height:38px;width:25%}

.q-prev{width:30px;height:30px;display:block;text-align:center;padding-top:5px;padding-left:50%;color:#333;cursor:context-menu}

.q-next{width:30px;height:30px;display:block;text-align:center;padding-top:5px;padding-left:10%;color:#333;cursor:context-menu}

.q-prev i{color:#333}

.q-next i{color:#333}

.quantity{width:35px;color:#2a2a2a;height:30px;text-align:center;cursor:context-menu}

.choose-quantity tr{border:1px solid #e6e6e6}

.choose-quantity tr td input{border:none}

.daban{font-size:11px}



.wrap .wrap-header{margin-bottom:30px}

.wrap .wrap-title{text-transform:uppercase;position:relative;font-size:30px;font-weight:700;text-align:center;color:#e51873;line-height:40px;padding-bottom:6px}

.wrap .wrap-title::before{content:"";width:60px;height:3px;background:#e51873;position:absolute;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%);bottom:0}

.wrap .wrap-desc{font-size:110%;text-align:center;margin-bottom:0}

ul.tsc_pagination li a i{line-height:30px}

ul.tsc_pagination li a:hover,ul.tsc_pagination li a.current{color:#FFF;box-shadow:0 1px #EDEDED;-moz-box-shadow:0 1px #EDEDED;-webkit-box-shadow:0 1px #EDEDED}

ul.tsc_pagination{padding:0;height:100%;overflow:hidden;list-style-type:none;margin-bottom:30px;text-align:center;display:block;width:100%}

ul.tsc_pagination li{margin:0;padding:0;display:inline-block}

ul.tsc_pagination li a{text-decoration:none;width:30px;height:30px;line-height:30px;margin:0 4px;transition:all .3s;border:1px solid #015af2;display:inline-block}

ul.tsc_pagination li a img{border:none}

ul.tsc_pagination li a:hover,ul.tsc_pagination li a.current{background:#015af2}

.clear{clear:both}

.breadcrumb{box-shadow:0 -3px 8px 0 rgba(0,0,0,0.04);margin-bottom:0;-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;-ms-border-radius:0;border-radius:0;width:100%;background:inherit}

.breadcrumb.nomb{margin-bottom:0}

.breadcrumb:after{position:absolute;top:100%;right:0;width:170px;border-bottom:1px dotted #d9d9d9}

.breadcrumb ul{padding:10px 15px;width:100%;background-color:transparent;margin:0;position:relative;text-align:left}

.breadcrumb ul:after{position:absolute;right:0;bottom:0;width:150px;height:1px}

.breadcrumb ul li{padding:0 12px;position:relative;display:inline-block;font-size:12px;line-height:20px;color:#64b9f0}

.breadcrumb ul li a{font-size:14px;line-height:24px;color:#b71616}

.breadcrumb ul li a h1{font-size:12px;margin:0;padding:0;line-height:30px}

.breadcrumb ul li:first-child{padding-left:0}

.breadcrumb ul li:last-child{}

.breadcrumb ul li ~ li:before{position:absolute;font-family:fontawesome;content:"\f105";top:2px;left:-2px;color:#333}

.breadcrumb ul li.home a{display:inline-bloosition: absolute;top:4px;left:-3px;text-indent:-99999px;color:transparent;width:20px;height:22px}

.PageOverlay{position:fixed;top:0;left:0;height:100vh;width:100vw;z-index:2;opacity:.5;visibility:visible;background:#363636;transition:opacity .3s ease-in-out,visibility .3s ease-in-out}

.PageOverlay_modal{position:fixed;top:0;left:0;height:100vh;width:100vw;z-index:2;opacity:.5;visibility:visible;background:#363636;transition:opacity .3s ease-in-out,visibility .3s ease-in-out}

.no-scroll{overflow:hidden}

.modal-confirm{color:#636363;width:325px}

.modal-confirm .modal-content{padding:20px;border-radius:5px;border:none}

.modal-confirm .modal-header{border-bottom:none;position:relative}

.modal-confirm h4{text-align:center;font-size:26px;margin:30px 0 -15px}

.modal-confirm .form-control,.modal-confirm .btn{min-height:40px;border-radius:3px}

.modal-confirm .close{position:absolute;top:-5px;right:-5px}

.modal-confirm .modal-footer{border:none;text-align:center;border-radius:5px;font-size:13px}

.modal-confirm .icon-box{color:#fff;position:absolute;margin:0 auto;left:0;right:0;top:-70px;width:95px;height:95px;border-radius:50%;z-index:9;background:#82ce34;padding:15px;text-align:center;box-shadow:0 2px 2px rgba(0,0,0,0.1)}

.modal-confirm .icon-box i{font-size:58px;position:relative;top:3px}

.modal-confirm.modal-dialog{position:fixed;left:50%;top:50%;z-index:20000;transform:translate(-50%,-50%)}

.modal-confirm .btn{color:#fff;border-radius:4px;background:#82ce34;text-decoration:none;transition:all .4s;line-height:normal;border:none}

.modal-confirm .btn:hover,.modal-confirm .btn:focus{background:#6fb32b;outline:none}

.PageOverlay{position:fixed;top:0;left:0;height:100vh;width:100vw;z-index:2;opacity:.5;visibility:visible;background:#363636;transition:opacity .3s ease-in-out,visibility .3s ease-in-out}

.RemoveOverlay{position:sticky;background-color:rgba(255,255,255,1);z-index:10}

.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus{outline:none}

.btn-passnews{background:#015af2;color:#fff;padding:10px 0}

.btn-passnews.focus,.btn-passnews:focus,.btn-passnews:hover{color:#fff}

.border-block-shadow{position:relative;display:block;margin-bottom:0;border-radius:8px;border:1px solid #eee;box-shadow:0 6px 12px 0 rgba(0,0,0,.05);padding:0;margin-bottom:0;max-height:70px}

.hvr-shutter-out-horizontal{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);position:relative;color:#333;background-color:#fff;padding:5px 15px;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.3s;transition-duration:.3s;border:1px solid #00a2ff}

.hvr-shutter-out-horizontal:hover{color:#fff;border:1px solid #4cae22;border-radius:4px}

.hvr-shutter-out-horizontal:focus{color:#fff}

.hvr-shutter-out-horizontal:before{content:"";position:absolute;z-index:-1;top:0;bottom:0;left:0;right:0;background:#4cae22;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:50%;transform-origin:50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}

.hvr-shutter-out-horizontal:hover:before,.hvr-shutter-out-horizontal:focus:before,.hvr-shutter-out-horizontal:active:before{-webkit-transform:scaleX(1);transform:scaleX(1);border:none;color:#fff}

.newsletter-button-r1z{display:inline-grid;justify-content:center;align-items:center;border-radius:0;outline:none;color:#fff;background-color:#000;position:relative;z-index:1;overflow:hidden;background-color:transparent;border:1px solid #3b67d7;transition:color .5s ease-in-out;padding:2px 15px}

.newsletter-button-r1z:hover{color:#000}

.newsletter-button-r1z::before{content:'';position:absolute;top:0;left:-50px;bottom:0;right:0;border-left:50px solid transparent;border-top:50px solid #3b67d7;transform:translateX(0);z-index:-1;box-sizing:border-box;transition:.5s ease-in-out}

.newsletter-button-r1z:hover::before{transform:translateX(100%)}

.remove-decoration{color:#333}

.btn.active,.btn:active{-webkit-box-shadow:none;box-shadow:none}

.fixedposicon{position:fixed;bottom:15px;left:30px;z-index:999}

.fixedposicon a{margin-bottom:30px}

.fixedposicon a.btncall{position:relative;color:#fff;display:block;width:44px;height:44px;background:#78c025;border-radius:50%;font-size:24px;text-align:center}

.fixedposicon a.btncall i{line-height:44px}

.fixedposicon a.btncall .label{display:none;height:30px;line-height:30px;border-top-left-radius:15px;border-bottom-left-radius:15px;position:absolute;left:-100px;top:7px;white-space:nowrap;padding:0 15px;background:#018fe5;color:#FFF;font-size:12px}

.fixedposicon a.btncall .label:before{border-right-color:#018fe5}

.fixedposicon a.btncall .label:before{content:"";top:0;right:-15px;position:absolute;display:block;width:0;height:0;border-top:15px solid transparent;border-left:15px solid #018fe5;border-bottom:15px solid transparent}

.fixedposicon a.btncall:hover .label{background:#018fe5;color:#FFF;display:block}

.fixedposicon a.btnfacebook img{height:65px;width:60px}

.fixedposicon a.btnfacebook{position:relative;left:-8px;top:-12px}

.fixedposicon a.btnfacebook i{line-height:44px}

.fixedposicon a.btnfacebook .label{display:none;height:30px;line-height:30px;border-top-left-radius:15px;border-bottom-left-radius:15px;position:absolute;left:-240px;top:-4px;white-space:nowrap;padding:0 15px;background:#018fe5;color:#FFF;font-size:12px}

.fixedposicon a.btnfacebook .label:before{border-right-color:#018fe5}

.fixedposicon a.btnfacebook .label:before{content:"";top:0;right:-15px;position:absolute;display:block;width:0;height:0;border-top:15px solid transparent;border-left:15px solid #018fe5;border-bottom:15px solid transparent}

.fixedposicon a.btnfacebook:hover .label{background:#018fe5;color:#FFF;display:block}

.fixedposicon a.btnmap{position:relative;color:#fff;display:block;width:44px;height:44px;background:#03bce5;border-radius:50%;font-size:30px;text-align:center}

.fixedposicon a.btnmap i{line-height:44px}

.fixedposicon a.btnmap .label{display:none;height:30px;line-height:30px;border-top-left-radius:15px;border-bottom-left-radius:15px;position:absolute;left:-227px;top:7px;white-space:nowrap;padding:0 15px;background:#018fe5;color:#FFF;font-size:12px}

.fixedposicon a.btnmap .label:before{border-right-color:#018fe5}

.fixedposicon a.btnmap .label:before{content:"";top:0;right:-15px;position:absolute;display:block;width:0;height:0;border-top:15px solid transparent;border-left:15px solid #018fe5;border-bottom:15px solid transparent}

.fixedposicon a.btnmap:hover .label{background:#018fe5;color:#FFF;display:block}

.fixedposicon a.btnzalo{position:relative;color:#888;display:block;width:100%;height:100%}

.fixedposicon a.btnzalo .label{display:none;height:30px;line-height:30px;border-top-left-radius:15px;border-bottom-left-radius:15px;position:absolute;left:-210px;top:7px;white-space:nowrap;padding:0 15px;background:#018fe5;color:#FFF;font-size:12px}

.fixedposicon a.btnzalo .label:before{border-right-color:#018fe5}

.fixedposicon a.btnzalo .label:before{content:"";top:0;right:-15px;position:absolute;display:block;width:0;height:0;border-top:15px solid transparent;border-left:15px solid #018fe5;border-bottom:15px solid transparent}

.fixedposicon a.btnzalo:hover .label{background:#018fe5;color:#FFF;display:block}

.btn-group.open .dropdown-toggle{box-shadow:none;-webkit-box-shadow:none}

.title-cat{font-size:32px;line-height:42px;margin-bottom:10px;text-align:left;font-weight:700;margin-top:30px}

.title-cat span{color:#ffa801;font-weight:400;font-size:13px;display:block;line-height:25px;padding-bottom:10px}

.title-cat h3{font-size:22px;line-height:32px;display:inline-block;position:relative;color:#333}

.title-cat h3:before{position:absolute;content:'';bottom:-10px;left:0;width:80px;height:2px;background:#015696}

.title-cat_sp{padding:30px 0}

.video-container{position:relative;padding-bottom:48.75%;height:0;overflow:hidden}

.i-gif{display:none}

video{width:100%}

.video-container iframe,.video-container object,.video-container embed{position:absolute;top:0;left:0;width:100%;height:100%}

.mod-content .box_mid{margin-bottom:0}


.support-hotline{ margin-bottom:30px;}
.support-hotline .div_title{position:relative;z-index:20;pointer-events:auto;cursor:pointer;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;transform: translate(-160px,0);}

.support-hotline .div_title span.icon{width:44px;height:44px;position:relative;display:block}

.support-hotline .div_title span.icon:before{background-color:rgba(120,184,42,0.2);opacity:.75;top:-20px;left:-20px;right:-20px;bottom:-20px;position:absolute;content:'';-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid transparent;-webkit-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;-moz-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;-ms-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;-o-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}

.support-hotline .div_title span.icon:after{top:-30px;left:-30px;right:-30px;bottom:-30px;position:absolute;content:'';background-color:transparent;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid rgba(120,184,42,0.4);opacity:.1;-webkit-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;-moz-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;-ms-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;-o-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;animation:quick-alo-circle-anim 1.2s infinite ease-in-out;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}

.support-hotline .div_title i{position:relative;display:block;width:100%;height:100%;padding-top:5px;background:#FF9966;font-size:26px;line-height:30px;text-align:center;color:#fff;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid transparent;-webkit-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;-moz-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;-ms-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;-o-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;animation:quick-alo-circle-img-anim 1s infinite ease-in-out;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%; }

.support-hotline .div_title.show{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}

.support-hotline .div_title span.text{display:block;position:absolute;bottom:7px;width:100%;text-align:center;color:#fff;font-size:11px;line-height:16px}

.support-hotline .div_content{pointer-events:auto;width:175px;position:absolute;top:0;left:75px;background-color:#fff;border:2px solid red;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;-ms-border-radius:6px;border-radius:6px;-webkit-transform:translate(-400px,0);-moz-transform:translate(-400px,0);-o-transform:translate(-400px,0);-ms-transform:translate(-400px,0);transform:translate(-400px,0);-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;padding:18px;color:#fff}

.support-hotline.show .div_content{-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}

.support-hotline .div_content:before{position:absolute;content:'';top:16px;left:-16px;border-right:16px solid red;border-top:16px solid transparent;border-bottom:16px solid transparent}

.support-hotline .div_content:after{position:absolute;content:'';top:18px;left:-14px;border-right:14px solid #fff;border-top:14px solid transparent;border-bottom:14px solid transparent}

.support-hotline .div_content .title_hotline{font-size:14px;line-height:20px;margin-bottom:0;text-transform:uppercase;color:#333}

.support-hotline .div_content .number_phone a{font-size:22px;line-height:40px;color:red;margin-bottom:10px;position:relative;font-weight:700}

.support-hotline .div_content .yahoo_skype{margin-bottom:0}

.support-hotline .div_content .yahoo_skype .fl{width:49%;float:left;background:#00adef;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;border-radius:4px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;position:relative}

.support-hotline .div_content .yahoo_skype .fl i{position:absolute;top:10px;left:7px}

.support-hotline .div_content .yahoo_skype .fr{width:49%;float:right;background:#00adef;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;border-radius:4px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;position:relative}

.support-hotline .div_content .yahoo_skype .fr i{position:absolute;top:10px;left:7px}

.support-hotline .div_content .yahoo_skype a{display:block;font-size:14px;line-height:20px;padding:7px 10px 7px 28px;color:#fff;font-style:italic;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;border-radius:4px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;background-repeat:no-repeat;background-position:10px 50%}

.support-hotline .div_content .yahoo_skype .yahoo a{}

.support-hotline .div_content .yahoo_skype .skype a{}

.support-hotline .div_content .yahoo_skype a:hover{background-color:#0085ba}

@-moz-keyframes quick-alo-circle-img-anim {

0%{transform:rotate(0deg) scale(1) skew(1deg)}

10%{-moz-transform:rotate(-25deg) scale(1) skew(1deg)}

20%{-moz-transform:rotate(25deg) scale(1) skew(1deg)}

30%{-moz-transform:rotate(-25deg) scale(1) skew(1deg)}

40%{-moz-transform:rotate(25deg) scale(1) skew(1deg)}

50%{-moz-transform:rotate(0deg) scale(1) skew(1deg)}

100%{-moz-transform:rotate(0deg) scale(1) skew(1deg)}

}

@-webkit-keyframes quick-alo-circle-img-anim {

0%{-webkit-transform:rotate(0deg) scale(1) skew(1deg)}

10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}

20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}

30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}

40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}

50%{-webkit-transform:rotate(0deg) scale(1) skew(1deg)}

100%{-webkit-transform:rotate(0deg) scale(1) skew(1deg)}

}

@-o-keyframes quick-alo-circle-img-anim {

0%{-o-transform:rotate(0deg) scale(1) skew(1deg)}

10%{-o-transform:rotate(-25deg) scale(1) skew(1deg)}

20%{-o-transform:rotate(25deg) scale(1) skew(1deg)}

30%{-o-transform:rotate(-25deg) scale(1) skew(1deg)}

40%{-o-transform:rotate(25deg) scale(1) skew(1deg)}

50%{-o-transform:rotate(0deg) scale(1) skew(1deg)}

100%{-o-transform:rotate(0deg) scale(1) skew(1deg)}

}

@keyframes quick-alo-circle-img-anim {

0%{transform:rotate(0deg) scale(1) skew(1deg)}

10%{transform:rotate(-25deg) scale(1) skew(1deg)}

20%{transform:rotate(25deg) scale(1) skew(1deg)}

30%{transform:rotate(-25deg) scale(1) skew(1deg)}

40%{transform:rotate(25deg) scale(1) skew(1deg)}

50%{transform:rotate(0deg) scale(1) skew(1deg)}

100%{transform:rotate(0deg) scale(1) skew(1deg)}

}

@-moz-keyframes quick-alo-circle-fill-anim {

0%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.2}

50%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.2}

100%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.2}

}

@-webkit-keyframes quick-alo-circle-fill-anim {

0%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.2}

50%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.2}

100%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.2}

}

@-o-keyframes quick-alo-circle-fill-anim {

0%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.2}

50%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.2}

100%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.2}

}

@keyframes quick-alo-circle-fill-anim {

0%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.2}

50%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.2}

100%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.2}

}

@-moz-keyframes quick-alo-circle-anim {

0%{transform:rotate(0deg) scale(.5) skew(1deg);opacity:.1}

30%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.5}

100%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.1}

}

@-webkit-keyframes quick-alo-circle-anim {

0%{transform:rotate(0deg) scale(.5) skew(1deg);opacity:.1}

30%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.5}

100%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.1}

}

@-o-keyframes quick-alo-circle-anim {

0%{transform:rotate(0deg) scale(.5) skew(1deg);opacity:.1}

30%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.5}

100%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.1}

}

@keyframes quick-alo-circle-anim {

0%{transform:rotate(0deg) scale(.5) skew(1deg);opacity:.1}

30%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.5}

100%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.1}

}

.navbar-social{margin:0;padding:0;list-style:none}

.socialtop{margin-bottom:20px}

.navbar-social li:nth-child(1){margin-left:0}

.navbar-social li.col-6{-ms-flex:0 0 48%;flex:0 0 48%;max-width:48%;margin-right:0;margin-bottom:10px}

.navbar-social li.col-6 img{max-width:100%;max-height:40px}

.navbar-social li.col-6tt{-ms-flex:0 0 48%;flex:0 0 48%;max-width:48%;margin-right:0;margin-bottom:10px}

.navbar-social li.col-6tt img{max-width:100%;max-height:35px}

.navbar-social li{display:inline-block;text-align:center;margin-right:10px}
.navbar-social li a img {width:32px;}

.navbar-social li a{text-decoration:none;color:#333}

.navbar-social li a {
}
.navbar-social li a i{font-size:25px;}

.navbar-social li a .zalo{height:40px;margin-top:-11px}

a.style-adv{margin-bottom:4px;display:block;width:100%;height:100%;position:relative;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;overflow:hidden}

a.style-adv:before{position:absolute;content:'';top:10px;bottom:10px;left:50%;right:50%;z-index:1;border-top:1px solid #fff;border-bottom:1px solid #fff;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}

a.style-adv:hover:before{left:5px;right:5px}

a.style-adv:after{position:absolute;content:'';top:50%;bottom:50%;left:10px;right:10px;z-index:1;border-left:1px solid #fff;border-right:1px solid #fff;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}

a.style-adv:hover:after{top:5px;bottom:5px}

a.style-adv img{max-width:100%;-webkit-transition:all 1s cubic-bezier(0.44,0.185,0.575,0.86);-moz-transition:all 1s cubic-bezier(0.44,0.185,0.575,0.86);-o-transition:all 1s cubic-bezier(0.44,0.185,0.575,0.86);transition:all 1s cubic-bezier(0.44,0.185,0.575,0.86)}

a.style-adv:hover img{opacity:.7;-webkit-transform:scale(1.06);-moz-transform:scale(1.06);-o-transform:scale(1.06);-ms-transform:scale(1.06);transform:scale(1.06)}



#bttop{position:fixed;bottom:100px;right:25px;cursor:pointer;z-index:20000;width:44px;height:44px;background: #800912;color: #fff;    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
transform: translateX(300px);
    transition: all .5s;
}
#bttop.active{transform: translateX(0px);transition: all .5s;}

#bttop svg{height:25px}

#bttop span{float:left;margin:0 10px;font-weight:400}

.dathongbao{text-align:right}

.dathongbao img{max-width:130px}

.fck_intro{text-align:justify}

.fck_intro ul{padding-left:0}

.fck_intro ul li{list-style:none}

.txt_color_2{color:#ff424e}

.txt_12{font-size:12px;line-height:22px}

.newsletter .field{display:inline-block;float:left;padding-right:15px}


.title-category{font-size:16px;line-height:24px;font-weight:500;color:#38383d;margin-bottom:12px;margin-top:0;border-top:2px solid #469e42;padding-top:16px}

.header-category{font-size:14px;line-height:20px;font-weight:500;color:#38383d;margin-bottom:4px;margin-top:0}

.header-category > a{color:#808089}

.f_categories_tree p{font-size:12px;line-height:16px;margin-bottom:12px;margin-top:0}

.f_categories_tree p>a{color:#808089}



.pt-all_center{text-align:center;display:block;font-style:italic;padding:20px 0 0}


.menu_mobile{display:none;z-index:20030;}

.menu_mobile.showmenu{position:static;top:0;right:0;z-index:2000;margin-top:0;margin-right:-15px}

.menu_mobile.showmenu .icon_menu{color:#333;}

.menu_mobile.showmenu .icon_menu .style_icon:before,.menu_mobile.showmenu .icon_menu .style_icon:after{background:#000}

.menu_mobile.showmenu .icon_menu .style_icon{color:#333}

.menu_mobile .icon_menu{position:relative;width:70px;height:45px;cursor:pointer;color:#000;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;margin-top:2px}

.menu_mobile .icon_menu .style_icon{display:block;position:absolute;top:24px;left:18px;right:18px;height:1px;background:#000;-webkit-transition:background 0 .3s;transition:background 0 .3s}

.menu_mobile .icon_menu .style_icon:before,.menu_mobile .icon_menu .style_icon:after{position:absolute;display:block;left:0;width:100%;height:1px;background:#000;content:"";-webkit-transition-duration:.3s,.3s;transition-duration:.3s,.3s;-webkit-transition-delay:.3s,0;transition-delay:.3s,0}

.menu_mobile .icon_menu .style_icon:before{top:-10px;-webkit-transition-property:top,-webkit-transform;transition-property:top,transform}

.menu_mobile .icon_menu .style_icon:after{bottom:-10px;-webkit-transition-property:bottom,-webkit-transform;transition-property:bottom,transform}

.menu_mobile.showmenu .icon_menu .style_icon{background:transparent}

.menu_mobile.showmenu .icon_menu .style_icon:before{top:0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition-delay:0s,.3s;transition-delay:0s,.3s}

.menu_mobile.showmenu .icon_menu .style_icon:after{bottom:0;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transition-delay:0s,.3s;transition-delay:0s,.3s}

.wrap__menu{      background-color: rgba(0, 0, 0, 0.7);   max-height: 0;    opacity: 0;    width: 100%; transition: all 1s;
    overflow: hidden;}
.wrap__menu.show{     max-height: calc(92vh - var(--heightHeader));

    transition: all 1s;
    overflow-y: auto;
    min-height: calc(92vh - var(--heightHeader));
    opacity: 1;}
.wrap__menu .divmm{text-align:left;z-index:222222}

.wrap__menu .divmm .mmContent{width:100%;height:100%;margin:0 0 0 auto;position:relative;top:0;right:0;z-index:101;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;pointer-events:none}

.wrap__menu .divmm .mmContent .mmSearch{padding:10px;background-color:#d01820;position:relative;z-index:1}

.wrap__menu .divmm .mmContent .mmSearch .input-group .form-control{height:30px}

.wrap__menu .divmm .mmContent .mmSearch .input-group button.btn{height:30px;background:#dca73a;color:#fff;border-color:#dca73a;outline:0;-webkit-box-shadow:0 0 0 rgba(0,0,0,0.3);-moz-box-shadow:0 0 0 rgba(0,0,0,0.3);box-shadow:0 0 0 rgba(0,0,0,0.3)}

.wrap__menu .divmm .mmContent .mmSearch .input-group button.btn span{color:#fff}

.wrap__menu .divmm .mmContent .mmTitle{font-size:16px;line-height:24px;text-transform:uppercase;text-align:center;color:#333;padding:23px 10px;position:relative;overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis}

.wrap__menu .divmm .mmContent .mmTitle:after{position:absolute;font-family:"fontawesome";top:10px;left:15px;width:35px;height:26px;border-right:1px solid #4dcbd5;color:#fff;font-weight:400;font-size:30px;line-height:26px}

.wrap__menu .divmm .mmContent .mmMenu{position:relative;width:100%;max-height:100%;background-color:transparent;color:#333;pointer-events:auto;    padding: 20px 20px;}

.wrap__menu .divmm .mmContent .mmMenu ul{    width: 100%;
        background: transparent;
    margin: 0;padding-left:0;}

.wrap__menu .divmm .mmContent .mmMenu > ul{text-align:center}

.wrap__menu .divmm .mmContent .mmMenu ul li{display:block;border-bottom:1px solid #e8e8e8;position:relative;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
.wrap__menu .divmm .mmContent .mmMenu ul li.formContact{display:none;}

.wrap__menu .divmm .mmContent .mmMenu ul li a{display:block;font-size:15px;color:#fff;padding:10px;position:relative;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;text-transform:uppercase;font-weight:700}

.wrap__menu .divmm .mmContent .mmMenu ul li a img{padding-right:5px;max-width:85px}

.wrap__menu .divmm .mmContent .mmMenu ul li a i{display:none}

.wrap__menu .divmm .mmContent .mmMenu ul li a:before{position:absolute;top:0;left:0;content:'';height:100%;width:3px;background:transparent;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}

.wrap__menu .divmm .mmContent .mmMenu > ul > li:hover > .m-sub{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}

.wrap__menu .divmm .mmContent .mmMenu > ul > li:hover > .m-sub,.menu_mobile .divmm .mmContent .mmMenu > ul > li:hover > a{color:#000}

.wrap__menu .divmm .mmContent .mmMenu > ul > li:hover > .m-sub > a{color:#fff}

.wrap__menu .divmm .mmContent .mmMenu > ul > li > .m-sub > a:after,.menu_mobile .divmm .mmContent .mmMenu > ul > li > a:after{position:absolute;font-family:"fontawesome";top:10px;left:10px;font-size:6px;line-height:24px;color:#a7a3a2}

.wrap__menu .divmm .mmContent .mmMenu ul li ul{padding-left:25px;background:#ffff}

.wrap__menu .divmm .mmContent .mmMenu ul li ul li{border-bottom:none;border-top:1px solid #e8e8e8}

.wrap__menu .divmm .mmContent .mmMenu ul li ul li a{padding:12px 10px 12px 20px;font-size:13px;line-height:23px;color:#333;text-transform:none;position:relative;font-weight:400}

.wrap__menu .divmm .mmContent .mmMenu ul li ul li a:after{font-size:0;position:absolute;font-family:fontawesome;content:'\f105';top:12px;left:0}

.wrap__menu .divmm .mmContent .mmMenu ul li ul li a:hover{color:#fd1c23;background-color:transparent}

.wrap__menu .divmm .mmContent .mmMenu ul li .m-sub{position:relative}

.wrap__menu .divmm .mmContent .mmMenu ul li .button-submenu{position:absolute;top:0;right:0;width:45px;height:100%;text-align:center;font-size:16px;color:#fff;padding-top:10px;cursor:pointer;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;}

.wrap__menu .divmm .mmContent .mmMenu ul li .button-submenu:after{position:absolute;top:50%;left:50%;font-family:"fontawesome";content:'\f105';font-size:20px;line-height:36px;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}

.wrap__menu .divmm .mmContent .mmMenu > ul > li:hover > .m-sub > .button-submenu:after{color:#000}

.wrap__menu .divmm .mmContent .mmMenu ul li .button-submenu.show:after{content:'\f107'}

.wrap__menu .divmm .mmContent .formsearch{height:60px;background:#104872;padding:10px 0;pointer-events:auto;position:absolute;top:0;left:62px;right:0;z-index:1}

.wrap__menu .divmm .mmContent .formsearch .form-control{background:none;border:none;outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;box-shadow:none;color:#fff;font-size:16px;line-height:24px}

.wrap__menu .divmm .mmContent .formsearch button.btn{width:50px;height:34px;background:none;border:none;outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;box-shadow:none;color:#fff;position:relative}

.wrap__menu .divmm .mmContent .formsearch button.btn:after{position:absolute;top:50%;left:50%;font-family:"fontawesome";content:'\f002';-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);font-size:25px}

.wrap__menu .divmm.show{visibility:visible}

.wrap__menu .divmm.show .mmContent{background:#fff;-webkit-transform:translate(0%,0%);-moz-transform:translate(0%,0%);-o-transform:translate(0%,0%);-ms-transform:translate(0%,0%);transform:translate(0%,0%)}

.wrap__menu .divmm.show .mmContent .close-mmenu{left:0;top:0;opacity:1;display:none}

.wrap__menu .divmm .divmmbg{position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.6);z-index:100;opacity:0;visibility:hidden;-webkit-transition:all .8s ease;-moz-transition:all .8s ease;-o-transition:all .8s ease;transition:all .8s ease;height:100%;width:100%}

.wrap__menu .divmm.show .divmmbg{opacity:1;visibility:visible}

#au-mobile{position:relative;padding-left:15px}

#au-mobile .input-group-btn{position:absolute;top:0;right:45px}

.vnt-search-mobile .formSearch{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;z-index:5;width:95%}

.vnt-search-mobile .formSearch .form-control{outline:none;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;box-shadow:none;font-size:14px;line-height:20px;height:33px;border-radius:20px}

.vnt-search-mobile .formSearch button.btn{width:40px;height:33px;line-height:0;border:none;outline:none;background:none;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;font-size:20px;color:#000}

.icon-search{display:none}
.vnt-menutop ul .tutuc {
    opacity: initial;
    visibility: initial;
    display: none;
}
.vnt-menutop ul li:hover > .tutuc {
    display: block
}
.vnt-menutop ul li:hover > .tutuc.tour {
  
}

/* BEGIN FOOTER */
.footer-wrapper {
    background-color:#800912;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
    padding-top: 55px;
}
.block-footer {
    margin-bottom: 40px;
    font-size: 15px;
}
.block-footer .title {
    color: #fff;
    padding-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}

.footer-wrapper a {
    color: #FFF;
}
.block-footer .item-social ul {
    padding: 0;
    list-style-type: none;
}
.block-footer .item-social ul li {
    display: inline-block;
    margin-right: 10px;
}
ul:not(.ul) li {
    list-style-type: none;
}
.block-footer .item-social ul li i {
    font-size: 30px;
    color: #ff9903;
}
.item-newsletter {
    margin-top: 15px;
}
.btn-secondary {
        background: #f4811f;
    border-color: #f4811f;
    color: #fff;
}
.btn-secondary:hover{color:#fff}
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.block-footer .keyword {
    text-align: justify;
}
.block-footer .keyword a {
    color: #fff;
}
.payment ol {
    padding: 0;
    margin-left: 18px;
}
.payment ol li {
    color: #fff;
    text-align: justify;
}
.footer-wrapper .post-footer {
    background-color: #fff;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 12px;
    letter-spacing: 2px;
    color: #333;
    font-weight: 700;
    text-align: center;
}
.block-footer .content
{
    font-weight: 400;
    color: #fff;
}
.block-footer .content ul{padding-left:0;}
.tour__hots .item
{
display:flex;
margin-bottom: 30px;
}
.tour__hots .item .item-top{width:30%;margin-right:10px;}
.tour__hots .item .item-bottom{width:70%;}
.tour__hots .item .item-bottom h5{margin:0;}
/* END FOOTER */

@media screen and (max-width: 1024px) {
    .tabs-select-travel
    {
        display: none !important;
    }
    .info_hs {
        text-align: left;display: flex;
    justify-content: center;
    }
    #search .form-control{margin-bottom:15px}
    
    .vnt-search-box .search-box-outer .info-search p{width:100%;font-size:15px;line-height:25px}
    
    .vnt-search-box .search-box-outer .box-border{padding:20px}
.header_menu_bottom{padding:5px 0; display:none;}

.add-to-cart-success{right:15px}

.openmenu #search{display:none}

.vnt-banner .slick-dots li{font-size:11px;line-height:18px}

.info_menu ul li a{line-height:12px}

.vnt-product .grid-prod .item .wrap-item .i-desc .desc-left .info-date{}

.vnt-product .grid-prod .item .wrap-item .i-desc .desc-left .not_calendar{}

.vnt-product .i-saleoff{left:0;top:0;right:auto;bottom:auto}


.vnt-product .grid-prod .item .wrap-item .i-top .i-image img{width:100%}

.vnt-product .grid-prod .item .wrap-item .i-desc .desc-left .i-rating{display:none}

html.openmenu .wrap_search{top:135px}

.logo-m img{max-width:64px}

.mmMenu p{font-size:20px!important;width:100%}

.logo-m{text-align:center;position:absolute;left:40%;top:10px}

.vnt-search .formSearch{width:100%;background:none}

.icon-search{position:absolute;top:-50px;right:0;color:#000;font-size:22px;line-height:32px;display:block}

#autocomplete{display:none}

.sp-slides-container{margin-left:auto;margin-right:auto}

.wap_center{padding:5px 10px 2px}

.sim-text{display:none}

.htRight{position:absolute;right:50px;top:10px}

.htRight2{display:none}

.wrap-center{padding:15px}

.advertise{display:none}

.shadowmenu ul.cshap li{width:40.6%}

.breadcrumb ul{padding:10px 5px}

.header_main{position:relative;top:0;left:0;width:100%;background:#fff;z-index:1;opacity:.95;height:auto;bottom:auto;min-height:auto}


.wap-login .item_header{display:none}

#top_bar_hasaki .item_sub_menu_bar a{padding:0 2px;font-size:10px}

#box_icon_category .item_category_top{max-width:25%;-ms-flex-preferred-size:25%;flex-basis:25%;margin-bottom:15px}

.menu_mobile{display:flex;    justify-content: space-between;align-items: center;}
.menu_mobile .logo .img_home-mobi img{max-width:50px;}

.card-categories-name .text{font-size:11px}

#top_bar_hasaki{padding:10px 0}

.vnt-catelogy h2{margin-top:10px}

#slogan{display:none}


.wrap-service::before{display:none}

.wrap-service{padding-top:0}

.vnt-product .slick-prev{left:10px}

.vnt-product .slick-next{right:0}

.vnt-product .slick-arrow{top:32%}

.vnt-video .slick-arrow{top:44%}

.vnt-advertise .item{margin-bottom:15px}

.box_sale{display:none}

.wrap_newsletter .name-form{padding-left:15px}

.vnt-title-head{display:none}

.gird-new_home .item .i-desc .i-title{height:auto;margin-bottom:0}

.wrap_newsletter label{text-align:left}

.vnt-address h2{font-size:18px}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-title{overflow:hidden}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-price{font-size:9px}

.gird-new_home .item .i-desc-pro{height:auto;overflow:visible}

.camkethome-item{padding:0 15px;margin-bottom:20px}

.camkethome-item-title{font-size:13px}

.camkethome-item-brief{text-align:center}

#bttop{right:15px}

#newsletter h2{font-size:22px;letter-spacing:0}

.gird-new_home .item{margin-bottom:25px;max-width:100%;-ms-flex-preferred-size:100%;flex-basis:100%}

.gird-new_home .about_service{padding:0}

.wrap-adv{margin-top:30px}


#SearchMB .input-group .input-group-btn{right:0;float:right;margin-top:-37px}

.header_main .row{margin-left:0;margin-right:0}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-promotion .i-saleoff{top:0;font-size:11px}

#newsletter button{padding:.5em 1.2em}

#newsletter p{margin:3px 18px 20px}

.wrap_newsletter{width:100%;margin:0}

#newsletter{padding:0}

.product-deals .viewmore-brand{right:15px}

.news-image{margin-bottom:30px}

.wrap-ck{padding:20px 0 0}

.wrap_search{width:100%;left:0;top:31px}

.vnt-search{width:100%}

.slick-dots li button:before{height:12px!important;width:12px!important}

.cart-title .count{top:-6px;right:-7px}

.Userstyle{display:none}

.cart_moblie .cart-title a small{}

.vnt-login button small{display:none}

.vnt-login button img{display:none}


.cart_moblie {
    right: 115px;
}
.cart_moblie img{height:20px}


.dathongbao img{max-width:100%}

.topBar-row{border-top:none;padding-top:0;margin-top:0}

.vnt-product{margin:0}

.vnt-function .pt-title h2{font-size:19px;margin:10px 0;line-height:29px}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-title a h4{height:auto}

.vnt-product .prod-title .pt-title h2 a{font-size:16px;padding:5px 10px}

.vnt-news .vp-title h2{font-size:28px;line-height:38px}

.vnt-product .vp-title h2{font-size:28px;line-height:38px}

.vnt-product .prod-title .pt-title h2 a{font-size:12px;margin-right:5px}

.vnt-product .grid-prod .item .wrap-item{padding:0 6px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}

.vnt-product .grid-prod .item .wrap-item .i-top .it-info{display:none}

.vnt-product .grid-prod .item .wrap-item .i-desc .desc-left{width:100%;margin-bottom:10px}

.vnt-product .grid-prod .item .wrap-item .i-desc .desc-right{width:100%}

.vnt-product .grid-prod .item .wrap-item .i-desc .buy-now a{color:#fff;text-transform:uppercase;font-weight:700;background:#307abd}

.vnt-product .vnt-viewall{display:none}

.vnt-product .prod-title{margin-bottom:18px;border-bottom:0;margin:0}

.vnt-product .prod-title .pt-title{margin-bottom:5px;display:inline;overflow:hidden;font-size:24px;line-height:30px;padding:5px 0;background:transparent;font-weight:700;color:#307abd}

.vnt-product .prod-title .pt-right a{padding:20px 10px 0}

.vnt-product .prod-title .pt-label{width:100%;float:none;position:inherit;top:-20px}

.vnt-product .prod-title .pt-label .label-title{}

.vnt-product .prod-title .pt-label ul{white-space:nowrap;overflow-x:auto;transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;padding-left:0}

.vnt-product .prod-title .pt-label.active ul{opacity:1;visibility:visible}

.vnt-product .prod-title .pt-label ul li{margin:0;display:inline-block;float:none}

.vnt-product .prod-title .pt-label ul li a h3{padding:8px 12px;margin:0}

#vnt-header{position:relative;top:0;opacity:1}

.product-deals{margin-bottom:0}

.vnt-login:hover button{background:inherit;border:none}

.vnt-login button .login{display:none}

.text_search{display:inline-flex!important}

.product-feature .container{width:auto}

.vnt-home{display:none!important}

.SearchMB{display:block;background:inherit}

.vnt-logo{text-align:center;margin-top:inherit;position:initial}
.vnt-logo .wrap{display:flex;justify-content: space-between;}
.vnt-logo .img_home h1{ display:none;}
.vnt-logo .img_home p{ display:none;}
.info_menu_right ul{padding-left:0}
.info_menu{height: 100%;
    display: flex;
    align-items: center;}

.header_top_left{display:none}

.vnt-logo img{max-width:120px;width:auto;height:auto;border:initial;padding-top:0;max-height:90px}

.homenews{width:100%;display:none}

.hnav{display:none}

.topBar-item p.title{margin-top:20px}


.vnt-logo h1{margin:0;position:inherit;left:inherit;top:inherit}

.vnt-cart{display:none}

.header_top{display:none}

.vnt-hotline{display:none}

.vnt-cart .cart-title{width:205px}

.hidden_moblie{display:none}

.decorative-icon{margin-bottom:0!important}

.wap-fixed.active{position:initial;background:initial;top:inherit;left:initial;max-height:initial;z-index:initial;opacity:1}

.title_block .title_text a{font-size:18px!important}

.title-cat_sp{padding:0 0 30px}


.i-level2 li{display:flex}

ul.tsc_pagination{padding:0;height:100%;overflow:hidden;list-style-type:none;margin-bottom:30px;text-align:right;display:block;width:90%}

.vnt_hotline_search{display:none}

.vnt-menutop{display:none}

.vnt-social{margin-top:20px}


.phone-map{display:block}

.box-news-hot{display:none}

.box-prod-hot{display:none}

#vnt-main{width:100%}

#vnt-sidebar{width:100%}

.mod-content .box_mid{margin-top:0}

.register-main{width:80%}
.info_menu_right ul li a{margin-right:5px;
    font-size: 13px;
}
.header_mid.active
{
position: fixed;
    top: 0;
    background: #fff;
    z-index: 99;
    width: 100%;
}
.header_mid.active .info_menu_right{display:none;}

}


@media screen and (max-width: 768px) {

.cm-cat{display:none}

}

@media screen and (max-width: 767px) {

.logo_moblie{width:80%}

.vnt-product .grid-prod .item .wrap-item .i-desc .desc-left span{}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-promotion{}

.vnt-cart .cart-title{width:160px}

.iframe{width:100%}

.cm-cat{display:none}

}

@media screen and (max-width: 479px) {

.projectFactsWrap .item .img-count{padding-right:12px}

.like_facebook{display:none}

.vnt-social ul li a i{font-size:10px}

.vnt-social ul li a{width:25px;height:25px}

}

@media screen and (max-width: 360px) {

.vnt-product .grid-prod .item .wrap-item .i-desc .i-price{font-size:9px}

}

@media screen and (max-width: 320px) {

#box_icon_category .title_cate_home{font-size:10px}

.timer div{width:13px;font-size:10px;line-height:17px}

.vnt-selling .pf-title h2 .title-main{margin-right:5px}

iframe{width:auto;height:auto}

.camkethome-item-title{font-size:12px}

.SearchMB button.btn{display:none}

.order-product .op-title{font-size:19px}

.vnt-product .grid-prod .item .wrap-item .i-desc .desc-left span{font-size:9px}

.vnt-product .grid-prod .item .wrap-item .i-desc .i-price{font-size:8px}

}