.top-detail-page {
    margin-top: 20px;

}
.detail-header {
    background: #FFF;
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 0;
}
.main {
    display:block;
    margin:0 auto;
  }
  .main .item {
    line-height: 60px;
    position: relative;
    text-align: center;
    border: 1px solid transparent;
}

.slider-for .slick-arrow {
    border-radius: 50px;
    border: 1px solid #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 2;
    top: 50%;
    position: absolute;
    width: 26px;
    height: 26px;
}
.slider-for .slick-prev{left:5px}

.slider-for .slick-next{right:5px}

.slider-for .slick-arrow:after {
    position: absolute;
    font-family: fontawesome;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 17px;
    line-height: 30px;
    color: #fff;
}
.slider-for .slick-prev:after{content:'\f104'}

.slider-for .slick-next:after{content:'\f105'}
#id_chtr_tour img 
{
    height: auto !important;
}
.meal-tour li img{width:30px !important;margin-right:10px}
.meal-tour li:first-child{margin-left:0}
.meal-tour li{list-style:none;display:inline-block;margin-left:20px}
.meal-tour {
    padding-left: 0;
    margin-top: 15px;
}
#detail-content-sticky-nav-07
{
    margin-top: 50px;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.detail-header h1 {
    line-height: 40px;
    font-weight: 300;
    margin: 0 0 5px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}
.main-content {
    padding: 30px 0;
}
.slideshow-meta-tour .meta-detail-page {
    padding-right: 15px;
}
.top-detail-page .slideshow-meta-tour .meta {
    padding: 0;
    list-style-type: none;
    margin: 20px 0;
    font-size: 13px;
}
.slideshow-meta-tour .meta-detail-page {
    padding-right: 15px;
}
.top-detail-page .slideshow-meta-tour .meta li .meta-title {
    min-width: 110px;
    display: inline-block;
    font-weight: 700;
}
.top-detail-page .price {
    display: block;
    font-size: 15px;
    margin: 20px 0;
}
.text-sale {
    color: red;
    font-weight: bold;
}
.slideshow-meta-tour .btn-booking {
    background: #c50000;
    display: block;
    color: #fff;
    text-align: left;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
}
.slideshow-meta-tour .btn i {
    margin-right: 10px;
}

.slideshow-meta-tour .btn-download {
       background: #ff891e;
    
    color: #fff;
    text-align: left;
    text-transform: uppercase;margin-bottom:30px;
}

.row.gap-30 {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
}
.detail-page .block-tab-product {
   
    padding: 15px 15px 20px;
    position: relative;
    margin-bottom: 20px;
} 
#detail-content-sticky-nav-timeline > .item {
    margin-bottom: 20px;
}
#detail-content-sticky-nav-timeline .item .title {
    font-size: 14px;
    margin-bottom: 12px;
    color: #10375e;
    line-height: 29px;
    font-weight: 700;
}

#detail-content-sticky-nav-timeline .item .title .date {
    position: relative;
    font-size: 14px;
    display: flex;
    margin-right: 15px;
    float: left;
    clear: none;
  
    border-radius: 0 5px 5px 0;
    line-height: 21px;
    width: 107px;
}

#detail-content-sticky-nav-timeline .item .title .date i {
    padding: 6px 12px;
    line-height: 18px;
    text-align: center;
    margin: auto 0 auto 0;
}

#detail-content-sticky-nav-timeline .item .title .date span {
    padding: 4px 10px 3px 5px;
    margin: auto 0 auto 0;
}

#detail-content-sticky-nav-timeline .item .open-timeline {
    height: auto !important;
}

.label-c {
    font-size: 14px;
    line-height: 32px;
    color: #fff
}

#box-schedule .title {
    background: #017dc5;
    padding: 6px;
    text-align: center;
    border-radius: 6px 6px 0 0
}

#box-schedule .title h4 {
    color: #fff;
    font-size: 19px
}

#box-schedule .widget-content {
    background: #ff9903
}

.form-control {
    color: #000
}

.blog-entry {
    text-align: JUSTIFY;
}


#detail-content-sticky-nav-timeline .item .title {
    font-size: 14px;
    margin-bottom: 12px;
    color: #10375e;
    line-height: 29px;
    font-weight: 700
}

#detail-content-sticky-nav-timeline .item .title .content-title {
    display: flex;
    overflow: hidden;
    width: auto;
    line-height: 28px;
}

#detail-content-sticky-nav-timeline .item .content {
    text-align: justify;
    font-size: 15px;
    height: 105px;
    overflow: hidden;
    transition: height 2s;
}

#detail-content-sticky-nav-timeline .item .content p {
    margin-bottom: 0px;
}

#detail-content-sticky-nav-timeline .button-open-content {
    text-align: center;
    margin-bottom: 15px;
    display: block;
}

#detail-content-sticky-nav-timeline .button-open-content a {
    color: #ff002d;
}

#thongtincanbiet .content, #giatour .content {
    text-align: justify;
    font-size: 13px;
}

.table.lichkhoihanh {
    font-size: 13px;
    background: #fff;
    margin-top: 20px
}

.table.lichkhoihanh td, .table.lichkhoihanh th {
    padding: 7px 10px
}

.table.lichkhoihanh .thead-dark tr th {
    background: #10375e;
    border-color: #194673
}

.box-search .widget-content .form-control {
    font-size: 13px
}

.timeline-nav {
    display: none !important;
}

.table.lichkhoihanh .btn-booking {
    background: #c50000;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    padding: 3px 10px
}

.box-search .widget-content {
    padding: 20px 15px;
    padding-bottom: 10px
}

.box-search .btn-search {
    background: #4db654;
    color: #fff
}

.widget-content.padding-15 {
    padding: 15px
}

.box-faqs {
}

.box-faqs .card {
    margin-bottom: 10px
}

.box-faqs .card-header {
    text-align: left;
    padding: 7px;
    background: #ff9907;
    color: #fff;
}

.box-faqs .card-header .btn {
    color: #fff;
    text-decoration: none;
    font-size: 13px
}

.card-body {
    font-size: 13px;
    text-align: justify
}

#detail-content-sticky-nav-timeline img {
    max-width: 100% !important;
    height: auto !important
}

.btn.vt-sumbit {
    color: #fff;
    background: linear-gradient(to right, #e51873, #f15097);
    font-style: normal;
    text-transform: none
}

.btn.vt-sumbit:hover {
    color: #fff;
    background: linear-gradient(to right, #e51873, #e51873)
}

.table.table-schedule {
    font-size: 14px;
    font-style: normal !important
}

.table.table-schedule td {
    vertical-align: middle
}

.table-schedule > thead > tr {
    background: #58ad46;
    color: #fff;
    font-size: 15px
}

.table-schedule td {
    padding: 10px
}

.flex {
    display: flex
}

.inside-right {
    flex: 1
}

.table-schedule .price {
    color: #e90000 !important
}

.display-box-search:hover {
    color: #fff;
    background: #ff1e81
}

.display-box-search {
    display: none
}

.grid-provide-01 .item .item-top > a {
    width: 255px;
    height: 178px;
    background: url(/uploads/images/tours/slider/thumbs/blank.jpg) no-repeat #a9a9a9;
    background-size: 255px 178px
}

.grid-tour-01 .owl-item .item-grid {
    padding: 10px
}
.block-prices {
    position: relative;
}
.block-prices .product-price {
    word-break: break-all;
    color: red;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}
.product-old-price {
    display: inline-block;
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
}
.product-old-price .price-number {
    text-decoration: line-through;
    padding-right: 5px;
}
.text-percent {
    font-size: 14px;
    font-weight: 700;
}
.staylong {
    position: absolute;
    background: #01375dad;
    color: #fff;
    padding: 1px 6px;
    right: 4px;
    border-radius: 5px;
    bottom: 4px;
    border: 1px solid #fbfbfb
}

.staylong .fas {
    margin-right: 3px
}

.block-bottom-cate .block-menu {
    margin-bottom: 15px
}

.block-menu i {
    color: #ff9903;
    margin-right: 9px
}

.block-bottom-cate .block-menu h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #e51873
}

.block-bottom-cate .block-menu a {
    color: #01375d;
    font-size: 15px
}

#hot-news {
    margin-top: 30px
}

.block-bottom-cate {
    padding: 20px 0
}

.float-call {
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 100000
}

.float-call a {
    display: block;
    margin-bottom: 5px
}

.post-horizon-wrapper h2, .post-horizon-wrapper h3, .post-horizon-wrapper h4, .post-horizon-wrapper h5, .post-horizon-wrapper h6 {
    margin: 0;
}

.btn-primary {
    background: #01375d;
    border-color: #0064ab;
    color: #FFF;
}
.star-rating-wrapper .score {
    display: inline-block;
    font-family: Wingdings;
    font-size: 20px;
    line-height: 30px;
    color: #ccc;
    position: relative;
  }
  .star-rating-wrapper .score::before,
  .star-rating-wrapper .score::after {
    content: "\2605\2605\2605\2605\2605";
    display: block;
  }
  .star-rating-wrapper .score::after {
    color: #4CAF50;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .star-rating-wrapper .score.s1::after {
    width: 20%;
  }
  .star-rating-wrapper .score.s2::after {
    width: 40%;
  }
  .star-rating-wrapper .score.s3::after {
    width: 60%;
  }
  .star-rating-wrapper .score.s4::after {
    width: 80%;
  }
  .star-rating-wrapper .score.s5::after {
    width: 100%;
  }
  .hide-row-button-book
  {
    text-align: right;
  }
.sibar__singleProduct{}
@media screen and (max-width: 1024px) {

    .main .item .img img
    {
        max-height: 100%;
        max-width: 100%;
    }
    .blog-media
    {
        display: none;
    }
   
   
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 767px) {


}



@media screen and (max-width: 360px) {


}

@media screen and (max-width: 320px) {


}