.h1,h1{font-size:26px;line-height:38px;margin:10px 0}
.h2,h2{ margin: 10px 0;
    font-weight: 700;
    font-size: 26px;}
.h3,h3{font-size:22px;margin:8px 0;line-height:34px}
.h4,h4{font-size:18px;line-height:30px}
.h5,h5{font-size:16px;line-height:26px}
.h6,h6{font-size:15px;line-height:25px}
ul.tsc_pagination li a i{line-height:30px}
td,th{padding:3px 8px}
.choose-quantity td,th{padding:0}
ul.tsc_pagination li a:hover,ul.tsc_pagination li a.current{color:#FFF;box-shadow:0 1px #EDEDED;-moz-box-shadow:0 1px #EDEDED;-webkit-box-shadow:0 1px #EDEDED}
ul.tsc_pagination{padding:0;height:100%;overflow:hidden;list-style-type:none;margin-bottom:30px;text-align:center;display:block;width:100%}
ul.tsc_pagination li{margin:0;padding:0;display:inline-block}
ul.tsc_pagination li a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin: 0 4px;
    transition: all .3s;
    border: 1px solid #ff5910;
    display: inline-block;
}
ul.tsc_pagination li a img{border:none}
ul.tsc_pagination li a:hover,ul.tsc_pagination li a.current{background:#ff5910}
.er_toc{display: none;font-size:10pt;max-width:100%;padding:5px 10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#dbedf9;border:1px solid #c7e4f4}
.er_toc ul,.er_toc ol{margin:0;padding:0}
.er_toc li{padding-top:5px;list-style:none;font-size:15px}
.er_toc li a{color:#167ac6}
.er_toc li ul li a{color:#167ac6}
.er_toc ul ul,.er_toc ol ol{margin-left:20px}
.er_toc .er_toc_title{display:block;font-weight:700;border-bottom:1px solid #167ac6;margin-bottom:5px;font-size:18px;line-height:28px;padding:5px}
.er_toc .er_toc_title_close{color:#167ac6}
.er_toc .er_toc_title span{display:inline-block;border:0 solid #fff;width:0;overflow:hidden;height:0;margin:0 0 0 3px}
.er_toc .er_toc_title_open span{border-width:0 5px 6px;border-color:#333 #f1f1f100}
.er_toc .er_toc_title_close span{border-width:5px 5px 0;border-color:#333 #f1f1f100}
a.er_toc_top{display:none;border:0 solid #fff;width:0;overflow:hidden;height:0;margin:0 0 0 5px;border-width:0 6px 12px;border-color:#999 #fff}
a.er_toc_top:hover{border-color:#1982D1 #fff}
.er_toc_disc ul,.er_toc_disc ol{margin-left:20px}
.er_toc_disc li{list-style:disc}
#result p{color:red}
#result{position:relative}
.product-grid2 .social li:nth-child(2){display:none}
.product-grid2 .social li:nth-child(3){display:none}
.glyphicon-star-empty{color:#dedddd}
.alert{line-height:18px;margin-bottom:15px;position:relative;padding:14px 40px 14px 65px;border-radius:4px;box-shadow:1px 7px 14px -5px rgba(0,0,0,0.2);border:none;max-width:300px;color:#000;position:fixed;top:50%;z-index:2000;left:40%;background:#fff}
.alert:before{background-color:#2BDE3F;content:'';position:absolute;top:0;left:0;width:4px;height:100%;border-top-left-radius:4px;border-bottom-left-radius:4px}
.toast_icon{position:absolute;top:50%;left:22px;transform:translateY(-50%);width:14px;height:14px;padding:7px;border-radius:50%;display:inline-block;background-color:#2BDE3F}
.toast_check{width:8px;height:8px;line-height:8px;padding:7px;border-radius:50%;display:inline-block;background-color:#2BDE3F}
.toast_un_check{width:8px;height:8px;padding:7px;line-height:8px;border-radius:50%;display:inline-block;background-color:red}
.toast__svg{fill:#fff}
.alert .close{opacity:1;padding-left:10px;position:absolute;right:15px;top:10px}
.alert.alert-success{}
.alert.alert-error{background-color:#fdeaea!important;color:#ca6f74!important;border:1px solid #f27b81!important}
.alert.alert-info{background-color:#e9f8ff!important;color:#5d9fa9!important;border:1px solid #75c7d3!important}
.clear{clear:both;font-size:0;line-height:0;height:0}
a{text-decoration:none}
a:focus,a:hover{text-decoration:none;outline:inherit;outline-offset:0}
img{border:0;max-width:100%;height:auto}
b{font-weight:700}
.algin-right{text-align:right}
.tag{font-size:14px;line-height:20px;color:#999;position:relative;margin-bottom:20px;display:none}
.tag a{display:inline-block;font-size:14px;line-height:20px;padding:5px 10px;background:#1d1d1d;border:1px solid #403a3b;color:#fff;margin-right:4px;margin-bottom:4px}
.tag a:hover{color:#4db2ec}
.tag span{font-size:14px;line-height:22px;color:#999;margin-right:5px;display:inline-block;padding:5px 10px 5px 0}
.desc h1{font-size:30px;line-height:42px}
.desc h2{font-size:24px;line-height:36px}
.desc h3{font-size:20px;line-height:32px}
.desc h4{font-size:18px;line-height:28px}
.desc h5{font-size:16px;line-height:26px}
.desc h6{font-size:14px;line-height:22px}
.desc td,.desc th{padding:5px;line-height:inherit}
.box-tags{background:#fff;border:1px solid #e1e1e1;padding:5px;-webkit-box-shadow:3px 3px 1px rgba(0,0,0,0.04);-moz-box-shadow:3px 3px 1px rgba(0,0,0,0.04);box-shadow:3px 3px 1px rgba(0,0,0,0.04)}
.box-tags span{display:inline-block;padding:0 15px;border-bottom:1px solid #bfbfbf;border-right:1px solid #bfbfbf;margin-right:10px;color:#333;line-height:20px}
.box-tags a{color:#666;text-decoration:none}
.box_category{padding:0}
.box_category ul{list-style:none}
.box_category li{}
.box_category li a:hover{text-decoration:underline}
.box_category li a.current{}
.box_category ul ul{list-style:none;padding-left:10px}
.box_category ul ul li{background:none;padding:2px}
.box_category ul ul li a:hover{}
.box_category ul ul li a.current{}
.table_cell{display:table-cell}
.box_mid{margin-bottom:30px}
.box_mid .mid-title{width:auto;position:relative;margin:0}
.box_mid .mid-title:before{position:absolute;bottom:0;left:0;width:100px;height:3px;background:#f83b3b}
.box_mid.line_title .mid-title{padding-bottom:20px}
.box_mid .mid-title .titleL{font-size:30px;line-height:40px;text-transform:uppercase;position:relative;font-weight:700;padding-left:15px}
.box_mid .mid-title .titleL h2{font-size:30px;line-height:40px;color:#333;background-position:center;background-position-y:45px;margin:0}
.box_mid .mid-title .titleL h1{margin-top:10px}
.box_mid .mid-title .titleR{}
.box_mid .mid-content{margin-bottom:0}
.box{margin-bottom:20px;position:relative}
.box .box-title{position:relative;z-index:1}
.box .box-title .fTitle{font-size:18px;line-height:26px;color:#927865;padding:5px 0;margin-bottom:5px}
.pagination{width:100%;margin:0;background:transparent;text-align:left;padding-top:0}
.pagination a,.pagination a:visited,.pagination .pagecur{background:transparent}
.pagination ul{padding-bottom:2px}
.pagination ul li{display:inline-block;margin:0 4px 0 0;text-align:center}
.pagination ul li span,.pagination ul li span.pagecur,.pagination ul li a{display:table-cell;width:40px;height:40px;box-sizing:border-box;border:1px solid #3b3738;background:#1d1d1d;font-size:18px;line-height:26px;vertical-align:middle;color:#fff;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;font-weight:400}
.pagination ul li a:hover,.pagination ul li span,.pagination ul li span.pagecur{color:#fff;background-color:#fd1c23;border-color:#fd1c23}
.pagination a,.pagination a:visited{color:#666}
.show_item{padding:10px 0}
.show_item ul:after{display:block;content:'';clear:both}
.show_item ul li{float:left;padding:0 12px;position:relative;font-size:16px;line-height:20px;color:#666;text-transform:uppercase}
.show_item ul li a{font-size:16px;line-height:20px;color:#666}
.show_item ul li a:hover{color:#ee8533}
.show_item ul li:first-child{padding-left:0}
.show_item ul li:last-child{padding-right:0}
.show_item ul li ~ li:after{position:absolute;top:0;left:0;content:'|';color:#d1d1d1}

.like_share{margin:0 0 25px;padding:8px;display:none}
.like_share ul:after{display:block;content:'';clear:both}
.like_share ul li{float:left}
.like_facebook{float:left}
.feedback{float:right;text-align:right;color:#666}
.feedback a{font-size:11px;line-height:20px;display:inline-block;font-weight:700;margin-right:10px}
.feedback a i{font-size:16px;line-height:20px;padding-right:5px}
.like_facebook a{padding-right:15px;display:inline-block}
.feedback img{padding-right:5px}
.feedback a img{padding-left:15px}

.box_category{margin:15px 0;display:inline-block;width:170px;margin:10px}
.box_category .select-control{padding:6px 30px 6px 10px;font-size:14px;line-height:24px;color:#ed1e79;height:34px;text-align:left;background-color:#fff;background-image:none;border:1px solid #d4d4d4;cursor:pointer;overflow:hidden}
.box_category .select-control .caret{position:absolute;right:15px;top:13px;border-top:8px dashed;border-color:#777;border-right:6px solid transparent;border-left:6px solid transparent}
.box_category ul.dropdown-menu{width:100%;font-size:12px;min-width:160px;max-height:180px;overflow-y:auto;padding:0;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:0}
.box_category ul.dropdown-menu li{border-bottom:1px solid #ccc}
.box_category ul.dropdown-menu li:last-child{border-bottom:none}
.box_category ul.dropdown-menu li a{display:block;padding:10px;clear:both;font-weight:400;font-size:14px;line-height:20px;color:#333;white-space:nowrap}
.box_category ul.dropdown-menu li a:hover,.box_category ul.dropdown-menu li a:focus{color:#262626;text-decoration:none;background-color:#f5f5f5}
.box_category ul.dropdown-menu li.active > a,.box_category ul.dropdown-menu li.active > a:hover,.box_category ul.dropdown-menu li.active > a:focus{color:#fff;text-decoration:none;background-color:#337ab7;outline:0}
.box_category ul.dropdown-menu li ul{list-style:none;border-top:1px solid #ccc}
.submenu .title-menu{margin-bottom:20px;position:relative}
.submenu .title-menu .title{font-size:26px;line-height:34px;color:#fff;padding:10px 50px 10px 10px;background:url(../images/bg-arrow.png)no-repeat 100% 50% #9c1320;cursor:pointer;display:none}
.submenu .title-menu .menu{width:100%;text-align:center}
.submenu .title-menu .menu ul{text-align:center}
.submenu .title-menu .menu ul li{margin:5px;font-size:16px;line-height:26px;color:#333;display:inline-block}
.submenu .title-menu .menu ul li a{color:#333;background-color:transparent;padding:10px 25px;display:block;position:relative}
.submenu .title-menu .menu ul li a:before{position:absolute;content:"";top:50%;left:0;width:100%;height:0;background:#9c1320;opacity:0;z-index:0;-webkit-transition:all .4s ease-out;-moz-transition:all .4s ease-out;-o-transition:all .4s ease-out;transition:all .4s ease-out}
.submenu .title-menu .menu ul li a:hover{color:#fff}
.submenu .title-menu .menu ul li a:hover:before{top:0;height:100%;opacity:1}
.submenu .title-menu .menu ul li a span{z-index:1;position:relative;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-o-transition:all .2s ease-in;transition:all .2s ease-in}
.submenu .title-menu .menu ul li a:hover span{z-index:1;position:relative;color:#fff}
.submenu .title-menu .menu ul li a:focus{text-decoration:none}
.submenu .title-menu .menu ul li.active a{background:#9c1320;color:#fff}
@media screen and (max-width: 1024px) {
.box_mid .mid-title .titleL,.box_mid .mid-title .titleL h2{font-size:24px}
ul.tsc_pagination li a{width:25px;height:25px;padding:1px 5px}
}