.i_link_cart
{
	text-transform: capitalize;
}
.btn-dark
{
	background: #337ab7;
    color: #fff;
}
.btn.focus, .btn:focus, .btn:hover
{
	color: #fff;
}
.input-group[class*=col-]
{
	padding-right: 15px;
	padding-left: 15px;
}
.blue{color:#2196F3}
.red{color:red}
.xam{color:#FF5722}
.black{color:#000}
.tongdanhso{float:right;font-size:20px;color:#fe5810}
.orderSuccess .icon{max-width:70px}
.dathangthanhcong{float:none!important}
.total_monney{color:#BF0000;text-align:right;float:right;clear:both;display:block;width:100%;padding-bottom:10px}
.bnt_update{padding:5px 12px;margin-top:.5px}
.rs_total{font-size:16px;color:#cd3700; float: right;}

.h1cart{text-align:center; font-size:26px; padding:10px 0 0;letter-spacing: 2px;}
.all_cat_wrapper:hover .all_categories{display:block}
.breacrumb1{text-align:center;margin:-5px 0 10px}
.breacrumb1 a.breacrumb-home1{padding-left:0;padding-right:0}
.breacrumb1 a{text-decoration:none;color:#333;padding:0 5px}
.orderSuccess{color:#00d459;text-align:center}
.breacrumb1 a.breacrumb-home1:before{content:"";font-family:FontAwesome}
.breacrumb1 a:before{content:"/";font-family:FontAwesome;padding-right:10px}
.shoppingcart1{width:55%;margin:0 auto;margin-top:15px}
.quantydetail{float:right;margin-bottom:20px}
.form-control-chosen{padding-left:0}
.form-control-chosen_distric{padding-right:0}
.cartback{width:100%;background:#fff;padding:5px;position:relative}
.shopcart-l a{color:#333}
.shopcart-r{color:#333}
.shopcart-lr{display:inline-block;width:100%;margin-bottom:20px}
.shopcart-l{float:left}
.shopcart-r{float:right;text-align:right}
.shopping-title{border-bottom:1px solid #ccc;display:inline-block;width:100%}
.label_item{padding:10px;border-right:1px solid #ccc;text-align:center}
.label_item:last-child{border:none}
.cpro_item{float:left;width:20%;padding-right:15px;text-align:center}
.cpro_item img{max-width:100%}
.cpro_item div{margin-bottom:10px}
.cpro_item a{text-align:none;color:#666;cursor:pointer}
.cpro_item_r{float:left;width:48%}
.cpro_item_rr{float:right;text-align:right}
.price_cpro{color:#BF0000}
.cpro_item_cn{color:#666}
.cpro_item_name{margin-bottom:10px}
.cpro_item:last-child{border:none}
.shopping-bottom{display:inline-block;width:100%;color:#666;padding-top:5px}
.cpro_item_cn{border:1px solid #ccc;padding:2px 5px;height:30px;float:right}
.giohang_1{width:25px;border:1px solid #ccc;text-align:center;padding:0 5px;border-right:none;height:28px}
.soluong_it{margin-top:20px}
.tongtien{display:inline-block;margin:15px 0;border-bottom:1px solid #ccc;width:100%;padding-bottom:15px}
.tongtien span{float:left}
.tongtien span:nth-child(2){float:right}
.tongtien font{color:#BF0000;font-weight:700}
.thanhtoan div{display:inline}
.fromdk label{font-weight:500;margin-right:15px;font-size:16px}
.thanhtoan .btntt-tt{margin-right:20px}
.btntt{color:#fff;background:#AE0000;padding:10px;text-decoration:none;cursor:pointer;text-transform:uppercase;border:none;width:100%}
.btntt span{display:block;font-size:12px;text-transform:none}
.btnonline{color:#fff;background:#cc6100;padding:10px;text-decoration:none;cursor:pointer;text-transform:uppercase;border:none;width:100%}
.btnonlinea{display:inline-block;text-align:center;text-decoration:none;color:#fff}
.btnonlinea:hover{text-decoration:none;color:#fff}
.btnonline span{display:block;font-size:12px;text-transform:none}
.btntt:hover{text-decoration:none;background:#ef4618e0;color:#fff}
.btntt1{text-decoration:none;color:#000;cursor:pointer;border-bottom:1px solid #000}
#load_ship
{    
	margin: 10px 0;
    color: #000;
    font-weight: 550;
    line-height: 22px;
}
.donhang{padding:10px;border:1px solid #DADADA}
.thanhtoan_title{font-weight:700;margin-bottom:20px}
.donhang_title{font-size:20px;border-bottom:1px solid #DADADA;padding-bottom:20px}
.donhang_bottom{border-bottom:1px solid #DADADA;padding:20px 0;display:inline-block;width:100%}
.pull-left{float:left!important;padding-right:15px}
.product-image{width:70px}
.product-info{max-width:50%}
.product-info-name{display:block}
.order-summary strong{color:#555;font-weight:500}
.total-line-total{padding-top:16px}
.total-line{margin-bottom:16px; color: #000;}
.total-line-price{color:red;font-size:18px;font-weight:700}
.pull-right{float:right!important}
.submitbuton{margin-top:10px;width:100%}
.iconcheck{padding-bottom:15px}
.iconcheck div:before{content:"\f101";font-family:FontAwesome;padding-right:5px}
.order_title{font-size:20px;border-bottom:1px solid #DADADA;padding-bottom:15px}
.order-summary{padding-top:15px}
.order_back{border:1px solid #DADADA;padding:10px}
.cpro_item_name div{padding-bottom:10px}
.dis-shop{text-decoration:line-through;margin:5px 0}
.tongtien div{display:inline-block;width:100%;margin:5px 0}
.box-magiamgia{text-align:right}
.txtmagiamgia{width:20%;border:1px solid #ccc;padding:5px}
.bnt-magiamgia{background:#222;color:#fff;border:0;padding:6px}
#layer0{position:relative}
#basketTitleWrap{cursor:pointer}
#layer1{position:absolute;display:none;background:#fff;width:250px;left:-200px;z-index:999;text-transform:none;padding-top:10px;margin-top:10px;border:1px solid #E8E8E8}
.fly-item-img{float:left;width:25%;padding-right:10px}
.fly-item-img img{max-width:100%}
.fly-item-content{float:right;width:75%}
.fly-item{display:inline-block;width:100%;border-bottom:1px dashed #ccc;padding:10px}
.btn-dathang-fly{text-align:center;margin-top:20px;padding-bottom:10px}
.btn-dathang-fly a{text-decoration:none;color:#FFF;background:#9F0000;text-align:center;text-transform:uppercase;width:100%;display:inline-block}
.fly-item-dis font{color:#9F0000}
.orderdathang{margin-top:15px}
.orderdathang-title{text-transform:uppercase;background:#f0f0f0;padding:10px;margin-bottom:15px}
.order-tt{margin:0;padding:0;list-style:none}
.order-tt li{padding:5px 0;border-bottom: 1px solid #333;}
.moreorder{text-align:center;margin-top:30px;display:inline-block;width:100%}
.moreorder a{text-decoration:none;color:#9F0000;border:1px solid #9F0000;padding:10px;text-transform:uppercase}
.donhang_de{display:inline-block;width:100%}
.order-tt li i{font-size:10px;color:#ff5910;padding-right:7px}
.table{border-collapse:separate}
.table-hover > tbody > tr:hover > td,.table-hover > tbody > tr:hover > th{background-color:#eee}
.table thead > tr > th{border-bottom:1px solid #C2C2C2;padding-bottom:0;color:#000;font-size:16px}
.mod-content{margin:0 -15px 53px}
.shopping{margin-bottom:25px}
.shopright{text-align:right}
.i-check{color:#fff}
.sussess{color:#fff;font-size:14px}
.search{margin-top:20px}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{color:#000;font-weight:300}
.table tbody > tr > td{font-size:.875em;background:#f5f5f5;border-top:10px solid #fff;vertical-align:middle;padding:12px 8px;color:#000}
.table tbody > tr > td:first-child,.table thead > tr > th:first-child{padding-left:20px}
.table thead > tr > th span{border-bottom:2px solid #C2C2C2;display:inline-block;padding:0 5px;padding-bottom:5px;font-weight:400}
.table thead > tr > th > a span{color:#344644}
.table thead > tr > th > a span:after{content:"\f0dc";font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;margin-left:5px;font-size:.75em}
.table thead > tr > th > a.asc span:after{content:"\f0dd"}
.table thead > tr > th > a.desc span:after{content:"\f0de"}
.table thead > tr > th > a:hover span{text-decoration:none;color:#2bb6a3;border-color:#2bb6a3}
.table.table-hover tbody > tr > td{-webkit-transition:background-color .15s ease-in-out 0;transition:background-color .15s ease-in-out 0}
.table tbody tr td .call-type{display:block;font-size:.75em;text-align:center}
.table tbody tr td .first-line{line-height:1.5;font-weight:400;font-size:1.125em}
.table tbody tr td .first-line span{font-size:.875em;color:#969696;font-weight:300}
.table tbody tr td .second-line{font-size:.875em;line-height:1.2}
.table a.table-link{margin:0 5px;font-size:1.125em}
.table a.table-link:hover{text-decoration:none;color:#2aa493}
.table a.table-link.danger{color:#fe635f}
.table a.table-link.danger:hover{color:#dd504c}
.table-products tbody > tr > td{background:none;border:none;border-bottom:1px solid #ebebeb;-webkit-transition:background-color .15s ease-in-out 0;transition:background-color .15s ease-in-out 0;position:relative}
.table-products tbody > tr:hover > td{text-decoration:none;background-color:#f6f6f6}
.table-products .name{display:block;font-weight:600;padding-bottom:7px}
.table-products .price{display:block;text-decoration:none;width:50%;float:left;font-size:.875em}
.table-products .price > i{color:#8dc859}
.cart-empty__image{margin-bottom:35px}
.adr_bg_cartempty{background-position:-257px -748px;width:172px;height:172px;background-image:url(../images/icon/images_sprites_v1.8.png);display:inline-block}
.cart-empty{text-align:center}
.cart-empty_title{font-size:16px;font-weight:700;color:#464850}
.btn-cart-continue-shopping{background-color:#4cae22;display:inline-block;font-size:16px;font-weight:700;color:#fff;border-radius:5px;padding:12px 120px;margin-top:20px;box-shadow:0 3px 10px 3px #f3f4f6;transition:all .4s ease-in-out}
.btn-cart-continue-shopping:hover{color:#fff}
@media screen and (max-width : 1024px) {
input[type=number]{appearance:textfield}
.quantydetail{width:200px}
.btn-cart-continue-shopping{padding:12px 30px}
.rs_total{font-size: 13px;}
.order-tt li{ font-size: 13px; }
}
@media only screen and (max-width: 480px) and (min-width: 200px) {
.shoppingcart1{width:100%;margin:0 auto;margin-top:15px}
.cpro_item_r{width:45%;font-size:12px;line-height:20px}
.cpro_item_rr{width:35%;margin-top:25px}
.form-control-chosen_distric{padding-left:0}
.form-control-chosen{padding-right:0}
}
@media screen and (max-width : 320px) {
.quantydetail{float:left;margin-bottom:20px;width:210px}
.cpro_item_rr{text-align:left}
}