/* BEGIN TOUR NEWS */
.title {
    overflow: hidden;
    margin-bottom: 30px;
}
.title .title_v1 {
    color: #095184;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}
.bg-bottom-title {
    height: 14px;
    background: url(../images/bg-title-bottom.png)center no-repeat;
    margin-bottom: 14px;
}
.box-payment-v1 .title-form {
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
    line-height: 42px;
}
.message-box-ss {
    background: #e9f1e0;
    border-radius: 3px;
    color: #426938;
    padding: 10px 24px;
    text-shadow: 0 0px 1px rgba(0, 0, 0, 0.1);
    line-height: 30px;
}
.box-payment-v1 {
    background: #f5f5f5;
    padding: 15px 22px;
    color: #333;
    height: 100%;
}
.list-payment-form-v1 {
    overflow: hidden;
    margin: 0 -11px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.list-payment-form-v1 .item-1 {
    width: 50%;
    padding: 0 11px;
    float: left;
}
.list-payment-form-v1 .item>p {
    color: #333;
    font-weight: bold;
    line-height: 24px;
}
.list-payment-form-v1 .item>span {
    display: block;
    font-size: 13px;
    line-height: 24px;
    color: #605e5e;
}
.list-payment-form-v1 .item .inp-payment-v1 {
    position: relative;
    border-radius: 4px;
    margin: 5px 0 7px;
}
.list-payment-form-v1 .item .inp-payment-v1 .avt {
    background: #73c04a;
    width: 44px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px 0 0 4px;
    pointer-events: none;
}
.list-payment-form-v1 .item .inp-payment-v1 input {
    width: 100%;
    border-radius: 4px;
    line-height: 36px;
    border: 1px solid #ddd;
    padding: 0 17px 0 60px;
}
.list-payment-form-v1 .item .inp-payment-v1 .avt i
{
    color: #fff;
    line-height: 38px;
    font-size: 19px;
}
.list-payment-form-v1 .item .txt-area-payment-v1 {
    margin-top: 5px;
}
.list-payment-form-v1 .item .txt-area-payment-v1 textarea {
    width: 100%;
    border-radius: 4px;
    line-height: 30px;
    padding: 5px 20px;
    border: 1px solid #ddd;
}
.message-box-av {
    background: #d3e8f2;
    color: #305c92;
    border-radius: 3px;
    padding: 7px 20px;
    position: relative;
}
.custom-checkbox {
    display: table;
    float: left;
    padding-top: 1px;
    margin-right: 10px;
    position: absolute;
}
.custom-checkbox label {
    width: 16px;
    height: 18px;
    margin: 0;
    display: inline-block;
}
.message-box-av p {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 0;
}
.box-payment-v1 .btn-submit {
    display: table;
    margin: 25px auto;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    line-height: 41px;
    padding: 0px 22px;
    border-radius: 3px;
    background: #ff7e00;
    border: none;
}
.payment-price-v1 {
    list-style: none;
    overflow: hidden;
    margin-top: 10px;
    padding-left: 0;
}
.payment-price-v1>li {
    border-top: 1px solid #ddd;
    overflow: hidden;
}
.payment-price-v1 li p.left {
    float: left;
    color: #333333;
}
.payment-price-v1>li>p {
    line-height: 42px;
}
.payment-price-v1 li p.money {
    float: right;
    font-size: 16px;
    color: #ff0303;
    font-weight: bold;
}

.list-payment-form-v1a {
    margin: 0 -6.5px;
    margin-top: 0;
    overflow: initial;
}
.list-payment-form-v1a:before, .list-payment-form-v1a:after {
    content: '';
    display: table;
}
.list-payment-form-v1 .item-3 {
    width: 60%;
}
.list-payment-form-v1a .item {
    padding: 0 6.5px;
    float: left;
}
.list-payment-form-v1 .item-4 {
    width: 40%;
}
.select-payment-v1 {
    position: relative;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 5px;
    background: #fff;
    height: 38px;
    padding: 2px;
}
.select-payment-v1 .avt {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 99;
    width: 16px;
    height: 36px;
}
.avt img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.select-payment-v1 select {
    width: 100%;
    height: 32px;
    padding: 0 20px;
    border: none;
}
#order-summary-ajax
{
    margin-bottom: 15px;
    display: block;
}
.order-summary-small-text
{
    text-align: left;
}
/* END TOUR NEWS */


.color-red{color:red}
.khoihanh{font-weight:700;color:#000}
.thoigian{font-weight:700;color:#000}
.list-order{display:inline-block;width:32.3%}
.product-description-name {
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
    display: block;
}.total_sum_child{background:#4cae22;color:#fff;padding:4px 10px;display:block;margin-top:10px}
.total_monney_coc_child{background:#4cae22;color:#fff;padding:4px 10px;margin-top:10px;display:block}
.total_sum {
    padding: 4px 0px 0px;
    display: block;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    overflow: hidden;
}
.total_tt {
    padding: 4px 0px 0px;
    display: block;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    overflow: hidden;
}
.total_monney_coc{background:#4cae22;color:#fff;padding:4px 10px;margin-top:10px;display:none}
.price_tour{color:red}
.qty {
    width: 80px;
    border: 1px solid #eceaeb;
    text-align: center;
    padding: 7px 7px;
    margin: 5px 0 7px;
}
.qty_child{width:80px;border:1px solid #eceaeb;text-align:center;padding:5px 7px}
.qty_baby{width:80px;border:1px solid #eceaeb;text-align:center;padding:5px 7px}
.btn-primary{margin-top:5px;padding:4px 10px}
.choose-quantity{float:left;margin:2px}
.choose-quantity span{font-size:14px;text-transform:uppercase}
.choose-quantity td span button{border:none;background:none;padding-top:0}
.choose-quantity tr td input{width:50px;text-align:center}
.btn-dark{color:#fff;background-color:#4cae22;border-color:#4cae22;border-radius:0}
.btn-dark:hover{color:#fff}
@-webkit-keyframes rotate {
0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes rotate {
0%{-webkit-transform:rotate(0);transform:rotate(0)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.cart-empty{text-align:center;margin-bottom:30px}
.cart-empty_title{font-size:16px;font-weight:700;color:#464850}
.btn-cart-continue-shopping{background-color:#000;display:inline-block;font-size:16px;font-weight:700;color:#fff;border-radius:5px;padding:12px 120px;margin-top:20px;box-shadow:0 3px 10px 3px #f3f4f6;transition:all .4s ease-in-out}
.code_sale{margin-top:10px}
.hvr-underline-from-left{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);position:relative;overflow:hidden}
.hvr-underline-from-left:before{content:"";position:absolute;z-index:-1;left:0;right:0;bottom:0;background:#000;height:1px;-webkit-transition-property:right;transition-property:right;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}
.hvr-underline-from-left:hover:before,.hvr-underline-from-left:focus:before,.hvr-underline-from-left:active:before{right:100%}
.xoa{float:right;margin-top:15px;font-size:12px}
.input-group .form-control{border-radius:0}
[class^="hvr-"]{margin:.4em;padding:1em;cursor:pointer;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.hvr-shutter-out-horizontal{padding:12px}
.hvr-shutter-out-horizontal:hover{padding:12px}
.notice-checkout{font-weight:400;padding:10px;border:1px solid #000;line-height:23px;margin:0}
#section-payment-method{margin-top:20px}
.ins-additional-bar{width:100%;height:40px;background-color:#eceaeb;margin-top:15px;margin-bottom:15px}
img.ins-additional-bar-image{margin:10px;width:21px;z-index:99999;float:left}
.ins-additional-bar-text{float:left;margin:8px;font-size:14px;margin-left:0}
ul{}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:0;line-height:1em}
h2{font-size:1.28571em}
h3{font-size:1em;font-weight:500;margin-bottom:.75em}
h3:not(:first-child){margin-top:1.5em}
table{width:100%;border-collapse:collapse;border-spacing:0;font-size:1em}
td,th{padding:0;padding-left:1em}
td:first-child,th:first-child{padding-left:0;text-align:left}
td:last-child,th:last-child{text-align:right}
img{border:0;max-width:100%}
p{margin:0;line-height:1.5em}

.radio-wrapper,.checkbox-wrapper{display:table;box-sizing:border-box;width:100%;zoom:1}
.radio-wrapper:after,.radio-wrapper:before,.checkbox-wrapper:after,.checkbox-wrapper:before{content:"";display:table}
.radio-wrapper .radio-input,.checkbox-wrapper .checkbox-input{display:table-cell;padding-right:.75em;white-space:nowrap}
.radio-wrapper .radio-input .input-radio,.checkbox-wrapper .checkbox-input .input-checkbox{width:18px;height:18px;box-shadow:0 0 0 0 #338dbc inset;transition:all .2s ease-in-out;position:relative;cursor:pointer;vertical-align:-4px;outline:0;border:solid 1px #d9d9d9}
.radio-wrapper .radio-input .input-radio:hover,.checkbox-wrapper .checkbox-input .input-checkbox:hover{border-color:#ccc}
.radio-wrapper .radio-input .input-radio{border-radius:50%}
.radio-wrapper .radio-input .input-radio:checked,.checkbox-wrapper .checkbox-input .input-checkbox:checked{border:none;box-shadow:0 0 0 10px #338dbc inset}
.radio-wrapper .radio-input .input-radio:checked:focus,.checkbox-wrapper .checkbox-input .input-checkbox:checked:focus{border-color:#286f94}
.radio-wrapper .radio-input .input-radio:checked:after,.checkbox-wrapper .checkbox-input .input-checkbox:checked:after{-webkit-transform:scale(1);transform:scale(1);opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 100 );filter:alpha(opacity=100)}
.radio-wrapper .radio-input .input-radio:after,.checkbox-wrapper .checkbox-input .input-checkbox:after{content:"";display:block;position:absolute;top:50%;left:50%;-webkit-transform:scale(0.2);transform:scale(0.2);transition:all .2s ease-in-out .1s;opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 0 );filter:alpha(opacity=0)}
.radio-wrapper .radio-input .input-radio:after{width:4px;height:4px;margin-left:-2px;margin-top:-2px;background-color:#fff;border-radius:50%}
.radio-wrapper .radio-label,.checkbox-wrapper .checkbox-label{display:table-cell;width:100%;cursor:pointer;vertical-align:middle;padding:1.3em}
.radio-wrapper .radio-label .radio-label-primary,.checkbox-wrapper .checkbox-label .checkbox-label-primary{display:table-cell;width:100%}
.radio-wrapper .radio-accessory,.checkbox-wrapper .checkbox-accessory{display:table-cell;padding-left:.75em;white-space:nowrap}
.radio-wrapper.no-box,.checkbox-wrapper.no-box{display:block}
.radio-wrapper.no-box .radio-input,.checkbox-wrapper.no-box .checkbox-input{display:inline-block}
.radio-wrapper.no-box .radio-label,.checkbox-wrapper.no-box .checkbox-label{display:inline-block;width:inherit}
::selection{background:#338dbc;color:#fff}
.btn-spinner{position:absolute;top:50%;left:50%;margin-top:-10px;margin-left:-10px;opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 0 );filter:alpha(opacity=0)}
.btn-loading{pointer-events:none;cursor:default}
.btn-loading .btn-content{opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 0 );filter:alpha(opacity=0)}
.btn-loading .btn-spinner{-webkit-animation:rotate .5s linear infinite;animation:rotate .5s linear infinite;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 100 );filter:alpha(opacity=100)}
.icon{background-position:center center;background-repeat:no-repeat;display:inline-block}
.icon.icon-button-spinner{width:20px;height:20px;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PHBhdGggZD0iTTIwIDEwYzAgNS41MjMtNC40NzcgMTAtMTAgMTBTMCAxNS41MjMgMCAxMCA0LjQ3NyAwIDEwIDB2MmMtNC40MTggMC04IDMuNTgyLTggOHMzLjU4MiA4IDggOCA4LTMuNTgyIDgtOGgyeiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==),none}
.icon.icon-clear{width:16px;height:16px;border-radius:50%;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMiAtNCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAyIC00IDE2IDE2Ij48cGF0aCBvcGFjaXR5PSIuMiIgZD0iTTEwLTRjLTQuNCAwLTggMy42LTggOHMzLjYgOCA4IDggOC0zLjYgOC04LTMuNi04LTgtOHptMy43IDEwLjdsLTEgMS0yLjctMi42LTIuNyAyLjYtMS0xIDIuNi0yLjctMi42LTIuNyAxLTEgMi43IDIuNiAyLjctMi42IDEgMS0yLjYgMi43IDIuNiAyLjd6Ii8+PC9zdmc+),none}
.icon.icon-os-question{width:18px;height:18px;margin-right:.5em;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij48cGF0aCBkPSJNOSAxOGM0Ljk3IDAgOS00LjAzIDktOXMtNC4wMy05LTktOS05IDQuMDMtOSA5IDQuMDMgOSA5IDl6TTUuODUgNy4xNjJoMS41NDZjLjA1My0uODAzLjYtMS4zMTcgMS40NS0xLjMxNy44MjggMCAxLjM4LjQ5NCAxLjM4IDEuMTggMCAuNjUtLjI3NSAxLTEuMDkyIDEuNDkzLS45MDguNTM0LTEuMjkgMS4xMjYtMS4yMyAyLjExNGwuMDA2LjQ0OGgxLjUyN3YtLjM3NmMwLS42NS4yNDQtLjk4NyAxLjEwNi0xLjQ5NC44OTYtLjUzNCAxLjM5Ni0xLjIzOCAxLjM5Ni0yLjI0NiAwLTEuNDU1LTEuMjA3LTIuNDk1LTMuMDEtMi40OTUtMS45NTUgMC0zLjAzIDEuMTMtMy4wOCAyLjY5em0yLjg5NiA3LjA1OGMuNjcyIDAgMS4wOTMtLjQxNCAxLjA5My0xLjA0NiAwLS42NC0uNDIzLTEuMDU0LTEuMDk1LTEuMDU0LS42NiAwLTEuMDkzLjQxNS0xLjA5MyAxLjA1NCAwIC42MzIuNDM0IDEuMDQ2IDEuMDkzIDEuMDQ2eiIgZmlsbD0iI0I1QjVCNSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+),none}
.icon.icon-closed-box{width:68px;height:54px;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2OCIgaGVpZ2h0PSI1NCIgdmlld0JveD0iMjQuMSAtMTcgNjggNTQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMjQuMSAtMTcgNjggNTQiPjxwYXRoIHN0cm9rZT0iI0IyQjJCMiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGZpbGw9Im5vbmUiIGQ9Ik0yNS4xLTVoNjZNMzIuMSAyOGgxNk0zMi4xIDIzaDEyIi8+PHBhdGggc3Ryb2tlPSIjQjJCMkIyIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTI1LjEtNS40bDYuNy0xMC42aDUyLjlsNi40IDEwLjZ2MzguNmMwIDEuNi0xLjIgMi44LTIuOCAyLjhoLTYwLjRjLTEuNiAwLTIuOC0xLjItMi44LTIuOHYtMzguNnpNNTguMS0xNnYxMSIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==),none}
.icon.icon-closed-box.has-error{width:68px;height:54px;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2OCIgaGVpZ2h0PSI1NCIgdmlld0JveD0iMjQuMSAtMTcgNjggNTQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMjQuMSAtMTcgNjggNTQiPjxwYXRoIHN0cm9rZT0iI2ZmNmQ2ZCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGZpbGw9Im5vbmUiIGQ9Ik0yNS4xLTVoNjZNMzIuMSAyOGgxNk0zMi4xIDIzaDEyIi8+PHBhdGggc3Ryb2tlPSIjZmY2ZDZkIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTI1LjEtNS40bDYuNy0xMC42aDUyLjlsNi40IDEwLjZ2MzguNmMwIDEuNi0xLjIgMi44LTIuOCAyLjhoLTYwLjRjLTEuNiAwLTIuOC0xLjItMi44LTIuOHYtMzguNnpNNTguMS0xNnYxMSIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==),none}
.flexbox{}
.flexbox body,.flexbox .content,.flexbox .content .wrap,.flexbox .main{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto}
.flexbox .main-content{-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto}
.step-footer{z-index:2;position:relative;margin-top:1em;zoom:1;margin-bottom:20px}
.step-footer:after,.step-footer:before{content:"";display:table}
.step-footer:after{clear:both}
.step-footer .step-footer-previous-link{cursor:pointer;display:block}
.step-footer .step-footer-previous-link .previous-link-icon{fill:#338dbc;transition:all .2s cubic-bezier(0.3,0,0,1);margin-right:.25em}
.step-footer .step-footer-previous-link:hover .previous-link-icon{fill:#2b78a0;-webkit-transform:translateX(-5px);transform:translateX(-5px)}
.step-footer .step-footer-info{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
.content{overflow-x:hidden}
.content.content-second{display:none}
.section{position:relative;padding-top:2em}
.section.thank-you-checkout-info{padding-top:.5em}
.section:first-child{padding-top:0}
.section .section-header{position:relative}
.section .section-content{zoom:1;margin-bottom:2em}
.section .section-content .section-content-text{margin-bottom:.75em}
.section .section-content.no-mb,.section .section-content:last-child{margin-bottom:inherit}
.section .section-content:after,.section .section-content:before{content:"";display:table}
.section .section-content .content-box{box-shadow:0 0 0 1px #d9d9d9;background:#fff;color:#737373;margin-top:1em}
.section .section-content .content-box.has-error{box-shadow:0 0 0 2px #ff6d6d;color:#ff6d6d}
.section .section-content .content-box.no-border{box-shadow:none}
.section .section-content .content-box:first-child{margin-top:0}
.section .section-content .content-box .content-box-row{display:table;box-sizing:border-box;width:100%;border-top:1px solid #d9d9d9;zoom:1}
.section .section-content .content-box .content-box-row.content-box-row-padding{padding:.8em .6em}
.section .section-content .content-box .content-box-row:first-child{border-top:none}
.section .section-content .content-box .content-box-row:last-child{}
.section .section-content .content-box .content-box-row:after,.section .section-content .content-box .content-box-row:before{content:"";display:table}
.section .section-content .content-box .content-box-row.content-box-row-secondary{background-color:#fafafa}
.section .section-content .content-box .content-box-row.content-box-row-no-border{padding-bottom:0}
.section .section-content .content-box .content-box-row.content-box-row-no-border+.content-box-row{border-top:none!important}
.section .section-content .content-box .content-box-emphasis{font-weight:500;color:#4d4d4d}
.section .section-content .content-box h3{color:#4d4d4d}
.section .section-content .content-box h2{color:#333}
.section .section-content .content-box h2:only-child{margin:0}
.section .section-title{color:#333}
.fieldset{margin:-.45em;zoom:1}
.fieldset:after,.fieldset:before{content:"";display:table}
.fieldset:after{clear:both}
.fieldset .field{width:100%;float:left;padding:.45em;box-sizing:border-box}
.fieldset .field .field-input-btn-wrapper{display:-webkit-flex;display:-ms-flexbox;display:flex}
.fieldset .field .field-input-btn-wrapper .field-input-btn{width:auto;margin-left:.9em;white-space:nowrap;padding-top:0;padding-bottom:0}
.fieldset .field .field-input-btn-wrapper .field-input-wrapper{-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
.fieldset .field .field-input-wrapper{position:relative}
.fieldset .field .field-input-wrapper .field-label{font-size:.85714em;font-weight:400;position:absolute;top:0;width:100%;padding:0 .93333em;z-index:1;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transform:translateY(3px);transform:translateY(3px);pointer-events:none;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 0 );filter:alpha(opacity=0);color:#999;transition:all .2s ease-out;margin:.5em 0;margin-top:.3em;display:block}
.fieldset .field .field-input-wrapper .field-input{box-shadow:0 0 0 1px #d9d9d9;transition:all .2s ease-out;background-color:#fff;color:#333;display:block;box-sizing:border-box;width:100%;padding:.94em 2.8em .94em .8em;word-break:normal}
.fieldset .field .field-input-wrapper .field-input:focus{box-shadow:0 0 0 2px #338dbc;outline:none}
.fieldset .field .field-input-wrapper .field-description{display:block;margin-left:25px;margin-top:2px}
.fieldset .field .field-input-wrapper.field-input-wrapper-select{}
.fieldset .field .field-input-wrapper.field-input-wrapper-select::before{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIxOSIgdmlld0JveD0iMCAwIDIxIDE5Ij48dGl0bGU+QXJ0Ym9hcmQgMTwvdGl0bGU+PGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBmaWxsPSIjMDAwIj48Zz48cGF0aCBkPSJNMCAwaDF2MTlIMFYweiIgaWQ9IlNoYXBlIiBmaWxsLW9wYWNpdHk9Ii4xNSIvPjxwYXRoIGQ9Ik0xMSA4aDEwbC01IDUtNS01eiIgZmlsbC1vcGFjaXR5PSIuNSIvPjwvZz48L2c+PC9nPjwvc3ZnPg==),none;content:'';position:absolute;right:0;top:0;bottom:0;width:50px;background-position:center center;background-repeat:no-repeat;pointer-events:none}
.fieldset .field .field-message{font-size:.85714em}
.fieldset .field .field-message.field-message-error{margin:0;display:none;margin:.75em 0 .25em;transition:all .3s ease-out;line-height:1.3em;color:#ff6d6d}
.fieldset .field.field-active{}
.fieldset .field.field-active .field-input-wrapper .field-label{color:#737373}
.fieldset .field.field-show-floating-label{}
.fieldset .field.field-show-floating-label .field-input-wrapper .field-label{-webkit-transform:none;transform:none;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 100 );filter:alpha(opacity=100)}
.fieldset .field.field-show-floating-label .field-input-wrapper .field-input{padding-top:1.5em;padding-bottom:.38em}
.fieldset .field.field-show-floating-label .field-input-wrapper .field-input::-webkit-input-placeholder{color:transparent}
.fieldset .field.field-show-floating-label .field-input-wrapper .field-input::-moz-placeholder{color:transparent}
.fieldset .field.field-show-floating-label .field-input-wrapper .field-input::-moz-placeholder{color:transparent}
.fieldset .field.field-show-floating-label .field-input-wrapper .field-input::-ms-input-placeholder{color:transparent}
.fieldset .field.field-error{}
.fieldset .field.field-error .field-input-wrapper{}
.fieldset .field.field-error .field-input-wrapper .field-input{box-shadow:0 0 0 2px #ff6d6d}
.fieldset .field.field-error .field-message.field-message-error{display:block}
.wrap{margin:0 auto;max-width:40em;zoom:1}
.wrap:after{clear:both}
.wrap:after,.wrap:before{content:"";display:table}
.sidebar{position:relative;color:#717171}
.sidebar h2{color:#323232}
.sidebar:after{content:"";display:block;width:100%;position:absolute;top:0;left:-100%;bottom:0;background:#fafafa;z-index:-1;}
.sidebar .sidebar-content{}
.sidebar .sidebar-content .order-summary{}
.sidebar .sidebar-content .order-summary .order-summary-sections{}
.sidebar .sidebar-content .order-summary .order-summary-sections .order-summary-section:first-child{border-top:none}
.sidebar .sidebar-content .order-summary .order-summary-emphasis{font-weight:700;color:red;margin-bottom:10px; float:right;}
.sidebar .sidebar-content .order-summary .order-summary-small-text div .size{text-transform:uppercase}
.sidebar .sidebar-content .order-summary .product{}
.sidebar .sidebar-content .order-summary .product:first-child td{padding-top:0}
.sidebar .sidebar-content .order-summary .product td{padding-top:1em}
.sidebar .sidebar-content .order-summary .product .product-image{}
.sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail{background:#fff;position:relative}
.sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail .product-thumbnail-wrapper{width:100%;height:100%;position:relative}
.sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail .product-thumbnail-wrapper .product-thumbnail-image{}
.sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail .product-thumbnail-quantity{font-size:12px;font-weight:500;white-space:nowrap;padding:0 7px;border-radius:2em;background-color:#4db848;color:#fff;position:absolute;right:-.75em;top:-.75em;z-index:2;width:20px;height:20px;line-height:22px}
.sidebar .sidebar-content .order-summary .product .product-image .product-thumbnail::after{content:'';display:block;position:absolute;top:0;left:0;bottom:0;right:0}
.sidebar .sidebar-content .order-summary .product .product-description{width:60%}
.sidebar .sidebar-content .order-summary .product .product-description .product-description-name,.sidebar .sidebar-content .order-summary .product .product-description .product-description-variant,.sidebar .sidebar-content .order-summary .product .product-description .product-description-property{display:block}
.sidebar .sidebar-content .order-summary .product .product-quantity{}
.sidebar .sidebar-content .order-summary .product .product-price{white-space:nowrap;padding-top:26px!important;position:relative;right:-14px}
.sidebar .btn-disabled{cursor:default;background:#c8c8c8;box-shadow:none}
.banner{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;padding:1.5em 0;background:transparent;background-size:cover;display:none}
.logo-text{color:#333}
.main{}
.main .main-header .logo{display:none}
.main .main-header .breadcrumbs{padding-left:0}
.main .main-header .breadcrumbs .breadcrumb-item{display:inline-block;font-size:15px;color:#999}
.main .main-header .breadcrumbs .breadcrumb-item.breadcrumb-item-current{font-weight:500;color:#4d4d4d}
.main .main-header .breadcrumbs .breadcrumb-item:after{content:"";display:inline-block;width:6px;height:11px;vertical-align:middle;margin:0 .5em;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiBvcGFjaXR5PSIuNCIgZmlsbD0iIzAwMCI+PHBhdGggZD0iTS41MjYgMS40MDhsNCA0LjY0NS4wMTQtLjgzLTQgNC4zNTQuOTIuODQ2IDQtNC4zNTYuMzc2LS40MS0uMzYyLS40Mi00LTQuNjQ1LS45NDguODE2eiIvPjwvc3ZnPg==),none}
.main .main-header .breadcrumbs .breadcrumb-item:last-child:after{display:none}
.main .main-header .breadcrumbs .breadcrumb-item .breadcrumb-link{cursor:pointer}
.main .main-footer{padding:1em 0;border-top:1px solid #e6e6e6}
.main h2{color:#333}
.field-label-strong{font-weight:600}
.ctrl_payment_method{padding:10px 60px}
.ctrl_payment_method>label{margin-bottom:5px;display:block}
.ctrl_payment_method .payment_method_list{padding-left:10px}
.total-line {
    border-top: 1px solid;
    border-color: #e1e1e1;
}
.total-line td{padding-top:.75em}
.total-line-table-footer .total-line td{padding-top:3em;position:relative}
.total-line-table-footer .total-line td::before{background-color:#e1e1e1;content:'';position:absolute;top:1.5em;left:0;width:100%;height:1px}
.payment-due-label{}
.payment-due-label .payment-due-label-total{font-size:1.14286em;color:#4b4b4b}
.payment-due{}
.payment-due .payment-due-currency{font-size:.85714em;vertical-align:.2em;margin-right:.5em;color:#969696}
.payment-due .payment-due-price{font-size:1.71429em;font-weight:500;letter-spacing:-.04em;color:#4b4b4b;line-height:1em}
.applied-reduction-code{margin-left:.5em}
.applied-reduction-code .applied-reduction-code-icon{fill:#338dbc;vertical-align:middle;margin-right:.14286em}
.applied-reduction-code .applied-reduction-code-information{font-size:.85714em;color:#338dbc;font-weight:500}
.applied-reduction-code-clear-button{vertical-align:middle;margin-left:.28571em}
.hanging-icon{margin-right:.75em;stroke:#338dbc}
.hanging-icon.hanging-icon-error{stroke:#ff6d6d}
.os-header{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin:0}
.os-header .os-header-heading{-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
.os-header .os-header-heading .os-order-number{display:block}
.os-header .os-header-heading .os-header-title{font-size:1.5em;margin-bottom:.1em}
.os-header .os-header-heading .os-description{color:#4d4d4d}
.wrap{margin:0 auto;max-width:40em;zoom:1}
.wrap:after,.wrap:before{content:"";display:table}
.order-summary-toggle{background:#fafafa;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;padding:1.25em 0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;text-align:left;width:100%}
.order-summary-toggle .order-summary-toggle-inner{display:table;box-sizing:border-box;width:100%;zoom:1}
.order-summary-toggle .order-summary-toggle-inner:after,.order-summary-toggle .order-summary-toggle-inner:before{content:"";display:table}
.order-summary-toggle .order-summary-toggle-inner .order-summary-toggle-icon-wrapper{display:table-cell;vertical-align:middle;padding-right:.75em;white-space:nowrap}
.order-summary-toggle .order-summary-toggle-inner .order-summary-toggle-icon-wrapper .order-summary-toggle-icon{fill:#338dbc;transition:fill .2s ease-in-out}
.order-summary-toggle .order-summary-toggle-inner .order-summary-toggle-text{color:#338dbc;vertical-align:middle;transition:color .2s ease-in-out;display:none}
.order-summary-toggle .order-summary-toggle-inner .order-summary-toggle-text .order-summary-toggle-dropdown{vertical-align:middle;transition:fill .2s ease-in-out;fill:#338dbc}
.order-summary-toggle .order-summary-toggle-inner .order-summary-toggle-total-recap{display:table-cell;vertical-align:middle;text-align:right;padding-left:.75em;white-space:nowrap}
.order-summary-toggle .order-summary-toggle-inner .order-summary-toggle-total-recap .total-recap-final-price{font-size:1.28571em;line-height:1em;color:#4d4d4d}
.order-summary-toggle.order-summary-toggle-show{}
.order-summary-toggle.order-summary-toggle-hide .order-summary-toggle-inner .order-summary-toggle-text.order-summary-toggle-text-show,.order-summary-toggle.order-summary-toggle-show .order-summary-toggle-inner .order-summary-toggle-text.order-summary-toggle-text-hide{display:table-cell;width:100%}
.logged-in-customer-information{display:table;box-sizing:border-box;width:100%;margin-bottom:1.5em}
.logged-in-customer-information:after,.logged-in-customer-information:before{content:"";display:table}
.logged-in-customer-information .logged-in-customer-information-avatar-wrapper{display:table-cell;padding-right:1em;white-space:nowrap;vertical-align:middle}
.logged-in-customer-information .logged-in-customer-information-avatar-wrapper .logged-in-customer-information-avatar{border-radius:8px;background-size:cover;position:relative;max-width:none;width:50px;height:50px;overflow:hidden}
.logged-in-customer-information .logged-in-customer-information-avatar-wrapper .logged-in-customer-information-avatar:before{content:'';display:block;width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1;background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgdmlld0JveD0iMCAwIDUwIDUwIj48dGl0bGU+QXJ0Ym9hcmQ8L3RpdGxlPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTAgMGg1MHY1MEgwVjB6IiBmaWxsPSIjRDhEOEQ4Ii8+PHBhdGggZD0iTTI1LjEwMyAyNi4yNDJjMy4yMTIgMCA1LjY0Mi0yLjkyIDUuNjQyLTYuNzg3IDAtMy4wODYtMi41OC01LjcwNS01LjY0Mi01LjcwNS0zLjA2IDAtNS42NCAyLjYyLTUuNjQgNS43MDUgMCAzLjg2NiAyLjQzIDYuNzg3IDUuNjQgNi43ODd6bTAtMTAuNTRjMS45NTIgMCAzLjY3OCAxLjc2MyAzLjY3OCAzLjc1MyAwIDIuNzU3LTEuNTc0IDQuODM1LTMuNjc3IDQuODM1LTIuMTAzIDAtMy42NzctMi4wNzgtMy42NzctNC44MzUgMC0xLjk5IDEuNzI2LTMuNzUzIDMuNjc3LTMuNzUzem0tOC40NSAyMC42MTVsLjE3Ny0xLjg3N2MuMzktMy43NzggNC42OTctNC42MSA4LjI3My00LjYxIDMuNTc3IDAgNy44ODQuODMyIDguMjc0IDQuNTk4bC4xNzYgMS44OWgyLjAxNWwtLjE3Ni0yLjA4Yy0uNDQtNC4xMTctNC4wNjgtNi4zODQtMTAuMjktNi4zODQtNi4yMiAwLTkuODQ2IDIuMjY3LTEwLjI4NyA2LjM5N2wtLjE3NiAyLjA2N2gyLjAxNHoiIGZpbGw9IiNGRkYiLz48L2c+PC9zdmc+),none}
.logged-in-customer-information .logged-in-customer-information-paragraph{display:table-cell;width:100%;padding-top:.25em;vertical-align:middle}
@media (min-width: 1300px) {
.hanging-icon{position:absolute;right:100%;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);margin-right:1.5em}
}
@media (min-width: 1000px) {
.wrap{padding:0 5%;width:100%;max-width:90.57143em}
.order-summary-toggle{display:none}
.flexbox .content .wrap{-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.main{width:58%;padding-right:1%;float:left}
.main .main-header{padding-bottom:0}
.main .main-header .logo{display:block}
.main .main-header .breadcrumbs{margin-top:1em}
.sidebar {
    width: 40%;
    padding-left: 15px;
    background-position: left top;
    float: right;
    padding-bottom: 19%;
    padding-right: 15px;
    padding-top: 15px;
}
.sidebar:after{left:0;background-position:left top;}
.sidebar .sidebar-content .order-summary .order-summary-sections .order-summary-section:first-child{padding-top:0}
}
@media (max-width: 999px) {
.content{}
.content.content-second{display:block}
.wrap{width:100%;box-sizing:border-box;padding:0 1em}
.banner{display:block}
.main .main-header .breadcrumbs{display:none}
}
@media (max-width: 999px) and (min-width: 750px) {
.hanging-icon{position:absolute;right:100%;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);margin-right:1.5em}
}
@media (min-width: 750px) {
h1{font-size:2em}
.main{padding-top:15px;}
.main .main-content{padding-bottom:4em}
.step-footer{-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-top:1.5em}
.step-footer .step-footer-continue-btn{-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;float:right}
.step-footer .step-footer-previous-link{-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;margin-right:1em;float:left;display:block}
.step-footer .step-footer-info{-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;margin-right:1em;float:left}
.section{padding-top:0}
.section.thank-you-checkout-info{padding-top:1.5em}
.section .section-header{margin-bottom:12px}
.field-half{width:50%!important}
.field-two-thirds{width:66.66667%!important}
.field-third{width:33.33333%!important}
.os-header{margin:0 0 -.5em!important}
.icon{}
.icon.icon-closed-box{width:108px;height:85px;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDgiIGhlaWdodD0iODUiIHZpZXdCb3g9IjAgMCAxMDggODUiPjxnIHN0cm9rZT0iI0IyQjJCMiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGZpbGw9Im5vbmUiPjxwYXRoIGQ9Ik0xIDE4aDEwNk0xMSA3MC4zaDI2bS0yNi02aDI2bS0yNi02aDE3Ii8+PC9nPjxwYXRoIHN0cm9rZT0iI0IyQjJCMiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0xIDE4bDEwLjctMTdoODQuN2wxMC42IDE3djYxLjVjMCAyLjUtMiA0LjUtNC41IDQuNWgtOTdjLTIuNSAwLTQuNS0yLTQuNS00LjV2LTYxLjV6TTU0IDF2MTYuNiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==),none}
.icon.icon-closed-box.has-error{width:108px;height:85px;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDgiIGhlaWdodD0iODUiIHZpZXdCb3g9IjAgMCAxMDggODUiPjxnIHN0cm9rZT0iI2ZmNmQ2ZCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGZpbGw9Im5vbmUiPjxwYXRoIGQ9Ik0xIDE4aDEwNk0xMSA3MC4zaDI2bS0yNi02aDI2bS0yNi02aDE3Ii8+PC9nPjxwYXRoIHN0cm9rZT0iI2ZmNmQ2ZCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik0xIDE4bDEwLjctMTdoODQuN2wxMC42IDE3djYxLjVjMCAyLjUtMiA0LjUtNC41IDQuNWgtOTdjLTIuNSAwLTQuNS0yLTQuNS00LjV2LTYxLjV6TTU0IDF2MTYuNiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==),none}
}
@media (min-width: 1000px) {
}
.text-center{text-align:center}
@media (max-width: 749px) {
.main{padding-top:1.5em}
.list-order{width:100%;margin-bottom:10px}
.main .main-content{padding-bottom:1.5em}
.section-header{margin-bottom:1em}
.text-center{text-align:left}
.step-footer{}
.step-footer .step-footer-previous-link{padding-top:1.5em;text-align:center}
.step-footer .step-footer-info{-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;padding-top:1.5em;text-align:center}
}
.thank-you-additional-content{margin-top:15px;line-height:1.25em}
.blank-slate{white-space:pre-line;padding:1.5em;text-align:center}
.blank-slate .blank-slate-icon{margin-bottom:1em}
.dp-none{display:none}
.dp-inline-block{display:inline-block}
.visually-hidden{border:0;clip:rect(0,0,0,0);clip:rect(0 0 0 0);width:2px;height:2px;margin:-2px;overflow:hidden;padding:0;position:absolute}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.group:after{content:"";display:table;clear:both}
.pt0{padding-top:0!important}
.mt0{margin-top:0!important}
.mb5{margin-bottom:5px}
.hidden{display:none!important}