.modal-header .close{position:absolute;top:15px;right:20px;font-size:20px}
.modal-title{font-size:25px}
.contant_main{background:#fff;box-shadow:1px 1px 20px 0 rgba(0,0,0,0.08);overflow:hidden;margin-top:30px;padding-bottom:30px}
.breadcrumb{margin-bottom:0}
.c-button{margin-bottom:0!important}
.pull-email{text-align:right}
.pull-email i{font-size:25px}
.contant_main h3{font-size:20px;font-weight:500;color:#4a545e;margin:0;margin-bottom:8px}
.map{position:relative;margin-bottom:170px;margin-left:-15px;margin-right:-15px}
.info_contact{position:relative;padding:20px;font-size:16px;line-height:30px}
.all_cat_wrapper:hover .all_categories{display:block}
#vnt-content{}
.info_contact h1{margin-bottom:15px}
.formContact ul 
{
    padding-left: 0px;
}
.formContact .gb-button{background-color:#ff6900;color:#fff;font-weight:700;text-transform:uppercase;letter-spacing:.21em;padding:15px 20px;border-radius:5px;text-transform:uppercase;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;align-items:center;margin-bottom:15px}
.info_contact a:hover{color:#fff}
#vnt-header{position:inherit}
.box_mid .mid-title .titleL h1{background-position:left;margin-bottom:20px;background-position-y:bottom}
.info_contact .name{font-size:22px;line-height:32px;text-transform:uppercase;font-weight:700;color:#fd1c23;margin-bottom:5px}
.info_contact .text{font-size:14px;line-height:20px;font-style:italic;font-weight:700;margin-bottom:10px}
.info_contact .before{font-size:15px;padding-left:25px;position:relative;margin-bottom:10px;font-weight:400;line-height:25px}
.info_contact .before:before{position:absolute;font-family:"FontAwesome";top:0;left:0;color:#fff;font-size:15px;font-weight:600}
.info_contact .Qcode{position:absolute;top:10px;left:0;padding:25px;background:#fff}
.info_contact .Qcode img{max-width:130px;max-height:130px}
.info_contact .view_map{margin-top:15px}
.info_contact .view_map a{display:inline-block;padding:5px 45px 5px 20px;font-size:14px;line-height:20px;color:#4db2ec;border-bottom:1px solid #4db2ec;position:relative;text-transform:uppercase;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
.info_contact .view_map a:hover{color:#fd1c23;border-color:#fd1c23}
.info_contact .view_map a:before{font-weight:600;position:absolute;bottom:5px;right:0;font-family:"FontAwesome";content:'\f3c5';font-size:24px}
.formContact {
    padding: 30px 0px 0;
    max-width: 80%;
    margin: 0 auto;
    float: none;
}#formContact .div_ps{margin-bottom:25px}
#formContact{color:#333}
.formContact .row-form{margin-bottom:10px}
.formContact .row-form .rf_left{float:left}
.formContact .row-form .rf_right input{background:#f0f8ff;height:28px}
.formContact .row-form label{font-weight:400}
.formContact .row-form label span{color:#fd1c23}
.formContact .row-form textarea.form-control{height:80px;resize:none;background-position:12px 10px}
.formContact .row-form .input-group-img{width:1%;white-space:nowrap;padding-left:7px;display:table-cell;vertical-align:top}
.formContact .row-form .input-group-img img{max-width:none}
.row-form.c-button .fl,.row-form.c-button .fr{width:100%}
.row-form button.btn{width:100%;height:auto;padding:10px 0;font-size:14px;line-height:20px;outline:0;-webkit-border-radius:0;-moz-border-radius:0;-o-border-radius:0;-ms-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;position:relative;z-index:1;overflow:hidden;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;text-transform:uppercase;background:#4cae22;color:#fff}
.row-form button.btn:after{position:absolute;content:"";top:0;left:0;width:100%;height:100%;opacity:0;background:rgba(0,0,0,0.1);-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;font-weight:400}
.row-form button.btn:active,.row-form button.btn:hover{background:#4cae22;color:#fff}
.row-form button.btn span:before{position:absolute;font-family:"FontAwesome";left:0;top:50%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-o-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);font-size:18px;font-weight:400}
.row-form .btn:active:focus,.row-form .btn:focus{outline:thin dotted;outline:0 auto -webkit-focus-ring-color;outline-offset:-2px;color:#fff}
.tab_wrapper{margin-top:40px;margin-bottom:20px;position:relative}
.tab_wrapper .tab_title{padding:8px 40px 8px 10px;font-size:14px;line-height:28px;overflow:hidden;height:46px;-webkit-text-overflow:ellipsis;-o-text-overflow:ellipsis;text-overflow:ellipsis;position:relative;cursor:pointer;display:none;border:1px solid #333;color:#000}
.tab_wrapper .tab_title:after{position:absolute;content:'';top:16px;right:10px;border:8px solid transparent;border-top:8px solid #666}
ul.tab_nav{padding:0!important;margin-top:10px;margin-bottom:0}
ul.map_nav{border-bottom:0}
ul.map_nav li,ul.tab_nav li{list-style:none;padding:0;display:inline-block}
ul.tab_nav li a{display:block;text-align:center;text-decoration:none;padding:10px 30px;position:relative;background:#1d1d1d;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;font-size:14px;line-height:24px;color:#fff}
ul.tab_nav li:hover{z-index:9999}
ul.tab_nav li:hover a,ul.tab_nav li a.active{color:#fff;background-color:#4db2ec}
ul.map_nav li a{background:#ccc;padding:8px 15px;font-weight:400}
.tab_content{}
.tab_content ul li{line-height:20px;list-style:square inside;font-size:12px}
.tab_content img{max-width:100%}
@media screen and (max-width: 1024px) {
.contant_main{position:inherit;top:inherit;left:inherit;width:90%}
.c-button{margin-bottom:10px!important}
.map{margin-bottom:0}
.tab_wrapper .tab_title{display:block}
.tab_responsive ul.tab_nav{position:absolute;top:46px;left:0;width:100%;display:none;margin-top:0}
.info_contact h1{font-size:22px;margin-bottom:8px}
.breadcrumb{margin:0}
.tab_responsive.show ul.tab_nav{display:block}
.tab_responsive ul.tab_nav li{float:none;display:block;margin-top:0;margin-right:0;border-bottom:1px solid #333}
.tab_responsive ul.tab_nav li a{text-align:left;text-transform:none;padding:10px;background:#1d1d1d}
ul.tab_nav li a.active{background:#1d1d1d;color:#fff}
ul.tab_nav li a.active:hover,ul.tab_nav li a:hover{color:#dc291e;background:#1d1d1d}
.formContact {
    background: none;
    max-width: 100%;
}
#formContact{width:100%;background:none;padding:0}
.formContact .row-form .rf_left{width:100%;float:none}
.formContact .row-form .rf_right{width:100%;float:none}
.info_contact{width:92%;left:4%;height:auto;font-size:15px;padding:20px 10px}
iframe{width:100%}
}