
/* BEGIN VISA */
.vnt-visa .gird-new_home .item .i-desc .i-title
{
  text-align: center;
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  width: 50%;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  right: 25px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 0px;
  margin-left: -25px;
  background-color: #fff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
/* .timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
} */
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-title {
  margin-bottom: 20px !important;
  color: #f00;
}
.btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}
/* END VISA */

/* BEGIN hãng hàng không */
.gird-new_home.noborder{margin-bottom:0}

.gird-new_home .item{position:relative;min-height:1px;padding-right:15px;padding-left:15px}

.gird-new_home .item .wap-item {

    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.13);
    margin-bottom: 15px;
}
.gird-new_home .item .i-desc
{
    padding: 0px 15px 10px;
}
.gird-new_home .item .i-desc .mota
{
    font-style: italic;
}
.gird-new_home .item .i-desc .mota i {
    vertical-align: middle;
    font-size: 12px;
    margin-right: 3px;
    margin-top: -3px;
    display: inline-block;
    color: #3F51B5;
}
.gird-new_home .item .i-desc .mota p
{
  display: contents;
  font-weight: 400;
}
.box-customer{
    padding:60px 0px;
}

.box-customer .box-part{
    background:#FFF;
    border-radius:0;
    padding:0px 10px;
    margin:20px 0px;
}
.section-title {
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    color: #fa1414;
    clear: both;
    text-align: center;
}
.section-title b {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}
.section-title-center span {
    margin: 0 15px;
    text-transform: uppercase;
    text-align: center;
}
.section-title i {
    opacity: .6;
    margin-right: 0.5em;
}
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 300px;
  max-height: 100px
}
/* End carousel */
/* END HÃNG HÀNG KHÔNG */



.wap_in{background: #fff;overflow: hidden;padding-top: 20px;}

.er_toc{font-size:10pt;max-width:100%;padding:5px 10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#dbedf9;border:1px solid #c7e4f4}

.er_toc ul,.er_toc ol{margin:0;padding:0}

.er_toc li{padding-top:5px;list-style:none;font-size:15px}

.er_toc li a{color:#167ac6}

.er_toc li ul li a{color:#167ac6}

.er_toc ul ul,.er_toc ol ol{margin-left:20px}

.er_toc .er_toc_title{display:block;font-weight:700;border-bottom:1px solid #167ac6;margin-bottom:5px;font-size:18px;line-height:28px;padding:5px}

.er_toc .er_toc_title_close{color:#167ac6}

.er_toc .er_toc_title span{display:inline-block;border:0 solid #fff;width:0;overflow:hidden;height:0;margin:0 0 0 3px}

.er_toc .er_toc_title_open span{border-width:0 5px 6px;border-color:#333 #f1f1f100}

.er_toc .er_toc_title_close span{border-width:5px 5px 0;border-color:#333 #f1f1f100}

a.er_toc_top{display:none;border:0 solid #fff;width:0;overflow:hidden;height:0;margin:0 0 0 5px;border-width:0 6px 12px;border-color:#999 #fff}

a.er_toc_top:hover{border-color:#1982D1 #fff}

.er_toc_disc ul,.er_toc_disc ol{margin-left:20px}

.er_toc_disc li{list-style:disc}

.box{margin:2rem 0 0}

.i-rate{text-align:center}

.mota{text-align:center}

.post_news_detail{font-size:17px;line-height:30px; background: #fff;text-align: justify;}

.post_news_detail h2{font-size:25px;line-height:37px}

.post_news_detail h3{font-size:22px;font-weight:600}

.post_news_detail h4{font-size:20px;font-weight:600}

.post_news_detail h5,h6{font-size:18px;font-weight:600}

.comment{margin-top:1px; background: #fff;}

.comment .title-cat{text-align:left}

.dembl{position:relative;top:-8px; }

.box figure figcaption{bottom:6px}

ul.article-info-more{padding-left:0;text-align:center}

ul.article-info-more li i{margin-right:0}

ul.article-info-more li{opacity:.85;display:inline-block;font-size:13px;font-weight:600}

ul.article-info-more li a{color:#333}

.breadcrumb ul{padding:10px 15px}

.i-desc{padding-bottom:0}

@media screen and (max-width: 1024px) {
  .timeline
  {
    width: 100%;
  }
  .media-carousel .carousel-control.left
  {
    top:35%;
  }
  .media-carousel .carousel-control.right
  {
    top:35%;
  }
.er_toc{padding:15px}

.post_news_detail h2{font-size:25px;line-height:35px}

.post_news_detail img{width:100%;height:auto!important}

.comment{margin-top:0}

.title-cat{margin-top:0}

ul.article-info-more{margin-bottom:0}

.dembl{top:0}

ul.article-info-more li{font-size:12px}

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 320px) {

ul.article-info-more li{font-size:10px}

}