.right_star {
    position: absolute;
    right: 135px;
    color: #288ad6;
    font-size: 12px;
}
.title-rating-none
{
    font-size: 30px;
    line-height: 40px;
}
.rating-block{font-size:42px;padding:0 15px;border-radius:3px;margin-top:10px;text-align:center;margin-bottom:35px}

.rating-block h4{margin-top:-12px;color:#000;font-size:23px;padding-bottom:30px;font-weight:400; line-height: 33px;}

.rating-block .score{color:#280000;font-size:47px;font-weight:700;margin-bottom:18px}

.rating-block .number{color:#8f8f8f;font-size:14px;margin:10px 0 0}

.bold{font-weight:700}

.rating-block .glyphicon-star{font-size:23px}

.rating-block .glyphicon-star-empty{color:#dedddd;font-size:23px}

.padding-bottom-7{padding-bottom:7px;font-size:40px;color:#fd9727;line-height:40px}

.padding-bottom-7 i{padding-left:10px}

.review-block{background-color:#FAFAFA;border:1px solid #EFEFEF;padding:15px;border-radius:3px;margin-bottom:15px}

.i-star-dg{margin-top:30px}

.i-star-dg ul li a{color:#0c72c1;line-height:23px}

.i-star-dg ul li{display:block;list-style:none}

.review-block-name{font-size:12px;margin:10px 0}

.review-block-date{font-size:12px}

.review-block-rate{font-size:13px;margin-bottom:15px}

.review-block-title{font-size:15px;font-weight:700;margin-bottom:10px}

.review-block-description{font-size:13px}

.rating-0{filter:grayscale(100%)}

.rating:not(:checked) > input{position:absolute;top:-9999px;clip:rect(0,0,0,0);display:none}

.rating:not(:checked) > label{float:right;width:1em;white-space:nowrap;cursor:pointer;font-size:30px;color:#ddd}

.rating:not(:checked) > label:before{content:'★'}

.rating > input:checked ~ label{color:#007aff}

.rating:not(:checked) > label:hover,.rating:not(:checked) > label:hover ~ label{color:#007aff}

.rating > input:checked + label:hover,.rating > input:checked + label:hover ~ label,.rating > input:checked ~ label:hover,.rating > input:checked ~ label:hover ~ label,.rating > label:hover ~ input:checked ~ label{color:#007aff}

.rating > label:active{position:relative;top:2px;left:2px}

.feedback{border-radius:8px;flex-direction:column;flex-wrap:wrap;float:left;text-align:left}

.wrapper_comment{color:#333;position:relative;margin:0 auto;width:100%}

.comment .name{font-size:16px;color:#333;font-weight:700;line-height:26px;display:block}

.timer_comment{float:right;position:absolute;right:0;top:27px}

.comment .pagination{background:transparent;padding:0;margin-bottom:0}

.comment .pagination ul{text-align:left}

.comment .title{font-size:28px;line-height:38px;text-align:center}

.title_p{text-align:center}

.div_answer{margin-top:20px;color:#333;padding:20px;position:relative;background:#f8f8f8;border:1px solid #dfdfdf}

.div_answer:before{position:absolute;content:'';left:24px;bottom:100%;border-bottom:11px solid #f8f8f8;border-left:11px solid transparent;border-right:11px solid transparent}

.qtv{background:#000;border-radius:2px;padding:0 5px;line-height:normal;border:1px solid #000;font-size:11px;color:#fff;font-weight:400;display:inline-block;margin-bottom:10px}

.div_answer .info_answer{font-weight:700;color:#000}

.radio-inline{margin-bottom:30px}

.radio-inline img{max-width:60px;max-height:20px}

#bntsend{height:auto;line-height:24px;color:#fff;padding:7px 20px;background:#000;border:0;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;border-radius:0;position:relative}

#bntsend.active{background:#007aff}

#bntcomment{height:auto;line-height:24px;padding:7px 20px;border:1px solid #000;background:#fff;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;border-radius:0;position:relative}

#bntcomment.active{background:#00a1ff;color:#fff;border:none}

.tatol_right{text-align:right;position:absolute;right:0;top:135px}

#icon_send{position:relative;text-align:right}

#icon_send::before{position:absolute;content:'\f044';font-family:"FontAwesome";top:15px;right:197px;color:#fff;font-size:15px;font-weight:600;z-index:20}

.info-title{font-size:13px;color:gray;line-height:25px;margin-bottom:10px;float:left;padding-right:10px}

.formComment{display:none;margin-top:20px}

.formComment .form-control{margin-bottom:20px;height:38px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}

.formComment textarea.form-control{resize:vertical;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;height:70px}

.formComment .input-group-btn{padding-left:5px;vertical-align:top}

.formComment button.btnsumit{float:right;height:auto;font-size:14px;line-height:24px;color:#fff;padding:7px 50px;background:#018fe5;border:0;margin-right:5px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}

.formComment button.btnsumit:active{outline:none}

.formComment button.btnsumit span{color:#fff}

.formComment .w_content .content-info{padding:15px;background-color:#fff;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);-moz-box-shadow:0 0 5px rgba(0,0,0,0.3);-o-box-shadow:0 0 5px rgba(0,0,0,0.3);-ms-box-shadow:0 0 5px rgba(0,0,0,0.3);box-shadow:0 0 5px rgba(0,0,0,0.3);position:relative}

.asterix1{position:absolute;color:red;float:right;font-size:59px;height:0;right:22px;top:58px;font-size:12px}

.asterix2{position:absolute;color:red;float:right;font-size:59px;height:0;right:22px;top:107px;font-size:12px}

.i_danhna{font-weight:600;padding-left:0;text-align:left;font-size:20px;color:#333;margin-bottom:15px}

.formComment .w_content .content-info .info-title{margin-bottom:10px;color:#333}

.formComment .w_content .content-info .form-control{float:none;margin-bottom:10px}

.formComment-binhluan{display:none;margin-bottom:20px;border-top:1px solid #ccc;margin-top:50px;padding-top:20px}

.formComment-binhluan .form-control{margin-bottom:20px;height:38px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}

.formComment-binhluan textarea.form-control{resize:vertical;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;height:100px;margin-bottom:20px}

.formComment-binhluan .input-group-btn{padding-left:5px;vertical-align:top}

.formComment-binhluan button.btn{float:right;height:auto;font-size:14px;line-height:24px;color:#fff;padding:7px 50px;background:#018fe5;border:0;margin-right:5px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}

.formComment-binhluan button.btn:active{outline:none}

.formComment-binhluan button.btn span{color:#fff}

.formComment-binhluan .w_content .content-info{padding:15px;background-color:#fff;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);-moz-box-shadow:0 0 5px rgba(0,0,0,0.3);-o-box-shadow:0 0 5px rgba(0,0,0,0.3);-ms-box-shadow:0 0 5px rgba(0,0,0,0.3);box-shadow:0 0 5px rgba(0,0,0,0.3);position:relative}

.formComment-binhluan .w_content .content-info .info-title{margin-bottom:10px;color:#333}

.formComment-binhluan .w_content .content-info .form-control{float:none;margin-bottom:10px}

.grid-comment .node-commnet{border-bottom:1px solid #d0d0d0;padding:20px 0}

.grid-comment .node-commnet:last-child{border-bottom:none}

.grid-comment .node-commnet .avatar{float:left;position:relative;width:45px;height:45px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;background:#cecece}

.grid-comment .node-commnet .avatar .yotpo-user-letter{background:transparent!important;position:absolute;top:10px;width:100%;min-width:100%;left:0;text-align:center;font-size:20px;color:#fff}

.grid-comment .node-commnet .avatar .yotpo-icon-circle-checkmark{display:inline-block;color:#1cc286}

.grid-comment .node-commnet .info-comment{margin-left:60px;position:relative}

.grid-comment .node-commnet .info-comment .content-title{font-size:16px;color:#000;font-weight:600;line-height:30px;padding-bottom:5px}

.d_star{margin:15px 0}

.i_star{max-height:23px;margin-top:-5px}

.grid-comment .node-commnet .info-comment .info-preson{font-size:12px;line-height:25px;color:#7c7c7c}

.grid-comment .node-commnet .info-comment .info-preson .rating-container{margin:0 0 15px}

.grid-comment .node-commnet .info-comment .info-preson .email .starrr{display:inline-block}

.grid-comment .node-commnet .info-comment .info-preson .email .starrr .glyphicon-star{color:#333;font-size:16px;margin-right:5px;margin-bottom:20px}

.sttB{cursor:pointer;color:#5a5858;font-size:13px;font-weight:400}

.iconcom-checkbuy{background-size:100% 100%;background-repeat:no-repeat;display:inline-block;height:15px;width:15px;vertical-align:middle;margin:-4px 4px 0 0}

.grid-comment .node-commnet .info-comment .info-preson .name{padding-bottom:5px;font-size:14px;color:#6A6C77;font-weight:400}

.grid-comment .node-commnet .info-comment .linkanswer{margin-bottom:10px;text-align:right;font-size:12px;line-height:24px;font-weight:700;color:#263415}

.grid-comment .node-commnet .info-comment .linkanswer a{position:relative;display:inline-block;padding-right:12px;color:#263415}

.grid-comment .node-commnet .info-comment .linkanswer a:hover{text-decoration:underline}

.grid-comment .node-commnet .info-comment .linkanswer a:after{position:absolute;font-family:"fontawesome";content:"\f054";top:2px;right:0;color:#263415;font-size:7px}

.listanswer .nodeanswer{background-color:#ddd;margin-bottom:1px;padding:10px}

.grid-comment .node-commnet .info-comment .info-preson .name .i-confirm{padding-left:30px;position:relative;font-size:11px;color:#1fc900;line-height:21px}

.grid-comment .node-commnet .info-comment .info-preson .name .i-confirm::after{content:"\f058";position:absolute;font-family:"FontAwesome";bottom:-5px;left:12px;color:#1fc900;font-size:15px;font-weight:600}



.glyphicon-star-empty{margin:0 2px}

.pull-left .progress{margin:4px 0 16px;bottom:-5px;height:7px}

.process-width{width:180px}

.number-star{width:100px;margin-top:3px}

.pull-left .progress:before{top:0;height:7px}

.progress-bar-success{background-color:#288ad6!important}

.progress .progress-bar{background-color:#ff9800}

.progress .progress-bar .progress-label{top:-5px;font-size:11px;background-color:#ff9800}

.progress-bar{-ms-flex-pack:right;justify-content:right;text-align:right}

.progress{height:5px;bottom:-10px}

.mystar .i-star{padding-right:30px}


@media screen and (max-width: 1024px) {
    .right_star
    {
        right: 0;
    }
#id_chtr_tour img{max-height:100%;max-width:100%;height:auto!important;width:auto!important}

#id_content img{max-height:100%;max-width:100%;height:auto!important;width:auto!important}

.menu_info.active{ padding-left: 0px;top:0!important}

.menu_info li a {

    font-size: 14px;

    text-transform: capitalize;

    padding: 10px 7px;

    font-weight: 400;

}

#id_content iframe{width:100%}

.add-to-cart-success{right:25px}

#id_content{text-align:justify}

.wrapper_comment{width:100%}

.ratingresult{padding-right:15px}

.comment .title{margin-bottom:65px;font-size:22px;line-height:32px}

.tatol_right{top:65px;left:25%;transform:translate(-50%,-50%);width:100%}

#bntsend{margin:0;display:inline-block;width:25%;text-transform:initial;padding:7px;font-size:12px}

#bntcomment{margin:0;display:inline-block;width:25%;text-transform:initial;padding:7px 10px;font-size:12px}

.grid-comment .node-commnet .avatar{margin-right:15px}

.grid-comment .node-commnet .info-comment{margin-left:0}

.grid-comment .node-commnet .info-comment .info-preson .name{padding-bottom:11px}

.grid-comment .node-commnet .info-comment .info-preson .rating-container{margin:-1px 0 15px}

.grid-comment .node-commnet .info-comment .content-title{font-size:14px;line-height:22px}

.name-product{width:100%}

.block-prices .product-price{font-size:21px}

.vnt-product .op-title .title{padding-bottom:0}

.process-width{width:115px}

.product-meta a{font-size:10px}

.item_giaohang{width:50%}

.rowtop h1{font-size:18px;line-height:28px;width:100%}

.title_common_site{font-size:22px}

#box_cungthuonghieu{margin-bottom:20px}

.wrapp_all{width:100%}

}

@media screen and (max-width: 767px) {

.tatol_right{left:50%}

#bntsend{width:50%}

#bntcomment{width:48%}

}

@media screen and (max-width: 320px) {

.menu_info li a h2{padding:5px}

.process-width{width:80px}

}