.pt-order.danhgia .label-title:before{position:absolute;top:5px;font-family:"FontAwesome";content:'\f005';right:10px;font-size:12px;background:none}
.news-text.brand-description a{color:#333}
.news-text.brand-description{text-align:justify}
.text-right .down_summary{margin-top:15px}
.text-primary small{font-size:14px;background:#ff9800;color:#fff;padding:5px 20px;border-radius:20px}
.pt-order ul li{list-style:none;float:left;font-size:13px;line-height:20px;width:100%}
.pt-order ul li a{padding:5px 3px;color:#555;font-size:12px}
.pt-order .label-title:before{width:15px;height:20px;position:absolute;top:9px;right:10px;content:'';background:url(../images/sort.svg) no-repeat}
.pt-order.show ul{opacity:1;visibility:visible}
.pt-order{float:right;margin-right:10px}
.pt-order.mucgia .label-title:before{position:absolute;top:5px;font-family:"FontAwesome";content:'\f155';right:10px;font-size:12px;background:none}
.pt-order ul li a:hover{cursor:pointer}
.pt-order .label-title{background:#fff;font-size:12px;line-height:20px;padding:5px 26px 5px 16px;cursor:pointer;overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis;position:relative;border-radius:20px;border:1px solid #fff}
.pt-order ul{position:absolute;top:100%;right:100px;width:auto;border-left:1px solid #f5f5f5;border-right:1px solid #f5f5f5;z-index:50;background:#fff;-webkit-box-shadow:1px 1px 2px #f5f5f5;-moz-box-shadow:1px 1px 2px #f5f5f5;-o-box-shadow:1px 1px 2px #f5f5f5;-ms-box-shadow:1px 1px 2px #f5f5f5;box-shadow:1px 1px 2px #f5f5f5;opacity:0;visibility:hidden;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;text-align:left;padding-left:10px}
.ratingresult{float:left;padding-right:40px}
.ratingresult .wrap_star .Stars{display:inline-block}
.load_view{padding-top:35px}
.button-like{cursor:pointer;line-height:32px;display:inline-block}
.button-like .content{display:inline-flex}
.button-like .content .icon{color:#ea4a87;position:relative}
.button-like .content .fa-heart-o:before{font-family:"fontawesome";font-size:21px;font-style:initial}
.button-like .content .icon.fa{display:none}
.button-like .content .text{font-size:15px;color:#2f3537}
.button-like .content .text.number-like{font-size:10px;background:#f7005f;border-radius:15px;font-weight:700;padding-left:3px;padding-right:3px;height:11px;color:#fff;line-height:11px;margin:5px 7px -2px 0}
.brand-description h2{color:#000;margin:0 0 10px}
.box-filter .bf-content ul li input{margin-right:10px}
input[type=checkbox]{position:relative;cursor:pointer}
input[type=checkbox]:before{content:"";display:block;position:absolute;width:16px;height:16px;top:0;left:0;border:1px solid #555;border-radius:0;background-color:#fff}
input[type=checkbox]:checked:after{content:"";display:block;width:5px;height:10px;border:solid #000;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);position:absolute;top:2px;left:6px}
.hide-pc{text-align:left;padding-left:0;float:left;position:absolute;font-size:12px;left:44%;bottom:20px;padding:6px 30px;color:#000;border:1px solid #ff9800;border-radius:0;display:block;top:auto}
.content-filter .box-filter.close{opacity:0;visibility:hidden}
.content-filter .box-filter .btn-primary{position:absolute;bottom:20px;left:54%;background:#ff9800;padding:5px 30px;text-transform:uppercase;border-radius:0;border:1px solid #ff9800}
.boloc:hover{cursor:pointer}
.box-filter.active{opacity:1!important;visibility:visible!important}
.nav-tabs{position:relative;border-bottom:none;text-align:right}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{border-radius:50px;background-color:#00a0ff;color:#fff;border:none}
.nav>li>a:focus,.nav>li>a:hover{background-color:#00a0ff}
.nav-tabs>li>a:hover{border-color:#00a0ff;color:#fff}
.nav-tabs>li>a{border-radius:50px;color:#00a0ff;border:1px solid #00a0ff;padding:6px 20px;font-size:15px;margin-bottom:6px}
.nav-tabs>li{float:none;display:inline-block}
.boloc{position:relative;right:7px;color:#333;border-radius:50px;border:#ccc solid 1px;padding:5px 25px 5px 16px;font-size:12px;line-height:20px;float:right}
.boloc:before{position:absolute;top:5px;font-family:"FontAwesome";content:'\f0b0';right:10px;font-size:12px;font-weight:600}
.content-filter{position:relative}
.content-filter .box-filter .bf-content{max-width:1170px;margin:0 auto}
.filter-item{width:118%;float:left;position:relative;margin-left:-109px}
.i-filter{display:inline-block;position:absolute;top:-25px;left:115px;z-index:2}
.hide-filter{display:none;text-align:left;padding-left:0;float:left;position:absolute;top:75px;font-size:12px}
.hide-filter i{font-size:12px;padding-right:5px}
.toggle-filter{display:inline-block;border-radius:20px;font-size:12px;display:none}
.content-filter.active .box-filter{opacity:1;visibility:visible}
.content-filter .tiva-filter-title{font-weight:700;margin-bottom:15px;padding-left:15px}
.content-filter .tiva-filter-title i{top:2px;position:absolute;margin-left:5px;color:#b6b6b6;cursor:pointer}
.title-filter{text-transform:uppercase;font-size:15px;margin-bottom:10px;padding-left:10px}
.content-filter .box-filter{position:absolute;width:100%;top:100%;left:0;background:#fff;z-index:10;opacity:0;visibility:hidden;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;border-top:1px solid #f3f3f3;border-bottom:1px solid #f3f3f3;padding:25px 0;padding-bottom:65px}
.content-filter .box-filter.first::after{position:absolute;top:0;left:0;content:'';height:100%;width:1px;background:#f3f3f3}
.content-filter .box-filter.last::before{position:absolute;top:0;right:0;content:'';height:100%;width:1px;background:#f3f3f3}
.content-filter ul li{list-style:none}
.cate_danhmuc .panel-body{padding:0}
.filter-setting label{text-transform:uppercase;padding:10px 10px 0}
.filter-setting .collapsed-icon-toggle{padding:15px}
.ajax_load_more{margin-bottom:20px;overflow:hidden}
.newsletter-button-r1z-cart-buynow{position:relative;z-index:1;overflow:hidden;border:1px solid #053d85;transition:color .5s ease-in-out;display:flex;justify-content:center;height:50px}
.newsletter-button-r1z-cart-buynow::before{content:'';position:absolute;top:0;left:-50px;bottom:0;right:0;border-left:50px solid transparent;transform:translateX(0);z-index:-1;box-sizing:border-box;transition:.5s ease-in-out;border-top:50px solid #fff}
.newsletter-button-r1z-cart-buynow a{color:#fff;text-transform:uppercase}
.newsletter-button-r1z-cart-buynow button{background:none;border:none;text-transform:uppercase;height:100%;width:100%}
.newsletter-button-r1z-cart-buynow:hover{color:#fff;background:#86ba09;border:none}
.newsletter-button-r1z-cart-buynow:hover::before{transform:translateX(100%)}
.newsletter-button-r1z-cart{position:relative;z-index:1;overflow:hidden;background-color:transparent;transition:color .5s ease-in-out;display:block;justify-content:center;align-items:center;height:50px;font-weight:500;border-radius:0;outline:none;color:#fff;text-align:center;line-height:50px}
.newsletter-button-r1z-cart::before{content:'';position:absolute;top:0;left:-50px;bottom:0;right:0;border-left:50px solid transparent;border-top:50px solid #00a5ff;transform:translateX(0);z-index:-1;box-sizing:border-box;transition:.5s ease-in-out}
.newsletter-button-r1z-cart a{color:#fff;text-transform:uppercase;height:100%;width:100%;display:block}
.newsletter-button-r1z-cart:hover{color:#fff;background:red;cursor:pointer}
.newsletter-button-r1z-cart:hover::before{transform:translateX(100%)}
.detal-link{margin:6px 0}
.newsletter-button-r1z-cart-buynow button.focus,.newsletter-button-r1z-cart-buynow button:focus,.newsletter-button-r1z-cart-buynow button:hover{color:#fff}
@-webkit-keyframes bounce {
0%,20%,50%,80%,100%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
40%{-webkit-transform:translateY(-20px);-moz-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px)}
60%{-webkit-transform:translateY(-10px);-moz-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
}
@-moz-keyframes bounce {
0%,20%,50%,80%,100%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
40%{-webkit-transform:translateY(-20px);-moz-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px)}
60%{-webkit-transform:translateY(-10px);-moz-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
}
@-ms-keyframes bounce {
0%,20%,50%,80%,100%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
40%{-webkit-transform:translateY(-20px);-moz-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px)}
60%{-webkit-transform:translateY(-10px);-moz-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
}
@keyframes bounce {
0%,20%,50%,80%,100%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
40%{-webkit-transform:translateY(-20px);-moz-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px)}
60%{-webkit-transform:translateY(-10px);-moz-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
}
.encircle{width:50px;height:50px;border-radius:50px;background:#fc649c;margin-bottom:10px;position:absolute;left:48%}
.arrow-more{margin:0 auto;margin-top:10px;width:23px;height:23px;background-image:url(https://www.shareicon.net/data/2017/02/28/880100_bottom_512x512.png);background-size:contain}
.bounce{-webkit-animation:bounce 2s infinite;-moz-animation:bounce 2s infinite;-ms-animation:bounce 2s infinite;animation:bounce 2s infinite}
.i-load-more{text-align:center;margin:5px 0 25px}
#load_more{padding:12px 50px;display:inline-block;margin-top:60px}
.loader{width:20%;text-align:center;margin:0 auto;display:inline-block;vertical-align:top}
.wrapp_list_desc{position:relative}
.list-cat{padding-left:0;width:100%;margin:0 auto;padding-bottom:15px;overflow:hidden}
.list-cat li{list-style:none;display:inline-block;margin-right:10px}
.list-cat li a h2{font-size:12px;margin:0;color:#000;font-weight:400}
.list-cat li a h2:hover{color:#fff}
.collapsed-icon-toggle.collapsed .on-closed{display:initial}
.collapsed-icon-toggle.collapsed .on-opened{display:none}
.collapsed-icon-toggle .on-closed{display:none}
.collapsed-icon-toggle .on-opened{display:initial}
.scroll-v-250px{}
.select-cat ul li a h3{font-size:14px;line-height:28px;margin:0;font-weight:400}
.panel-default>.panel-heading{display:none}
.padding-v-xs{padding-top:2px;padding-bottom:2px}
.btn.ico span.icon{opacity:0}
.btn.ico.active span.icon{opacity:1}
.vnt-video{}
.vnt-video .play_video{}
.vnt-video .play_video a{display:block;width:100%;height:100%;text-align:left;font-size:30px;line-height:117px;text-transform:uppercase;color:#333}
.vnt-video .play_video a .play{display:inline-block;margin-right:15px;width:40px;height:40px;position:relative;border:2px solid transparent;font-size:13px;line-height:35px;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;border-radius:50%;font-weight:600}
.vnt-video .play_video a .play:before{content:"";display:inline-block;position:absolute;left:0;top:0;width:100%;height:100%;border:2px solid #ff430c;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;border-radius:50%;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;animation-name:spread-effect;animation-duration:2s;animation-iteration-count:infinite}
.vnt-video .play_video a .play:after{content:"";display:inline-block;position:absolute;left:0;top:0;width:100%;height:100%;border:2px solid #ff430c;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;border-radius:50%;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;animation-name:spread-effect;animation-duration:2s;animation-iteration-count:infinite;animation-delay:1s}
@-webkit-keyframes spread-effect {
0%{opacity:0}
20%{opacity:1}
100%{-ms-transform:scale(1.4);-webkit-transform:scale(1.4);transform:scale(1.4);opacity:0}
}
@-moz-keyframes spread-effect {
0%{opacity:0}
20%{opacity:1}
100%{-ms-transform:scale(1.4);-webkit-transform:scale(1.4);transform:scale(1.4);opacity:0}
}
@-ms-keyframes spread-effect {
0%{opacity:0}
20%{opacity:1}
100%{-ms-transform:scale(1.4);-webkit-transform:scale(1.4);transform:scale(1.4);opacity:0}
}
@-o-keyframes spread-effect {
0%{opacity:0}
20%{opacity:1}
100%{-ms-transform:scale(1.4);-webkit-transform:scale(1.4);transform:scale(1.4);opacity:0}
}
@keyframes spread-effect {
0%{opacity:0}
20%{opacity:1}
100%{-ms-transform:scale(1.4);-webkit-transform:scale(1.4);transform:scale(1.4);opacity:0}
}
.i-filter_congdung{position:absolute;top:-25px;left:50%;z-index:2}
.title_brand h1{text-align:left;font-size:25px;line-height:35px}
.desc_brand h2{margin:10px 0}
.grid_partner{margin-bottom:20px;margin-top:15px;background:#fff}
.grid_partner .item{float:left;border-bottom:1px solid #d9d9d9;border-right:1px solid #d9d9d9;-webkit-perspective:1000;-moz-perspective:1000;perspective:1000px}
.grid_partner .item:nth-child(4n+1){border-left:1px solid #d9d9d9}
.grid_partner .item:nth-child(1),.grid_partner .item:nth-child(2),.grid_partner .item:nth-child(3),.grid_partner .item:nth-child(4){border-top:1px solid #d9d9d9}
.grid_partner .item:hover .flipper{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);transform:rotateY(180deg);filter:FlipH;-ms-filter:FlipH}
.grid_partner .item .front,.grid_partner .item .back{width:290px;height:177px}
.grid_partner .item .flipper{width:290px;height:177px;-webkit-transition:.6s;-webkit-transform-style:preserve-3d;-moz-transition:.6s;-moz-transform-style:preserve-3d;transition:.6s;transform-style:preserve-3d;position:relative}
.grid_partner .item .front,.grid_partner .item .back{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;overflow:hidden;position:absolute;top:0;left:0}
.grid_partner .item .front{z-index:2}
.grid_partner .item .back{background:#0993dc;-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);transform:rotateY(180deg);padding:12px;position:relative}
.grid_partner .item .img{width:100%;height:100%}
.grid_partner .item .img img{max-width:100%;max-height:100%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.grid_partner .item .b-title{width:100%;text-align:center;padding:40px 12px;font-size:24px;line-height:32px;font-weight:700;color:#fff}
.all_cat_wrapper:hover .all_categories{display:block}
.tittle_h1{float:left}
.tittle_h1 h1{margin:0 0 10px;font-size:22px;font-weight:700}
#display_sp{float:right;width:100px;margin-left:10px}
.show_display{float:right;line-height:35px;font-size:14px}
}
.cate_danhmuc{padding-left:0}
#load_name{display:none;overflow:hidden}
#load_parent{display:inline-block}
#display_all{float:right;width:85px;margin-left:10px}
.i-slder{margin-bottom:15px}
.nav-tabs .show_display{float:right;font-size:14px;line-height:40px}
.box-search-prod{margin-bottom:20px}
.box-search-prod .bsp-title{font-size:16px;line-height:20px;padding:11px 30px 11px 10px;background:#ff5910;color:#fff;position:relative;font-weight:700}
.box-search-prod .bsp-title:after{position:absolute;top:50%;right:10px;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-o-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);font-family:fontawesome;content:'\f0c9';font-size:20px;line-height:30px}
.box-search-prod .bsp-content{padding-bottom:10px;border:1px solid #ebebeb}
.bsp-cat .cat-title{font-size:15px;line-height:20px;padding:10px}
.select-cat button.btn{width:100%;height:auto;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;font-size:13px;line-height:20px;padding:7px 25px 7px 10px;background:#fff;text-align:left;position:relative;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;box-shadow:none;outline:none;color:#666}
.select-cat button.btn:active{outline:none}
.select-cat button.btn .caret{position:absolute;top:50%;right:10px;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-o-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}
.select-cat .dropdown-menu{min-width:100%}
.select-cat .dropdown-menu>li>a h3{font-size:14px;line-height:20px;padding:8px 10px}
.box-filter .bf-title{font-size:15px;line-height:20px;padding:10px;border-bottom:1px solid #FFF;font-weight:700;margin-bottom:5px;background:#ff5910;color:#fff}
.box-filter .bf-content ul li a{display:block;font-size:13px;line-height:20px;padding:5px 10px 5px 32px;position:relative}
.box-filter .bf-content ul li a:hover{cursor:pointer}
.box-filter .bf-content ul li a h3{font-size:13px;margin:0;color:#000}
.box-filter .bf-content ul li a:before{display:block;position:absolute;content:'';left:10px;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;transition-duration:.3s;top:7px;border:1px solid #ccc;height:16px;width:16px;z-index:5;-webkit-transition-delay:.2s;-moz-transition-delay:.2s;transition-delay:.2s}
.box-filter .bf-content ul li a.active:before{opacity:0;-webkit-transform:scale(0) rotate(-180deg);-moz-transform:scale(0) rotate(-180deg);transform:scale(0) rotate(-180deg)}
.box-filter .bf-content ul li a:after{top:3px;left:16px;width:8px;height:16px;border:2px solid #009442;border-top:none;border-left:none;opacity:0;z-index:5;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);-webkit-transition-delay:.3s;-moz-transition-delay:.3s;transition-delay:.3s;display:block;position:absolute;content:'';-webkit-transition-duration:.3s;-moz-transition-duration:.3s;transition-duration:.3s}
.box-filter .bf-content ul li a.active:after{opacity:1;-webkit-transform:scale(1) rotate(45deg);-moz-transform:scale(1) rotate(45deg);transform:scale(1) rotate(45deg)}
.box-filter .bf-content ul{padding-left:15px}
.box-filter .bf-content ul li{list-style:none;display:inline-block;width:48%;line-height:30px;font-size:12px}
.box-filter .bf-content .i_xuatxu li{width:100%}
.wrap_container{background:#fff}
.filter{border:5px solid #e9edee;margin-bottom:30px;position:relative}
.filter>div{border-top:1px solid #ddd;min-height:45px;padding-left:125px;position:relative;overflow:hidden;height:45px;padding-right:30px}
.filter>div>span{line-height:45px;background:#f5f6f8;color:#7292a7;height:100%;width:115px;position:absolute;top:0;left:0;text-align:center}
.filter>div>a{display:inline-block;margin:0 20px 0 auto;line-height:45px}
.filter ul{padding-left:0;margin-bottom:0}
.filter ul li{display:inline-block;margin:0 15px 0 auto;line-height:45px}
.filter ul li.active a{color:red}
.filter ul li a h2{font-size:14px;line-height:24px;font-weight:400;margin:10px 0}
.wrapper_product{padding:5px 15px 20px 170px}
.vnt-product{background:none}
.vnt-product .grid-prod .item{padding-top:15px}
.right_star{position:absolute;right:135px;color:#288ad6;font-size:12px}
.i-size_price{opacity:0}
#load_price > div{display:none}
#load_product_color > div{display:none}
.mystar{color:#288ad6}
.price_by_size{padding:10px 135px 0}
.price_by_size span{color:#FFEB3B}
.zoom_active{display:none}
.bold{font-weight:700}
.feature_prod{width:100%;margin-bottom:30px}
.feature_prod .item{background-color:#1d1d1d;height:320px;position:relative}
.feature_prod .item .i-image{position:absolute;top:0;left:0;bottom:0;width:54%}
.i-level2{margin-bottom:30px}
.radio-inline img{max-width:60px;max-height:20px}
.single-price ul li{margin-right:1em;font-size:15px;color:#000}
.single-price ul li:nth-child(1){font-size:40px;line-height:50px;font-weight:300;margin-right:.5em;margin-bottom:10px}
.single-price ul li span.w3off{font-size:22px;color:#0280e1}
.single-price.price ul li a{color:#f44336}
.single-price.price ul li a:hover{color:#999}
p.single-price-text{margin:1.5em 0}
.content-detail{color:#333}
.long_text ol{list-style:decimal;padding-left:25px}
.dk-price .col-md-6{margin-bottom:30px}
.dk-price .btn-primary{text-align:right;display:block;position:absolute;bottom:-54px;right:45px;border-color:#ffa801;background-color:#ffa801;margin-top:3px;border-radius:50px;padding:7px 35px}
.modal{}
.modal-body{overflow:hidden}
.info_product .info_model{width:100%;float:left;padding-top:15px}
.info_product .info_model .title_prod{margin-bottom:0}
.info_product .info_model .grid-info .row-info{border-bottom:none}
.modal-header{border-bottom:none}
.i_star{max-height:23px;margin-top:-5px}
.i-desc h2{margin:0 0 10px;font-size:21px;line-height:32px}
.feature_prod .item .i-image a{display:block;width:100%;height:100%;-webkit-background-size:cover;background-size:cover;background-repeat:no-repeat;background-position:50% 50%}
.feature_prod .item .i-image img{display:none}
.feature_prod .item .i-desc{width:46%;margin-left:auto;padding:25px 20px 0 25px;font-size:14px;line-height:25px;overflow:hidden;height:242px;color:#999}
.feature_prod .item .i-desc .i-date{margin-bottom:8px;color:#666}
.feature_prod .item .i-desc .i-title{font-size:22px;line-height:30px;margin-bottom:10px;max-height:60px;overflow:hidden;font-weight:700}
.feature_prod .item .i-desc .i-title a{font-size:22px;line-height:30px}
#feature_prod.slick-initialized .item,#feature_prod .item:first-child{display:block}
#feature_prod .item{display:none}
#feature_prod .slick-dots{width:auto;left:54%;bottom:20px;padding-left:25px}
#feature_prod .slick-dots li,#feature_prod .slick-dots li button{padding:0;width:12px;height:12px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
#feature_prod .slick-dots li button:before{display:none}
#feature_prod .slick-dots li{background:#fff}
#feature_prod .slick-dots li:hover,#feature_prod .slick-dots li.slick-active{background:#fd1c23}
#vnt-header{position:inherit;top:0}
.box_mid .mid-title{text-align:left}
.gird-product{border-bottom:1px solid #1d1d1d;margin-bottom:30px}
.gird-product.noborder{border-bottom:0;margin-bottom:0;position:relative;padding-bottom:50px}
.gird-product .wrap-grid{margin:0 -15px}
.gird-product .item{margin-bottom:30px}
.gird-product .item .i-image{overflow:hidden;margin-bottom:15px;position:relative;z-index:1;padding:15px;padding-bottom:100%}
.gird-product .item .i-image a{display:block;text-align:center;position:absolute;top:50%;left:0;transform:translate(0%,-50%)}
.i-desc-pro{color:#fff;padding:0}
.gird-product .item .i-image img{-webkit-transition:transform .8s cubic-bezier(0.44,0.185,0.575,0.86);-moz-transition:transform .8s cubic-bezier(0.44,0.185,0.575,0.86);-o-transition:transform .8s cubic-bezier(0.44,0.185,0.575,0.86);transition:transform .8s cubic-bezier(0.44,0.185,0.575,0.86);-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;max-height:100%}
.gird-product .item .i-image:hover img{-webkit-transform:scale(1.06);-moz-transform:scale(1.06);-o-transform:scale(1.06);-ms-transform:scale(1.06);transform:scale(1.06)}
.gird-product .item .i-desc{padding:15px 15px 0 20px}
.gird-product .item .i-desc .i-title{font-size:20px;line-height:30px;margin-bottom:10px;color:#000;text-align:center;height:50px}
.gird-product .item .i-desc .i-star{padding:5px 0;text-align:center}
.gird-product .item .i-desc .product-price-and-shipping{text-align:center;height:40px}
.gird-product .item .i-desc .i-title a{color:#000}
.gird-product .item .i-desc .i-title a:hover{color:#4db2ec}
.gird-product .item .i-desc .i-content{color:#999;height:66px;overflow:hidden}
.tab_wrapper{margin-bottom:20px;position:relative}
.tab_wrapper .tab_title{border:1px solid #cecece;padding:8px 40px 8px 10px;font-size:18px;line-height:28px;overflow:hidden;height:46px;-webkit-text-overflow:ellipsis;-o-text-overflow:ellipsis;text-overflow:ellipsis;position:relative;cursor:pointer;display:none;font-weight:700;color:#009442}
.tab_wrapper .tab_title:after{position:absolute;content:'';top:16px;right:10px;border:8px solid transparent;border-top:8px solid #666}
ul.tab_nav{padding:0!important;margin-top:10px;border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea}
ul.map_nav{border-bottom:0}
ul.map_nav li,ul.tab_nav li{list-style:none;display:inline-block;padding:0 20px}
ul.tab_nav li:first-child{padding:0}
ul.tab_nav li a{display:block;text-align:center;text-decoration:none;position:relative;border-top:1px solid transparent;border-left:1px solid transparent;border-right:1px solid transparent;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;font-size:16px;line-height:26px;padding:15px 0;color:#333}
ul.tab_nav li:hover{z-index:9999}
ul.tab_nav li:hover a,ul.tab_nav li a.active{color:#4db2ec}
ul.tab_nav li a:before{position:absolute;height:6px;content:'';bottom:0;background:#4db2ec;left:50%;right:50%;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
ul.tab_nav li:hover a:before,ul.tab_nav li a.active:before{left:0;right:0}
ul.map_nav li a{background:#ccc;padding:8px 15px;font-weight:400}
.tab_content{padding:15px 0;margin-bottom:20px;color:#666}
.tab_content ul li{line-height:20px;list-style:square inside;font-size:12px}
.the-title{font-size:18px;line-height:28px;font-weight:700;color:#333}
.buyfield{}
.number_qtq{color:#333;font-size:14px;float:left;padding-right:20px}
.slider-detail{position:relative;max-width:520px;margin:0 auto}
#slider-detail .item{position:relative}
#slider-detail .item .img{}
#slider-detail .item .img img{max-height:100%;max-width:100%}
#slider-detail .slick-dots{margin-bottom:0;bottom:-20px;text-align:center;z-index:2000}
#slider-detail .slick-dots li{margin:0 6px;-webkit-border-radius:50%;-o-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;-webkit-transition:box-shadow .3s ease;-moz-transition:box-shadow .3s ease;-o-transition:box-shadow .3s ease;transition:box-shadow .3s ease;background:transparent;width:10px;height:10px}
#slider-detail .slick-dots li button{-webkit-transition:background-color .3s ease,-webkit-transform .3s ease;-moz-transition:background-color .3s ease,-webkit-transform .3s ease;-o-transition:background-color .3s ease,-webkit-transform .3s ease;transition:background-color .3s ease,transform .3s ease;top:0;left:0;width:100%;height:100%;outline:none;-webkit-border-radius:50%;-o-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;background-color:#fff;background-color:rgba(154,154,154,0.8);text-indent:-999em;cursor:pointer;position:absolute;transform:scale(0.8);-webkit-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);-moz-transform:scale(0.8)}
#slider-detail .slick-dots li:hover,#slider-detail .slick-dots li.slick-active{-moz-box-shadow:0 0 0 2px rgba(234,7,196);-webkit-box-shadow:0 0 0 2px #2196F3;-o-box-shadow:0 0 0 2px rgba(234,7,196);-ms-box-shadow:0 0 0 2px rgba(234,7,196);box-shadow:0 0 0 2px #2196F3;border:none;-webkit-border-radius:50%;-o-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;background:transparent}
#slider-detail .slick-dots li:hover button,#slider-detail .slick-dots li.slick-active button{transform:scale(0.4);-webkit-transform:scale(0.4);-ms-transform:scale(0.4);-o-transform:scale(0.4);-moz-transform:scale(0.4);background-color:#ed1e8c}
#slider-detail .slick-dots li button:before{content:""}
#slider-thumbnail{padding:3px 30px}
#slider-thumbnail .slick-slide{border:none;margin:0 0 10px}
#slider-thumbnail .item{position:relative;margin:0 5px;overflow:hidden;float:left;height:90px}
#slider-thumbnail .item img{position:absolute;width:100%;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
#slider-thumbnail .item:after{top:0;left:0;border-radius:7px;position:absolute;content:'';border:1px solid #e3e3e3;width:100%;height:100%}
#slider-thumbnail .item.slick-current:after{border:1px solid #00a0ff}
#slider-thumbnail .slick-arrow{width:30px;height:30px}
#slider-thumbnail .slick-prev{left:0;position:absolute;top:50px}
#slider-thumbnail .slick-next{right:0;position:absolute;top:50px}
#slider-thumbnail .slick-arrow:after{position:absolute;top:50%;left:50%;font-family:fontawesome;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);font-size:30px;line-height:30px;padding:1px;color:#333}
#slider-thumbnail .slick-prev:after{content:'\f104'}
#slider-thumbnail .slick-next:after{content:'\f105'}
#slider-thumbnail .item .img.video_thumb .i-video{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);font-size:12px;color:#000;background:#fff;border-radius:50%;width:35px;height:35px}
#slider-thumbnail .item:hover .img.video_thumb .i-video i{cursor:pointer;transform:rotate(360deg);transition:all .3s}
#slider-thumbnail .item .img.video_thumb .i-video i{font-size:16px;transition:all .3s;padding:10px}
#slider-detail,#slider-thumbnail{visibility:hidden;opacity:0;transition:opacity .1s}
#slider-detail.slick-initialized,#slider-thumbnail.slick-initialized{visibility:visible;opacity:1}
#slider-detail .item{display:none}
#slider-detail .item:first-child{display:block;visibility:hidden}
#slider-detail.slick-initialized .item{display:block;visibility:visible!important}
.price_size_price{text-decoration:line-through}
.t_sale{padding-left:10px}
.price del{display:inline-block;vertical-align:middle;font-size:13px;color:#333;text-decoration:line-through}
.zoomContainer{overflow:hidden}
.div_social{position:relative;padding:9px 45px 9px 12px}
.div_social a{padding:0 10px 0 0}
.div_social a.print{position:absolute;width:45px;height:38px;top:0;right:0;border-left:1px solid #fff;font-size:18px;line-height:30px;display:none}
.div_social a.print i{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);color:#000}
.zoom-img{position:absolute;bottom:113px;z-index:2000;content:'';opacity:1;right:5px;color:#fff;opacity:.8;padding:10px;background:#4db2ec;display:none}
.zoom-img a{color:#fff}
.zoom-img a i{padding-right:10px}
.title_prod{margin-bottom:15px;font-size:32px;line-height:42px;font-weight:700;color:#eee}
.i-chich-color{opacity:0;width:5px}
.title_prod h1{font-size:27px;line-height:37px;color:#333}
.price_by_size{display:none}
.desc_prod{margin-bottom:10px;color:#333}
.desc_prod p span{font-size:14px!important}
.tab_content span{font-size:14px!important}
.grid-info{color:#333;margin-bottom:10px}
.grid-info h1{font-size:28px;font-weight:700}
.grid-info .row-info{padding:10px 0;line-height:20px}
.grid-info .row-info .rowlef{float:left;padding-right:20px;line-height:40px}
.grid-info .row-info .i-label:before{position:absolute;font-family:'fontawesome';top:0;left:0;font-size:18px;line-height:20px;color:#fff}
.grid-info .row-info .i-label{padding-left:30px;position:relative;color:#000}
.grid-info .row-info .i-labelxx:before{position:absolute;font-family:'fontawesome';top:0;left:0;font-size:13px;line-height:20px;color:#757575}
.grid-info .row-info .i-labelxx{padding-left:30px;position:relative;color:#333}
.grid-info .row-info .rowright{color:#333}
.grid-info .row-info .rowright .root{font-weight:700;font-size:18px;color:#f60}
.grid-info .row-info .rowright .i_price{font-weight:700;font-size:18px;color:#f60;padding-right:10px}
.grid-info .row-info .rowright div .i-chich{position:absolute;opacity:0;width:5px}
.grid-info .row-info .rowright div .i-xxx{padding:2px 5px;border:1px solid #ddd;cursor:pointer;margin-right:0;display:block}
.grid-info .row-info .rowright div .i-xxx i{padding-right:6px}
#tab-wrapper li{display:inline-block}
#tab-price_by li{display:inline-block}
#tab-price_by a.active{border:1px solid red;padding-top:0;display:block}
#tab-price_by a.active i{color:#119a00}
#tab-wrapper li a.active{border:1px solid red!important}
.grid-info .row-info .color{color:#fd1c23}
#load_product_color{position:relative;padding-bottom:100%;display:none}
#load_product_color img{max-width:100%;max-height:100%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.detal-link .button_link{display:block;overflow:hidden;padding:16px 0;border-radius:4px;font-size:16px;line-height:normal;text-transform:uppercase;color:#fff;text-align:center;background:#fd6e1d;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));background:-webkit-linear-gradient(top,#f59000,#fd6e1d);background:-moz-linear-gradient(top,#f59000,#fd6e1d);background:-ms-linear-gradient(top,#f59000,#fd6e1d);background:-o-linear-gradient(top,#f59000,#fd6e1d);margin-top:10px}
.button_link.call{background:#ff9800}
.button_link.call a{color:#fff;display:block;width:100%;height:100%;padding:10px;text-align:center}
.button_link.call a:hover{text-decoration:none}
.button_link.call .button_link button{background:inherit;border:none;display:block;width:100%;height:100%}
.button_link.call .button_link button:focus{outline:none}
.price_sell{font-size:16px;padding-right:10px}
.button_link.call .button_link button:hover{border:none}
.button_link.call.button_link span{display:block;font-size:13px;color:#fff;text-transform:none;padding-top:3px}
.button_link.call .button_link span:before{padding-right:10px;font-size:22px;line-height:30px;font-family:fontawesome}
.button_link.call .button_link.style1{background:#4db2ec;border-color:#4db2ec}
.button_link.call .button_link.style1:hover{background:transparent;color:#4db2ec}
.show_display{float:right;line-height:35px;font-size:14px}
.vnt-product .grid-prod .item.list-group-item .wrap-item .i-top .i-image img{max-height:150px}
.list-gird{padding-right:10px}
.item.list-group-item{float:none;width:100%;background-color:#fff;margin-bottom:10px}
.vnt-product .grid-prod .item.list-group-item .wrap-item .i-top{float:left}
.vnt-product .grid-prod .item.list-group-item .wrap-item .desc-left{width:auto}
.vnt-product .grid-prod .item.list-group-item .form_tour{position:absolute;right:30px}
.list-gird a span{padding-right:2px}
.vnt-product .grid-prod .item.list-group-item .wrap-item .i-desc .buy-now{width:auto}
.vnt-product .grid-prod .item.list-group-item .wrap-item .i-desc .i-title a h4{height:auto}
.item.list-group-item:before,.item.list-group-item:after{display:table;content:" "}
.item.list-group-item:after{clear:both}
@media screen and (max-width: 1024px) {
.wrapper_product{padding:5px 15px 20px}
.list-group-item{border:none}
.vnt-product .grid-prod .item.list-group-item .wrap-item .i-top .i-image img{max-height:100%}
.pt-order.mucgia{right:100px}
.pt-order ul{right:0}
.pt-order ul li a{font-size:11px}
.tittle_h1{display:block;width:100%}
.detal-link{width:100%}
.vnt-product .op-title .title{margin-bottom:10px}
.grid-info .text-label{top:30px}
.detal-link .button_link{font-size:12px}
.hide-pc{left:15%}
#slider-thumbnail{display:none}
.content-filter .box-filter{margin-left:-15px;margin-right:-15px;width:auto;border-right:1px solid #f3f3f3}
.encircle{left:44%}
.nav-tabs>li>a{margin:0 2px 8px}
.grid-info h1{margin-top:25px}
.filter-item{width:100%;margin-left:0}
.box-filter .bf-content ul li{width:49%}
.ajax_load_more{margin-bottom:0}
.filter-items h5{display:none}
.wrapp_list_desc{margin:10px 0;overflow:hidden}
.wrapp_list_desc .list-cat{float:left;white-space:nowrap;overflow-x:auto;transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;padding-bottom:0}
.list-cat li{margin-bottom:0}
.pt-order .label-title{padding:5px 27px 5px 10px}
.pt-order{right:0;position:absolute;top:0}
.modal-dialog{width:100%;margin:0}
.filter-items h5{margin-right:40px;margin-bottom:0;margin-top:0}
.filter-items h5 span{display:block;width:100%;margin-top:-20px;font-size:12px}
.filter-items h5:before{top:-30px}
.i-filter_congdung{left:auto;right:0}
.i-filter_thanhphan{left:0}
.panel-default>.panel-heading{display:block}
.collapse.in .panel-body{display:none}
.collapse.show .panel-body{display:block}
#filter1{height:auto!important}
#filter1 .line{margin:6px 0}
.grid_partner .item .flipper{width:100%}
.grid_partner .item .front,.grid_partner .item .back{width:100%}
.show_display{display:none}
#display_sp{display:none}
#display_all{display:none}
#slider-detail .item .img{height:auto}
.cate_danhmuc{padding-left:0;padding-right:0}
.nav-tabs{text-align:left;padding-right:0}
#vnt-sidebar-sp{margin-left:-15px;margin-right:-15px}
.filter ul li a h2{margin:2px 0}
.filter ul li{line-height:30px}
.filter>div>a{line-height:30px;margin:0}
.filter>div{overflow:visible;height:auto;padding-right:0}
.nav>li>a{padding:5px 10px;font-size:14px}
#vnt-prod-feature_cate .item{width:50%}
.slider-detail{max-width:100%}
.right_star{right:0;margin-left:0!important}
.gird-product .wrap-grid{margin:0}
.the-content img{max-width:100%;max-height:100%}
.zoom-img{bottom:85px;padding:4px}
.zoom-img a{font-size:12px}
.title_prod h1{font-size:20px;line-height:30px}
.tab_wrapper .tab_title{display:block}
.gird-product .item .img-news img{max-height:auto}
.tab_responsive ul.tab_nav{position:absolute;top:42px;left:0;width:100%;display:none}
.tab_responsive.show ul.tab_nav{display:block}
.tab_responsive ul.tab_nav li{float:none;display:block;margin:0;padding:0}
ul.tab_nav li a:after{display:none}
.tab_responsive ul.tab_nav li a{text-align:left;text-transform:none;padding:10px;background-color:#bdbdbd;color:#fff}
ul.tab_nav li a.active{background-color:#4db2ec;color:#fff}
ul.tab_nav li a.active:hover,ul.tab_nav li a:hover{color:#4db2ec}
}
@media screen and (max-width: 768px) {
.feature_prod .item{height:auto;padding-bottom:70px}
.product-grid2 .product-image2 img{height:400px}
.feature_prod .item .i-image{position:static;width:100%}
.feature_prod .item .i-image a{background-image:none}
.feature_prod .item .i-image img{display:block;width:100%}
.feature_prod .item .i-desc{width:100%;height:auto;max-height:250px}
#feature_prod .slick-dots{left:0;bottom:30px}
.order-product .op-title{padding:0;margin:10px 0;font-size:20px}
}
@media screen and (max-width: 767px) {
#slider-thumbnail .item{height:60px}
img{max-height:100%;max-width:100%;height:auto}
.product-grid2 .product-image2 img{height:190px}
}
@media screen and (max-width: 639px) {

}
@media screen and (max-width: 360px) {

}
@media screen and (max-width: 320px) {
.filter-items h5 span{font-size:11px}
.filter-items h5{margin-right:20px}
.detal-link .button_link{font-size:10px}
}