.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.main-content {
    padding: 30px 0
}
.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.5);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-bounce-to-right:hover,.hvr-bounce-to-right:focus,.hvr-bounce-to-right:active {
    color: #fff
}

.hvr-bounce-to-right:hover:before,.hvr-bounce-to-right:focus:before,.hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52,1.64,0.37,0.66);
    transition-timing-function: cubic-bezier(0.52,1.64,0.37,0.66)
}


.tab-tours .nav-tabs {
    border-bottom: none;
}

.tab-tours .nav-tabs .nav-link {
    margin-top: 4px;
    background: #fec4b8;
    color: #000;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: inline-flex;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

.tab-tours .nav-tabs .nav-item.show .nav-link, .tab-tours .nav-tabs .nav-link.active {
    font-weight: 700;
    background: #800912;
    color: #fff
}

.tab-tours .tab-content {
    
    overflow: hidden;
}
.tab-tours .tab-content table{      margin-left: auto !important;
    /* margin: 0 auto; */
    width: 100%;}
.list-tour-01 {
    list-style-type: none;
    padding: 0
}

.list-tour-01 .item-left img {
    width: 100%;
    height: auto;
    padding: 5px;
    display: block
}

.list-tour-01 .item {
    background: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 5px
}

ul.list-tour-01 li {
    margin-bottom: 1px
}

.list-tour-01 .item .item-left, .list-tour-01 .item .item-right {
    padding: 12px
}

.list-tour-01 .item .item-right {
    padding-left: 0;
    position: relative
}

.list-tour-01 .item .item-right .title a {
    font-size: 15px;
    line-height: 22px;
    color: #800912;
    /* border-bottom: 2px solid #800912; */
    display: block;
    padding-bottom: 2px;
    font-weight: bold;
}

.list-tour-01 .item .item-right .title a:hover {
    text-decoration: none
}

.list-tour-01 .item .item-right .meta {
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 10px;
    color: #000;
    line-height: 24px;
}
.list-tour-01 .item .item-right .i-promotion
{
    display: inline-flex;
    font-size: 20px;
}
.list-tour-01 .item .item-right .i-promotion span
{
    padding: 4px 10px;
    color: #f00;
    font-weight: 700;
}
.list-tour-01 .item .item-right .i-promotion .i-price
{
    padding: 4px 10px;
    text-decoration: line-through;
}


.tooltip .arrow {
    display: none
}

h5.title-sub-cate a {
    color: #800912
}

.list-tour-01 .item .item-right .price .normal-price {
    padding: 4px 10px
}

.list-tour-01 .item .item-right .price .sale-price {
    padding: 4px 10px;
    color: #ff002d;
    font-weight: 700
}

.list-tour-01 .item .item-right .meta i {
    margin-right: 9px;
    color: #ff9903
}

h5.title-sub-cate {
    font-size: 20px;
    color: #800912
}

h5.title-sub-cate i {
    position: relative;
    left: -11px
}

.list-tour-01 .item .item-right .meta .schedule a {
    display: inline-block;
    color: #000;
    padding: 1px 0px;
    font-size: 14px;
    margin-right: 4px;
    line-height: 24px;
    border-radius: 5px;
}

.list-tour-01 .item .item-right .btn-view-detail {
    display: inline-block;
    background: #ff9903;
    color: #fff;
    padding: 1px 4px;
    font-size: 13px;
    margin-right: 5px;
    line-height: 22px;
    position: absolute;
    right: 10px;
    width: 100px
}

.list-tour-01 .item .item-right .btn-booking {
    display: inline-block;
    background: #c50000;
    color: #fff;
    padding: 1px 4px;
    font-size: 13px;
    margin-right: 5px;
    line-height: 23px;
    position: absolute;
    right: 7px;
    width: 88px
}

.widget {
    margin-bottom: 30px
}

.widget.button-like-fb {
    background: #f6f6f6;
    padding: 3px 10px 7px;
    border-radius: 5px;
    border: 1px solid #ccc
}

.single-blog-post {
    position: relative;
    z-index: 1;
    background: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 7px
}

.single-blog-post .post-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    max-width: 100px;
    width: 100px;
    padding: 5px
}

.single-blog-post .post-content {
    position: relative;
    z-index: 1;
    padding-left: 20px;
    width: 100%
}

.single-blog-post .post-content .post-title {
    color: #800912;
    margin-bottom: 5px;
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
}

.single-blog-post .post-content .post-title:hover {
    text-decoration: none;
    color: #ff9903
}

.list-tour-01 .item .item-right .title a:hover {
    text-decoration: none;
    color: #ff9903
}

.single-blog-post .post-thumbnail img {
    width: 100%;
    width: auto;
    height: 71px;
    object-fit: cover;
    display: block
}

.single-blog-bottom {
    text-align: right
}

.single-blog-bottom .btn-view-detail {
    background: #ff9903;
    color: #fff;
    padding: 1px 4px;
    font-size: 13px;
    margin-right: 5px;
    line-height: 23px
}

.widget .widget-title {
}

.widget .widget-title h4 {
    background: #800912;
    display: block;
    color: #fff;
    font-size: 19px;
    line-height: 29px;
    margin: 0;
    padding: 4px 15px;
    position: relative;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.widget .widget-title h4:after {
}

.widget.news .widget-content {
    padding: 10px;
    border-radius: 0 0 5px 5px
}

@media screen and (max-width: 1024px) {


}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 767px) {


}



@media screen and (max-width: 360px) {


}

@media screen and (max-width: 320px) {


}