.ActiveUsers{background:#f4f2f1;border:1px solid #d4d2d0;border-radius:4px;font-weight:300;padding:.5em 1.5em;white-space:nowrap}.ActiveUsers-value{display:inline-block;font-weight:600;margin-right:-.25em}.ActiveUsers.is-increasing{-webkit-animation:a 3s;animation:a 3s}.ActiveUsers.is-decreasing{-webkit-animation:b 3s;animation:b 3s}@-webkit-keyframes a{10%{background-color:#ebffeb;border-color:rgba(0,128,0,.5);color:green}}@keyframes a{10%{background-color:#ebffeb;border-color:rgba(0,128,0,.5);color:green}}@-webkit-keyframes b{10%{background-color:#ffebeb;border-color:rgba(255,0,0,.5);color:red}}@keyframes b{10%{background-color:#ffebeb;border-color:rgba(255,0,0,.5);color:red}}.Chartjs{font-size:.85em}.Chartjs-figure{height:250px}.Chartjs-legend{list-style:none;margin:0;padding:1em 0 0;text-align:center}.Chartjs-legend>li{display:inline-block;padding:.25em .5em}.Chartjs-legend>li>i{display:inline-block;height:1em;margin-right:.5em;vertical-align:-.1em;width:1em}@media (min-width:570px){.Chartjs-figure{margin-right:1.5em}}
.gapi-analytics-auth-styles-signinbutton:hover {
	cursor: pointer!important;
}
.no-widget {
	position: relative;
	margin-top: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	padding: 15px 0px;
}
.header_chart {
	position: relative;
	margin-bottom: 10px;
}
.Chartjs {
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
	margin-bottom: 20px;
}
.Chartjs > h3 {
	position: relative;
	margin-bottom: 10px;
	color: #4A89C5;
}
.Chartjs.hidden-box {
	visibility: hidden;
	opacity: 0;
}
#embed-api-auth-container {
	font-size: 14px;
}
#view-selector-container {
	padding: 10px 0px;
	position: relative;
	font-size: 16px;
}
#view-name {
	font-size: 18px;
	width: 70%;
	display: inline-block;
	margin: 20px 0px;
}
#active-users-container {
	width: 20%;
	display: inline-block;
	font-size: 16px;
}
.ViewSelector2-item {
	position: relative;
	display: inline-block;
	width: 33%;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ViewSelector2-item select {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000;
	height: 32px;
	line-height: 32px;
}