
<div id="editor">
	<p>This editor is read-only.</p>
</div>

<button id="toggle">Toggle read-only mode</button>

<script>
	exportPdfUtils.initManualTest();

	var editor = CKEDITOR.replace( 'editor', exportPdfUtils.getDefaultConfig( 'manual', {
		readOnly: true
	} ) );

	CKEDITOR.document.getById( 'toggle' ).on( 'click', function() {
		editor.setReadOnly( !editor.readOnly );
	} );
</script>
